[2020-09-30 10:44] akshitagupta15june opened #1 "ANY IMPROVEMENTS IN MY PROJECT?"

[2020-09-30 10:44] akshitagupta15june opened #2 "CAN WE MAKE IT TO DETECT MULTIPLE FACES?"

[2020-09-30 10:45] akshitagupta15june opened #3 "HOW TO IMPROVE ITS FUNCTIONALITY?"

[2020-10-02 13:42] Palaash05 commented on #2
I would like to work on this project. I think I can solve this issue. I request you to please assign it to me.

[2020-10-02 13:44] akshitagupta15june commented on #2
Ok

[2020-10-02 13:46] akshitagupta15june opened #4 "Connect faces with database or datasheet to recognize."

[2020-10-02 14:13] 0tist commented on #4
could you please provide a sample of the functionality you wish to include in the project

[2020-10-02 14:18] akshitagupta15june commented on #4
Functionality like Connect name database with a particular person so when they are  in front of camera again there name shows , i am talking about multiple faces

[2020-10-02 14:42] karlangadas commented on #1
I would like to create an .env file in order to make the path easier to change for all users.

[2020-10-06 19:10] Palaash05 commented on #2
@akshitagupta15june  can I add some totally other code? I mean I have used a different library and it makes face detection really easy. I'll try to do it in real-time.

[2020-11-26 02:14] akshitagupta15june opened #6 "Improvements in face unlocking system."
Here in my project whenever a face matches with the faces database then it shows a string "FACE UNLOCK" else it shows only "FACE LOCKED". So sometimes the same face matches but it shows FACE LOCKED.

[2020-11-26 17:19] akshitagupta15june opened #7 "Develop a Python GUI for displaying Results."
Develop a Python GUI for displaying Results.
A Interactive GUI application using python (Tkinter) to show results

[2020-11-27 08:23] HardikArora17 commented on #6
Can I contribute to this issue?

[2020-11-27 08:25] akshitagupta15june commented on #6
Yes

[2020-11-27 08:25] akshitagupta15june commented on #6
Assigning you

[2020-11-27 08:40] akshitagupta15june opened #8 "Recognition using CNN"
Facial Recognition using Convolutional Neural Networks

[2020-11-28 03:40] Halix267 commented on #8
Can I work on this issue @akshitagupta15june

[2020-11-28 10:59] khushi0704 commented on #7
hey there ! I want to do this task . Can you assign me this ?

[2020-11-28 11:30] akshitagupta15june commented on #7
ok @khushi0704

[2020-11-28 11:31] akshitagupta15june commented on #8
ok @Halix267

[2020-11-28 12:43] akshitagupta15june commented on #8
Join Discord channel for discussion.
discord.gg/f9jftkcw

[2020-11-28 12:43] akshitagupta15june commented on #7
Join Discord channel for discussion.
discord.gg/f9jftkcw

[2020-11-28 12:44] akshitagupta15june commented on #6
Join Discord channel for discussion.
discord.gg/f9jftkcw

[2020-11-28 12:44] akshitagupta15june commented on #2
Join Discord channel for discussion.
discord.gg/f9jftkcw

[2020-11-28 13:48] khushi0704 commented on #7
yeah , will join asap !

[2020-11-29 06:01] khushi0704 commented on #7
@akshitagupta15june Hey I am trying to join to the discord group invite link but it shows invite invalid. Can you send it again ?

[2020-11-29 06:50] akshitagupta15june commented on #7
@khushi0704 https://discord.gg/rhh3kt89 here is the link

[2020-11-29 11:49] khushi0704 commented on #4
Please assign me this issue ?

[2020-11-29 12:20] akshitagupta15june commented on #4
ok

[2020-11-30 04:42] Halix267 commented on #8
Ok

[2020-12-01 07:02] subhangi2731 commented on #3
can you please assign this issue to me? @akshitagupta15june

[2020-12-01 07:19] akshitagupta15june commented on #3
Ok @subhangi2731

[2020-12-01 07:20] akshitagupta15june commented on #3
Join discord channel for discussion and queries

[2020-12-01 10:24] akshitagupta15june opened #9 "Guidelines for NJACK NW'oC Participants."
Issues have been raised with labels {"nwoc","beginner","Intermediate","hard"}

If you are familiar with the issue and you can solve it then you can comment there for assigning it to you.

For further queries and discussion please join the discord link mentioned in this repository readme.

Focus of open source programs are to help you learn, grow and develop, please make use of this opportunity.

V

[2020-12-01 12:08] Halix267 commented on #8
@akshitagupta15june when i try to join your discord, It is giving me error of invalid invite.

[2020-12-01 12:13] akshitagupta15june commented on #8
here is the link https://discord.gg/d5GfFfy8

[2020-12-01 12:15] akshitagupta15june opened #10 "Join discord link for discussion and queries NWo'C"
Link https://discord.gg/d5GfFfy8

[2020-12-02 17:39] ritikamishra01 commented on #2
can i get assigned for this issue @akshitagupta15june ?

[2020-12-02 18:03] akshitagupta15june commented on #2
Yes ofcourse

[2020-12-02 18:03] akshitagupta15june commented on #2
Join discord too for any queries

[2020-12-03 09:47] akshitagupta15june opened #11 "participants can add there name and github hande in Contribution.md"
After adding give a pull request.

https://github.com/akshitagupta15june/Face-X/blob/master/CONTRIBUTORS.md

[2020-12-04 09:18] Pranav016 commented on #11
Does this issue give any points?  😃

[2020-12-04 09:19] Pranav016 commented on #9
I would like to work on this issue.

[2020-12-04 09:21] akshitagupta15june commented on #11
no

[2020-12-04 09:43] akshitagupta15june commented on #9
this issue is just the guideline

[2020-12-06 16:56] Kerveyfelix opened #12 "Add CODEOFCONDUCT file"
All open-source projects have code of conduct file. Can I make this file for this project ?

[2020-12-06 16:57] Kerveyfelix opened #13 "Add issue template"
Can I make issue templates to enhance the workflow of the repository?

[2020-12-06 16:57] Kerveyfelix opened #14 "Add pull request template"
Can I add pull request template to this project to enhance the workflow of the repository?

[2020-12-06 17:06] akshitagupta15june commented on #12
Yes Ofcourse

[2020-12-06 18:53] akshitagupta15june commented on #14
yes ok

[2020-12-06 18:53] akshitagupta15june commented on #14
are u a nwoc participant?

[2020-12-06 18:54] akshitagupta15june commented on #13
yes ofcourse

[2020-12-07 06:20] Kerveyfelix commented on #14
Yes @akshitagupta15june

[2020-12-08 04:45] #12 closed

[2020-12-08 04:45] akshitagupta15june commented on #13
Ok

[2020-12-08 15:02] #13 closed

[2020-12-09 11:15] Kerveyfelix commented on #14
Yes

[2020-12-10 04:44] #14 closed

[2020-12-11 13:11] #8 closed

[2020-12-11 13:59] Halix267 opened #19 "Face Recognition using VGG-19"
@akshitagupta15june Can I work on this

[2020-12-11 14:01] akshitagupta15june commented on #19
Yes ofcourse

[2020-12-11 14:04] Halix267 opened #20 "Recognition using Resnet50"
@akshitagupta15june  Can  work on this?

[2020-12-11 14:07] akshitagupta15june commented on #20
OK assigning it to u

[2020-12-12 10:34] Halix267 opened #23 "Recognition using MobileNetV2"
@akshitagupta15june Can I work on this??

[2020-12-13 11:53] #19 closed

[2020-12-13 11:55] #20 closed

[2020-12-14 00:18] ashwani-rathee commented on #7
@akshitagupta15june can I work on this?No PR has been submitted in last 15 days

[2020-12-14 00:32] ashwani-rathee opened #26 "Recognition using FisherFaceRecogniser"
Doing the FaceRecognition using  FisherFaceRecogniser class in OpenCV

[2020-12-14 00:33] ashwani-rathee opened #27 "Recogntion using EigenFaceRecogniser"
Doing the FaceRecognition using EigenFaceRecogniser iin OpenCV

[2020-12-14 00:38] ashwani-rathee opened #28 "Recognition using MTCNN"
Doing the face recognition using MTCNN

[2020-12-14 00:40] ashwani-rathee opened #29 "Recognition using FaceNet"
Doing the face recognition using FaceNet

[2020-12-14 06:18] akshitagupta15june commented on #7
ok

[2020-12-14 06:19] akshitagupta15june commented on #26
create a seprate folder for this in the repo

[2020-12-14 10:28] ashwani-rathee commented on #29
Hey @akshitagupta15june ,Can I work on this now??

[2020-12-14 11:21] akshitagupta15june commented on #29
Yes @ashwani-rathee

[2020-12-14 11:26] ashwani-rathee commented on #29
@akshitagupta15june  Do I need to collect my own data like before,or I can use other datasets??
Also Do I have to write scripts or can I write Jupyter Notebook??or both maybe

[2020-12-14 11:32] akshitagupta15june commented on #29
Anything in which u are comfortable

[2020-12-14 11:33] akshitagupta15june commented on #29
Make sure to make a proper readme file along with every pull request showing all procedure and output

[2020-12-15 04:11] utkarsh0702 commented on #27
Can I try it?

[2020-12-15 04:18] ashwani-rathee commented on #27
Well,I want to do it,because I'm lagging behind in points...as nobody is willing to give up their own issue which they haven't submitted PRs in even 10 days.But If I go that way,It would be against the spirit of opensource....so from my side you can go ahead, @akshitagupta15june can only assign you,so there is that.

[2020-12-15 04:25] utkarsh0702 commented on #27
@ashwani-rathee Thank you for giving the opportunity. Truly speaking this would be my first issue to work on.

[2020-12-15 12:59] ParthPathak27 commented on #28
I would like to work on this issue

[2020-12-15 13:03] ParthPathak27 commented on #28
I would like to work on this issue.

[2020-12-15 14:04] ashwani-rathee commented on #28
@ParthPathak27 already working on it mate

[2020-12-15 14:39] ashwani-rathee commented on #26
Readme has been added.

[2020-12-15 14:58] akshitagupta15june commented on #26
Done

[2020-12-15 14:58] #26 closed

[2020-12-15 14:59] akshitagupta15june commented on #27
@ashwani-rathee assigning it to u

[2020-12-15 15:56] #23 closed

[2020-12-15 15:58] Halix267 opened #33 "Face Recognition using DenseNet121"
@akshitagupta15june Can I work on this?

[2020-12-15 15:59] akshitagupta15june commented on #33
Sure

[2020-12-15 15:59] akshitagupta15june commented on #33
Hey add your name in contributing.md

[2020-12-15 15:59] akshitagupta15june commented on #33
And give a Pull Request

[2020-12-15 16:00] Halix267 opened #34 "Face Recognition using EfficientNetB0"
@akshitagupta15june Can I work on this

[2020-12-15 16:02] Halix267 commented on #33
Ok sure

[2020-12-15 16:05] Halix267 commented on #33
@akshitagupta15june done

[2020-12-15 16:20] Halix267 commented on #33
@akshitagupta15june Can u assign it to me ?

[2020-12-15 16:25] ashwani-rathee opened #36 "Face Recognition in Julia"
I wanted to ask if it would be okay to add the face recognition program in a different language completely as I'm more comfortable/native with julia as of now.

[2020-12-16 08:04] #27 closed

[2020-12-16 08:05] akshitagupta15june commented on #34
YES

[2020-12-16 08:30] ashwani-rathee commented on #28
MTCNN and FaceNet works for different parts of the same problem and can be used together to solve the problem of FaceRecognition,so closing #29

[2020-12-16 08:31] ashwani-rathee commented on #29
@akshitagupta15june it can be closed,I would be using both MTCNN and FaceNet for the same purpose

[2020-12-16 08:32] akshitagupta15june commented on #29
ok @ashwani-rathee have you checked your points?

[2020-12-16 08:32] #29 closed

[2020-12-16 08:39] ashwani-rathee commented on #29
Yeah I have!!They have already been updated,thank you

[2020-12-16 08:56] ashwani-rathee opened #38 "Recognition using Xception"
Could be interesting to work on

[2020-12-16 08:56] ashwani-rathee opened #39 "Recognition using InceptionV3"
Could be interesting to explore and implement too

[2020-12-16 08:57] ashwani-rathee opened #40 "Recognition using NasNet"
could be worth working on

[2020-12-16 09:13] akshitagupta15june commented on #39
ok

[2020-12-23 06:35] #34 closed

[2020-12-24 07:46] #33 closed

[2020-12-25 14:15] Aayush-hub opened #43 "Bug report"
**Describe the bug**
After installing all dependencies ,code always  shows same error ***AttributeError: module 'cv2.cv2' has no attribute 'face'.***

**To Reproduce**
Steps to reproduce the behavior:
1. Fork the repository.
2. Run ***facial_recognition_part1.py*** to collect data.
2. Then run ***facial_recognition_part2.py***.
3. pip install opencv-contrib-python, if it shows access denied ,try u

[2020-12-25 14:26] akshitagupta15june commented on #43
Hi @Aayush-hub
You need to install opencv-contrib

pip install opencv-contrib-python
It should work after that.

[2020-12-25 15:18] Aayush-hub commented on #43
@akshitagupta15june  Already done that! But the error continues.

[2020-12-26 05:54] akshitagupta15june commented on #40
I think implementation should be separate

[2020-12-26 09:00] #1 closed

[2020-12-26 09:00] #2 closed

[2020-12-26 09:17] akshitagupta15june commented on #43
Ok @Aayush-hub i will have a look in this.
In my pycharm it is working fine but surely i am looking at the issue.

[2020-12-26 09:18] akshitagupta15june commented on #43
+2 for creating issue of bug report

[2020-12-26 16:47] akshitagupta15june opened #46 "Face detection using dlib HOG"

[2020-12-26 16:48] akshitagupta15june opened #47 "Face recognition and detection using Random forest and combination of LBP and HOG features"

[2020-12-26 16:56] akshitagupta15june opened #48 "Facial Recognition Attendance Management System"

[2020-12-26 16:59] akshitagupta15june opened #49 "Face-x Readme Improvement"

[2020-12-26 17:05] akshitagupta15june opened #50 "FACE DETECTION AND RECOGNITION USING RASPBERRY PI"

[2020-12-26 19:17] IshetaBansal commented on #49
Hi!
I would love to work on the Readme file. Please assign it to me. Thank you :)

[2020-12-26 20:46] koushik2001 commented on #40
Can I work on this issue?

[2020-12-27 05:30] Halix267 commented on #46
Can I take this @akshitagupta15june

[2020-12-27 05:31] Halix267 commented on #50
Can I work on this @akshitagupta15june

[2020-12-27 05:35] Halix267 commented on #47
@akshitagupta15june  I am confused about this issue that what does it meant by combination of LBP and HOG features. Plzz resolve my query..

[2020-12-27 07:45] akshitagupta15june commented on #47
Hi the upcoming issues are for dwoc participants

[2020-12-27 07:56] #36 closed

[2020-12-27 08:02] akshitagupta15june opened #51 "Guidelines for contribution in face-x"
1) Solve issue in which you are comfortable and comment so I will assign that issue to you.

2) Create a Pull Request along with a proper readme file showing all the output and procedure.

3) Mention the issue which you have solved.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A cle

[2020-12-27 08:11] akshitagupta15june opened #52 "Face Tracking Using Arduino"
Python does the image processing, Arduino controls the servo motors.
An awesome IOT implementation.

[2020-12-27 08:31] akshitagupta15june opened #53 "Cartoonifying a face image"
Converting a facial Image to Cartoon Using OpenCV

Some basic steps.

importing libraries
Reading the input image
Detecting edges in the image
Converting into grayscale & applying the medium blur
Cartoonifying the image

[2020-12-27 09:18] akshitagupta15june commented on #40
Yes , assigning to u

[2020-12-27 09:19] akshitagupta15june commented on #49
Yes , assigning to u

[2020-12-27 09:19] akshitagupta15june commented on #49
Are u a dwoc participant

[2020-12-27 10:59] Halix267 commented on #47
Ok

[2020-12-27 12:10] SoyabulIslamLincoln commented on #53
I want to work on this issue.

[2020-12-27 12:11] SoyabulIslamLincoln commented on #53
Can I work on more than one issues?

[2020-12-27 12:13] akshitagupta15june commented on #53
Assigning to u

[2020-12-27 12:13] akshitagupta15june commented on #53
Are u a dwoc participant?

[2020-12-27 12:16] SoyabulIslamLincoln commented on #53
Yes I am DWOC particiapnt.

[2020-12-27 12:16] SoyabulIslamLincoln commented on #53
Yes I am dwoc participant.

[2020-12-27 12:27] SoyabulIslamLincoln commented on #53
Can i apply for another issue @akshitagupta15june ?

[2020-12-27 14:29] smriti1313 commented on #52
Hi, what are we suppose to do in this? Like provide you with a code or what?
Thanks

[2020-12-27 14:31] akshitagupta15june commented on #52
Yes all implementation

[2020-12-27 14:33] #7 closed

[2020-12-27 15:02] smriti1313 commented on #52
As per my knowledge regarding python and arduino, then there will be one file having python code and other arduino code. I can include software requirements and libraries used. Is there anything that i am missing?

[2020-12-27 15:04] akshitagupta15june commented on #52
Yes correct
Try to make a good readme showing all procedures+ output

[2020-12-27 15:44] SoyabulIslamLincoln commented on #40
I want to work on this issue. It would be great if you assign me on to it.

[2020-12-27 15:47] akshitagupta15june commented on #40
@ashwani-rathee is already working in this.
@SoyabulIslamLincoln you can find different issue.

[2020-12-27 15:52] SoyabulIslamLincoln commented on #40
Oh. Alright

[2020-12-27 15:54] SoyabulIslamLincoln commented on #38
This is an interesting issue. I want to work on it. I am a dwoc participant. Would you assign me this issue?

[2020-12-27 15:54] akshitagupta15june commented on #53
Yes let me know

[2020-12-27 15:59] SoyabulIslamLincoln commented on #53
I have a question. I am new to open source contribution. I have pulled a request to merge. And merged it. The uploaded file is showing in the git repo that I forked from you. But not in maser branch. It would be very kind if you make me understand the process.

[2020-12-27 16:09] akshitagupta15june commented on #53
Yeah the file which u have to merged it should to akshitagupta15june@gmail: master

[2020-12-27 16:11] akshitagupta15june commented on #53
Like i am showing you a screenshot of pr
![Uploading Screenshot_2020-12-27-21-40-06-714_com.android.chrome~2.jpg…]()

[2020-12-27 16:38] ashwani-rathee commented on #40
I will try submit a pr tommorrow,just was caught up in exams..

[2020-12-27 16:39] IshetaBansal commented on #49
Thanks a lot :)
And yes, I am a DWOC participant.

[2020-12-27 16:40] IshetaBansal commented on #49
Any specific things you would like me to focus on?
I would like to know what all you expect.
Thank you :)

[2020-12-27 16:43] akshitagupta15june commented on #49
Yes
Try to include various algorithms which are already implemented in this repo.
So that contributors can have a look at them.

[2020-12-27 20:44] smriti1313 commented on #52
I got your points. How am i suppose to show output?I have no hardwares right now. I will be going to try for this issue so can you assign this to me please? Thank you

[2020-12-28 04:12] SoyabulIslamLincoln commented on #53
Hello @akshitagupta15june . I have resolved the problem. If you check that and tell me, it would be great.

[2020-12-28 04:19] smriti1313 commented on #50
Hi, can i work on this?

[2020-12-28 04:21] akshitagupta15june commented on #53
@SoyabulIslamLincoln Awesome work!

Yes i have seen it and will merge your pr.
I will not close issue because more contributor will like to implement it with new features.

[2020-12-28 04:21] akshitagupta15june commented on #53
And regardling points that willl be updated in backend by the organisers of dwoc.

[2020-12-28 04:25] akshitagupta15june commented on #50
Ok @smriti1313 are u a dwoc participant

[2020-12-28 04:26] smriti1313 commented on #50
Yes

[2020-12-28 04:44] SoyabulIslamLincoln commented on #53
That's great. I will also work on it for creating a web app like one can upload their image and video , cartoonify it and download it. Do I have permission to work ma'am?

[2020-12-28 04:45] akshitagupta15june commented on #53
Great idea!
I am creating an issue and will assign it to u

[2020-12-28 04:45] akshitagupta15june commented on #53
Yeah a GUI will be perfect for this

[2020-12-28 04:46] SoyabulIslamLincoln commented on #53
It is very kind of you. Thanks a lot.

[2020-12-28 04:48] akshitagupta15june opened #57 "GUI for cartoonification of facial image"
GUI for converting a facial image to a cartoonified image.

[2020-12-28 04:52] SoyabulIslamLincoln commented on #57
Great. Thanks a lot @akshitagupta15june

[2020-12-28 05:12] akshitagupta15june opened #59 "Real-Time Liveness Based Face Recognition System"
use one of the modern ways of face recognition with a spoofing detection (eye blink based) algorithm to show whether the user is drowsy or not.

[2020-12-28 06:01] koushik2001 commented on #59
Can you please elaborate more on this issue. Do you need an eye blink detection system or a drowsiness detection system?

[2020-12-28 09:07] #52 closed

[2020-12-28 09:12] smriti1313 commented on #52
Hi, I have seen project mentors giving "dwoc-accepted" label. I have no idea about this but i guess that its necessary for dwoc participants. Kindly check for that. Thank you for giving me a chance

[2020-12-28 09:34] akshitagupta15june commented on #52
Let me ask from organizer.

[2020-12-28 12:24] akshitagupta15june commented on #52
@smriti1313 can you please tell me which repo had dwoc-accepted tag?

[2020-12-28 12:49] smriti1313 commented on #52
Yeah. check [this](https://github.com/swapnilsparsh/Rescue/issues?q=is%3Aissue+is%3Aclosed)

[2020-12-28 13:06] saiharsha-22 opened #61 "Collobrating Tkinter GUI for face recognistion using LBPH(Feature request)"
Can create a small Graphical user interface were, using Tkinte. Were it will be easy for the user to use the  sytstem. I would like to add GUI for face recongnisiton using LBPH algo

For Sample GUI:
![Screenshot (121)](https://user-images.githubusercontent.com/61947484/103216234-8b115880-493b-11eb-9a76-973a4bbe8cd1.png)

[2020-12-28 13:07] saiharsha-22 commented on #61
@akshitagupta15june  I am participant of Swoc 2021. If it finds useful can assign this issue to me, I would like to work on this.

[2020-12-28 13:30] akshitagupta15june commented on #61
That will we Great you can work in this
Assigning to u.

[2020-12-28 13:31] akshitagupta15june commented on #61
As the program will be starting from 5th jan so pr will be merged after that.

[2020-12-28 13:32] akshitagupta15june commented on #59
If it drowsiness then it will be Awesome

[2020-12-28 13:32] akshitagupta15june commented on #59
Are you a swoc participant?

[2020-12-28 13:45] saiharsha-22 commented on #61
@akshitagupta15june  I will start working on the issue now and I will send pull request on jan 5th.

[2020-12-28 13:55] koushik2001 commented on #59
Yes

[2020-12-28 13:58] koushik2001 commented on #59
Can you assign this issue to me?

[2020-12-28 14:02] akshitagupta15june commented on #59
Ok sure

[2020-12-28 14:03] akshitagupta15june commented on #61
Awesome

[2020-12-28 14:13] akshitagupta15june opened #62 "Detect facial biometric"
Detect eyes, nose, lips, and jaw with dlib, OpenCV, and Python

After detection draw a rectangle at every biometric.

Give a proper readme file explaining the procedure.

[2020-12-28 14:18] akshitagupta15june opened #63 "Realtime Emotion recognition."
Realtime Emotion recognition using facial expressions analysis.

[2020-12-28 14:24] akshitagupta15june opened #64 "3D facial reconstruction of based on OpenCV and DirectX"
3D face reconstruction is a fundamental Computer Vision problem of extraordinary difficulty.

CNN architecture that performs direct regression of a volumetric representation of the 3D facial geometry from a single 2D image.

[2020-12-28 14:51] Aayush-hub commented on #63
@akshitagupta15june Can you please assign me this issue?. I want to work on it.

[2020-12-28 14:53] Aayush-hub commented on #62
I want to work on it. Can you please assign me this?

[2020-12-28 14:53] Aayush-hub commented on #62
@akshitagupta15june I want to work on it. Can you please assign me this?

[2020-12-28 15:06] tharunc commented on #49
Hello there,
       I would like to work on the readme.md file issue . Can you please assign it to me.

[2020-12-28 16:14] akshitagupta15june commented on #62
@Aayush-hub This issue is for swoc participants.

[2020-12-28 16:15] akshitagupta15june commented on #49
Hi this issue is already assigned to @IshetaBansal

[2020-12-28 16:16] akshitagupta15june commented on #49
You can work on diff issues which are not assigned to anyone of dwoc

[2020-12-28 16:20] #50 closed

[2020-12-28 16:51] Aayush-hub commented on #62
@akshitagupta15june Mam, I am also a SWOC participant.

[2020-12-28 16:52] akshitagupta15june commented on #62
Oh ok I am sorry. I am assigning it to u

[2020-12-28 16:54] Aayush-hub commented on #62
@akshitagupta15june Mam can I work on more than 1 issue? As I want to also work on #63 Emotion Recognition from the same code base.

[2020-12-28 17:01] akshitagupta15june opened #66 "Snapchat Filters using OpenCV"
Snapchat Filter using OpenCV

![image](https://user-images.githubusercontent.com/57909583/103230588-d50a3680-495b-11eb-8f8f-a99d8ad20231.png)
![image](https://user-images.githubusercontent.com/57909583/103230821-624d8b00-495c-11eb-8067-728243e8bed3.png)

A very fun issue to contribute.

We will create our own filters on our facial images.

This issue will not be closed so many pull request. are we

[2020-12-28 17:10] akshitagupta15june opened #67 "GUI for Snapchats Filter in a face image"
A GUI webapp that can show some funny filters in real time along with a capture button.

[2020-12-28 17:11] Aayush-hub commented on #62
@akshitagupta15june Mam , Can I submit PR for this issue before 5th January 2021?

[2020-12-28 18:27] smriti1313 commented on #48
Hi, Can I give it a try please? It would be geat if you could assign this to me.

[2020-12-28 18:52] aditi-saxena-1206 commented on #63
I wish to work on this issue as part of SWOC.

[2020-12-28 20:05] Karnak123 commented on #64
May I be assigned this issue? It seems really interesting

[2020-12-29 04:03] Sameera-Aryasomayajula commented on #46
Can I please work on this issue

[2020-12-29 06:34] Defcon27 commented on #66
I am a SWOC participant, so can I work on this issue

[2020-12-29 06:37] ritikchinu commented on #66
I want to work on this, so if you can assign it to me

[2020-12-29 07:53] akshitagupta15june commented on #66
ok assigning to u both

[2020-12-29 07:54] akshitagupta15june commented on #63
ok assigned to u

[2020-12-29 07:57] akshitagupta15june commented on #64
yes ok assigning it to u

[2020-12-29 07:57] akshitagupta15june commented on #48
ok assigning it to u

[2020-12-29 08:14] amandp13 commented on #53
@akshitagupta15june Ma'am I would like to work on this issue as a part of SWOC 2021.

[2020-12-29 09:06] akshitagupta15june commented on #53
ok

[2020-12-29 09:37] akshitagupta15june opened #68 "Virtual Makeover of a face by facial landmark detection."
![image](https://user-images.githubusercontent.com/57909583/103274186-1562c680-49e7-11eb-8be9-e42522724692.png)

We have seen in instagram and snapchat the virtual makeover.

The detected landmarks of faces are used to the calculate contours of the mouth, eyes etc. to add makeup shades virtually.

[2020-12-29 13:03] Aayush-hub commented on #68
@akshitagupta15june Mam, I want to work on this, can you please assign me this issue?

[2020-12-29 13:14] Karnak123 commented on #64
Hi, just want to clarify on the problem, I have to implement a CNN which will take input of some image or some landmarks detected using OpenCV and output a mesh, or do I have to work on the display using DirectX also?

[2020-12-29 13:20] akshitagupta15june commented on #64
both

[2020-12-29 13:20] akshitagupta15june commented on #64
read some online available papers they will help you

[2020-12-29 15:11] SoyabulIslamLincoln commented on #47
Hi @akshitagupta15june . I want to work on this. can you assign me this task?

[2020-12-30 03:08] SoyabulIslamLincoln commented on #57
Hello @akshitagupta15june . I have created a pull request. Can you please check it and see if its okay? Thanks a lot.

[2020-12-30 04:38] Halix267 opened #70 "Emotion Detection using OpenCV"
Can I work on this as nwoc participant @akshitagupta15june

[2020-12-30 10:16] RaghavModi commented on #66
Hello, I am a SWOC participant. I would like to contribute to this project.
Can you assign me this issue?

[2020-12-30 10:22] akshitagupta15june commented on #66
yeah sure

[2020-12-30 13:59] Aayush-hub commented on #62
@akshitagupta15june  Mam, can I create PR before 5th Jan. 2021?, so that I can work on other issues too!. Will it be counted towards SWOC's successfull contribution??

[2020-12-30 14:46] musavveer opened #71 "Add greetings action"
I would like to add a Github Action for greeting new contributors with :
- New PR
- New Issue
Do assign it to me @akshitagupta15june

[2020-12-30 15:57] akshitagupta15june commented on #62
yes you can create but it will be merged after 5th jan

[2020-12-30 16:04] akshitagupta15june commented on #70
hi there is already an issue #63 so its been already opened and i think someone is assigned in it.

[2020-12-30 16:04] #70 closed

[2020-12-30 16:05] akshitagupta15june commented on #71
Awesome! so you are a nwoc or swoc or dwoc participant?
let me know

[2020-12-30 16:06] SoyabulIslamLincoln commented on #38
Hi @akshitagupta15june is anyone working on this issue. If not,  I am interested working with it.

[2020-12-30 16:08] musavveer commented on #71
DWOC

[2020-12-30 16:09] musavveer commented on #71
Include DWOC Label

[2020-12-30 16:10] akshitagupta15june commented on #38
ok assigning

[2020-12-30 16:11] akshitagupta15june commented on #71
sure

[2020-12-30 16:11] akshitagupta15june commented on #71
is it ok @musavveer

[2020-12-30 16:12] musavveer commented on #71
Thanks 😊

[2020-12-30 18:32] sejalsksagar commented on #39
I would like to work on any of these models. Please assign me incase its free.

[2020-12-30 18:40] akshitagupta15june commented on #39
@ashwani-rathee is working on this.

[2020-12-30 18:42] #71 closed

[2020-12-31 07:15] smriti1313 commented on #48
Hi, can i get 2 more days please?

[2020-12-31 07:15] akshitagupta15june opened #74 "Github actions for project enhancements"
Github actions for project enhancements
Before assigning let me know what kind of action will you implement in the project.

[2020-12-31 11:17] rawCode4U commented on #53
@akshitagupta15june  please assign this issue to me i want to work on it

[2020-12-31 14:14] akshitagupta15june commented on #53
OK @rawCode4U
are you an dwoc or swoc or nwoc participant?

[2020-12-31 14:55] rawCode4U commented on #53
I am DWOC participant

On Thu, Dec 31, 2020, 7:44 PM AKSHITA GUPTA <notifications@github.com>
wrote:

[2020-12-31 14:56] akshitagupta15june commented on #53
ok @rawCode4U

[2021-01-01 07:53] Bhagyashri2000 commented on #47
Hi @akshitagupta15june   I would like to work on this issue. I'm DWoC participant.

[2021-01-01 07:53] akshitagupta15june commented on #47
ok @Bhagyashri2000

[2021-01-01 16:07] koolgax99 commented on #66
Hello, I am an SWoC participant. Can you please assign me this issue.

[2021-01-01 16:15] koolgax99 commented on #66
hello @akshitagupta15june can you please assign me this issue.

[2021-01-02 04:25] akshitagupta15june commented on #66
Yeah sure

[2021-01-02 07:42] rsrkpatwari1234 opened #75 "Recognition using SIFT algorithm"
Scale Invariant Feature Transform is an important algorithm in Computer Vision for describing the local features of an image.I tested it for applying localisation using feature detection.

https://en.wikipedia.org/wiki/Scale-invariant_feature_transform provides the rough idea of this method. I think we should try out this algorithm for face detection as well

[2021-01-02 07:49] muthuannamalai12 opened #76 "Add Contributors.md and Modify README.MD file"
Hai,
I would love to add the Contributors.md file to your project in the form of a table and display a link to it in the README.md file. I would also add a link to the Code of Conduct in README.md. If you like I can also add badges for forks, open issue, and pull request in README.md

[2021-01-02 07:49] muthuannamalai12 commented on #76
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-02 07:50] rsrkpatwari1234 opened #77 "Facial recognition using SURF"
SURF is another robust algortihm used for robust classification of 3d constructions.

We should try out this algorithm as well for recognising facial expressions

Reference : https://people.ee.ethz.ch/~timofter/publications/Knopp-ECCV-2010.pdf

[2021-01-02 07:52] rsrkpatwari1234 commented on #75
@akshitagupta15june I would like to work on this issue under Njack IIT Patna.Please assign it to me.

[2021-01-02 07:54] rsrkpatwari1234 commented on #77
@akshitagupta15june I would like to work on this issue  under Njack IIT Patna. Please assign this issue to me.

[2021-01-02 07:56] rsrkpatwari1234 opened #78 "Adding Comparative study of all algorithms in Readme"
Different algortihms have been used for facial recognition and expression analysis. I want to add a comparative study of all these algorithms in Readme to show working on the current data set.

[2021-01-02 07:57] rsrkpatwari1234 commented on #78
@akshitagupta15june please assign this issue and its opening scores to me under njack it patna

[2021-01-02 08:43] akshitagupta15june commented on #78
ok

[2021-01-02 08:44] akshitagupta15june commented on #77
sure i am assigning

[2021-01-02 08:44] akshitagupta15june commented on #75
sure

[2021-01-02 08:47] akshitagupta15june commented on #49
@IshetaBansal are you working on this issue?

[2021-01-02 13:56] rsrkpatwari1234 commented on #78
Hey @akshitagupta15june !! Can you please provide me the score for generating the 3 issues till then under njack iit patna ? Since it is about to end, idk if I will be able to generate the PR by then. In that case, you can give me scores for PR under swoc separately. Please let me know if this works ?

[2021-01-02 14:20] akshitagupta15june commented on #78
ok i will give them 2+2+2=6

[2021-01-02 18:45] #28 closed

[2021-01-03 07:16] Halix267 opened #84 "Recognition using EfficientNetB1,EfficientNetB2 and EfficientNetB3"
@akshitagupta15june Can i work on this as a nwoc participant

[2021-01-03 07:17] Halix267 commented on #40
Can I give it a try , if this issue is free @akshitagupta15june

[2021-01-03 07:29] IshetaBansal commented on #49
Yes Ma'am
It'll be complete by tomorrow evening. Sorry if it got delayed.

[2021-01-03 09:01] ashwani-rathee commented on #40
Hey @Halix267 ,I am still on it :)

[2021-01-03 18:13] Aayush-hub commented on #66
@akshitagupta15june Mam I want to work on it, can you please assign me this?

[2021-01-04 11:01] saiharsha-22 commented on #61
@akshitagupta15june

Can you please check the GUI setup and Working of GUI once. I have attached a video below, and let me know if any changes required.
https://user-images.githubusercontent.com/61947484/103528536-265d7d00-4eaa-11eb-8b38-e1c68b9d1be2.mp4

[2021-01-04 12:41] akshitagupta15june commented on #61
awesome @saiharsha-22

[2021-01-04 12:42] akshitagupta15june commented on #61
keep going!

[2021-01-04 12:44] saiharsha-22 commented on #61
@akshitagupta15june  any modifications? required?. Because tomorrow I would like to send a pull request. For Pull Request should I make a new folder for this project or in any existing folder?

[2021-01-04 12:47] akshitagupta15june commented on #61
please create a new folder

[2021-01-04 12:49] saiharsha-22 commented on #61
@akshitagupta15june  Ok I will create a new Folder named. GUI_for_Face Recognistion_using_LBPH_algo is it fine?

[2021-01-04 12:49] akshitagupta15june commented on #61
yup

[2021-01-04 14:34] Aayush-hub commented on #67
@akshitagupta15june I want to work  on it, can you please assign me this.

[2021-01-05 04:57] saiharsha-22 commented on #61
@akshitagupta15june I have sent PULL Request #88

[2021-01-05 13:53] mayank8200 opened #89 "Exploring Face Detection Models"
Face detection is the first step you need to work on.
So..The first task for you all will be exploring different algorithms that are used for face detection...
We can use the pre-trained face detection model.

[2021-01-05 14:13] spursbyte opened #90 "Recognition Using Inception V3 model.[SWOC21]"
Inception v3 can be used to provide better results.So kindly assign me this issue.

[2021-01-05 18:09] #76 closed

[2021-01-05 19:01] keshav340 opened #91 "Face Recoginition using VGG16"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-01-05 19:48] spursbyte commented on #90
Can you assign me this.I am a participant at SWOC21

[2021-01-06 03:21] saiharsha-22 opened #92 "Create one snapchat filters folder."
**Describe the bug**
Instead of having multiple folders for snapchat filters we can have a single folder for snapchat filters and a single images asset folder so that contributors can add on that folder

**Additional details**
If we add a single folder for snap chat filters in future if a person wants to work on GUI for that it will be easy  to create a GUI using those filters.

[2021-01-06 05:44] akshitagupta15june commented on #92
OK @saiharsha-22 CAN YOU DO THE SAME

[2021-01-06 05:50] saiharsha-22 commented on #92
@akshitagupta15june Thank you for assigining the issue. I will try to solve this issue as fast as possible so that contributors can add their, contributioins in snap chat filters section.

[2021-01-06 05:52] akshitagupta15june commented on #92
hi @saiharsha-22 i have solved that because i had to change something in that

[2021-01-06 05:52] akshitagupta15june commented on #92
thanku for the report you can work on different issue or any issue if you need to add in the project

[2021-01-06 05:53] saiharsha-22 commented on #92
@akshitagupta15june Ok

[2021-01-06 05:55] #92 closed

[2021-01-07 12:28] muthuannamalai12 opened #95 "Integrate welcome bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

Please assign it to me.

[2021-01-07 12:29] muthuannamalai12 commented on #95
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 17:43] #53 closed

[2021-01-08 16:41] hpnightowl commented on #91
can i take this issue ? as am the participant of SWOC 2021

[2021-01-09 03:23] #95 closed

[2021-01-11 09:41] keshavbansal015 commented on #89
Hey, @mayank8200 could you please elaborate on this issue?

[2021-01-11 09:43] mayank8200 commented on #89
Yes..If you look for face detection models over the Internet a bunch of models has been already trained. You just need to go through some of popular pretrained models and find out which one has superior accuracy among all.
If you want any resources then let me know. I will try to provide you.

[2021-01-11 09:46] keshavbansal015 commented on #89
Sure, do share some resources from where I can start exploring and learning. Also thank you for a prompt response!!

[2021-01-11 11:12] akshitagupta15june commented on #89
@keshavbansal015 Would you like to work in this issue so i will assign you under swoc?

[2021-01-11 11:17] keshavbansal015 commented on #89
Sure, I can first try adding popular algorithms or models for face detection, and then move on to creating modules to compare the performances of different methods. I might need some help though.

[2021-01-11 11:18] akshitagupta15june commented on #89
most of recognition algos are available in repo so have a look at them too

[2021-01-11 11:30] keshavbansal015 commented on #89
Yes, I can work models that are not currently available in the repo.

[2021-01-12 13:50] Karnak123 opened #97 "Recognition using GhostNet"
**Is your feature request related to a problem? Please describe.**
Create a facial recognition system using GhostNet as the backend model.

**Describe the solution you'd like**
- Create a dataset using OpenCV
- Train a model using GhostNet pretrained weights on PyTorch to recognize different faces
- Implement a lightweight face recognition system live for testing purposes

**Describe alternatives

[2021-01-12 13:51] Karnak123 commented on #97
Please assign this issue to me

[2021-01-12 13:52] akshitagupta15june commented on #97
sure

[2021-01-12 21:16] Sloth-Panda opened #98 "Readme updation"
Readme can be updated by adding various open-source programs and gifs

Let me know if this needs to be done

[2021-01-13 15:49] pawankm21 commented on #90
Can you assign it to me?

[2021-01-14 07:26] SinghShreya05 commented on #47
Ma'am is this issue still open? I'll like to work under SWOC label. @akshitagupta15june

[2021-01-14 07:51] SinghShreya05 commented on #62
@akshitagupta15june Ma'am I'll like to contribute in this issue, if it's still open, please assign me.

[2021-01-14 08:28] TanweerulHaque commented on #63
Can I proceed with the same, I can do the work. I am an SWoC participant @akshitagupta15june  ??

[2021-01-14 08:53] Aayush-hub commented on #62
@SinghShreya05 @akshitagupta15june  I have worked on it and will make PR soon!

[2021-01-14 13:29] akshitagupta15june commented on #47
hi @SinghShreya05 i think @Bhagyashri2000 is working on this.

[2021-01-14 13:30] akshitagupta15june commented on #63
hi @TanweerulHaque  i think @aditi-saxena-1206 is working on this.

[2021-01-14 13:46] Halix267 opened #100 "Create a welcome bot for the repo."
**Is your feature request related to a problem? Please describe.**
Welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request.

[2021-01-14 13:47] Halix267 commented on #100
@akshitagupta15june  Can i work on this as SWOC participant

[2021-01-14 13:50] akshitagupta15june commented on #100
HI @Halix267 github actions are already implemented in this repo

[2021-01-14 13:50] #100 closed

[2021-01-14 13:50] akshitagupta15june commented on #100
You can think of new enhancements

[2021-01-14 13:52] akshitagupta15june commented on #98
Hi thankyou!
The open source programs in which this project was part of were
NWOC
DWOC
SWOC
DSC IIT KALYANI WINTER OF CODE
UACEIT WINTER OF CODE

[2021-01-14 14:25] aditi-saxena-1206 commented on #63
Yeah I am. Just trying to get a better accuracy.

On Thu, 14 Jan 2021, 19:00 AKSHITA GUPTA, <notifications@github.com> wrote:

[2021-01-14 22:14] Sloth-Panda opened #102 "Implementation of welcome bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-15 04:29] samir-0711 opened #103 "Add Contributors Table in README.md"
Like this
![image](https://user-images.githubusercontent.com/68433936/104681444-57467900-5718-11eb-97a2-4252238e88c8.png)

[2021-01-15 04:29] samir-0711 commented on #103
I would like to work on this.

[2021-01-15 07:15] akrish4 opened #105 "README BADGES"
Hi @akshitagupta15june

I can add nice looking readme badges and align the heading to center also

I would be glad to work on it if you are interestedvin

Kindly do assign me

![readme1](https://user-images.githubusercontent.com/61831021/104693469-b8c61200-572f-11eb-888b-1d1daed1f549.PNG)

The above image is an example

[2021-01-15 15:41] #97 closed

[2021-01-15 16:49] #47 closed

[2021-01-16 05:02] akshitagupta15june commented on #102
ok great assigning you

[2021-01-16 05:03] akshitagupta15june commented on #103
ok @samir-0711 assingning you

[2021-01-16 05:04] akshitagupta15june commented on #105
ok assigned it to u

[2021-01-16 05:53] Sloth-Panda opened #109 "Creation of contributing file"
There is no contributing file -> the file named contributon.md only contains contributors

let me know

[2021-01-16 05:59] Sloth-Panda commented on #102
pr -> #110

[2021-01-16 07:32] #102 closed

[2021-01-16 07:38] akshitagupta15june commented on #109
there is a contribution file https://github.com/akshitagupta15june/Face-X/blob/master/Contribution.md

[2021-01-16 07:38] #109 closed

[2021-01-16 08:38] akrish4 commented on #105
Kindly do add the DWOC and Level label for DWOC
and also easy or medium label for SWOC @akshitagupta15june

[2021-01-16 08:40] akshitagupta15june commented on #105
done

[2021-01-16 08:45] akrish4 commented on #105
yes thank you @akshitagupta15june
even SWOC also have the `easy` or `medium` and `hard` label

Kindly add anyone label also so it gets counted towards SWOC

[2021-01-16 10:12] samir-0711 commented on #103
Kindly do add the DWOC and Level label for DWOC.
And also add the easy or medium or hard label for SWOC.
Thank You

[2021-01-16 10:52] #103 closed

[2021-01-16 15:29] #3 closed

[2021-01-16 15:32] akshitagupta15june opened #112 "3D facial reconstruction based on OpenCV and DirectX"
3D face reconstruction is a fundamental Computer Vision problem of extraordinary difficulty.

CNN architecture that performs direct regression of a volumetric representation of the 3D facial geometry from a single 2D image.

[2021-01-16 15:33] #43 closed

[2021-01-16 15:34] akshitagupta15june commented on #90
assigned @spursbyte

[2021-01-16 15:35] akshitagupta15june opened #113 "Recognition using EfficientNetB1"
Recognition using EfficientNetB1,EfficientNetB2 and EfficientNetB3

[2021-01-16 15:36] #4 closed

[2021-01-16 15:37] akshitagupta15june opened #114 "Improvements in face unlocking system."
Improvements in face unlocking system.
Here in my project whenever a face matches with the faces database then it shows a string "FACE UNLOCK" else it shows only "FACE LOCKED". So sometimes the same face matches but it shows FACE LOCKED.

[2021-01-16 15:39] akshitagupta15june commented on #91
ok

[2021-01-16 15:39] akshitagupta15june opened #115 "Github actions for project enhancements"
Before assigning let me know what kind of action will you implement in the project.

[2021-01-16 15:39] #74 closed

[2021-01-16 15:41] akshitagupta15june opened #116 "Report any bug in the algorithms."
For project Improvement.

[2021-01-16 16:15] shubhagupta21april opened #117 "Funny Instagram filter in real-time"
Implement adding filters in real-time. @akshitagupta15june

[2021-01-17 04:23] akrish4 opened #118 "Integrate no-response bot"
Hi @akshitagupta15june
Do you know a bot can make your work easy and reduce your work , the bot can do many things to reduce human effort
I would like to add a `no-response`  bot which will automatically close a issue after a particular number of days if that issue has a `more-information-needed` label in it

assume a user has opened a issue and you need more information in order to proceed , you

[2021-01-17 05:41] #62 closed

[2021-01-17 05:46] akshitagupta15june commented on #117
This issue is already done

[2021-01-17 05:46] #117 closed

[2021-01-17 05:47] akshitagupta15june commented on #118
Hi @akrish4 this issue is not requiried in this repo.
Thankyou for creating.

[2021-01-17 05:47] #118 closed

[2021-01-17 05:55] shatakshisingh24 opened #120 "Adding details about ResNet50 in readme"
Hi! As we are using different algorithms for Face recognition, it will be helpful if there will be a description of the architecture in readme of that folder.

I can add description of Resnet50 in readme of that folder. Later we can do this for all CNN architectures used.

[2021-01-17 05:55] shatakshisingh24 commented on #120
@akshitagupta15june please assign me this issue if this can be done here. I would like to do as a part of DWOC

[2021-01-17 06:07] akshitagupta15june commented on #120
Hi @shatakshisingh24 here is resnet 50 Implementation
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition%20using%20ResNet50

You can add details in its readme

[2021-01-17 06:07] akshitagupta15june commented on #120
Are you a swoc participant?

[2021-01-17 06:14] shatakshisingh24 commented on #120
I have participated in DWOC.

[2021-01-17 06:16] shatakshisingh24 commented on #120
Thanks for assigning. I will do this by evening

[2021-01-19 10:16] sagnik1511 commented on #116
I want to resolve this issue #116 . Please assign this to me.

[2021-01-19 13:28] TanweerulHaque commented on #63
Can I do it ?? @akshitagupta15june if it's still not done. I am an SwoC participant.

[2021-01-19 13:52] aditi-saxena-1206 commented on #63
I'm almost done with it. Will be adding it soon.

On Tue, 19 Jan 2021, 18:58 Tanweer, <notifications@github.com> wrote:

[2021-01-19 17:51] imakash3011 commented on #115
I will implement a  GitHub action for  autopep8, a tool that automatically formats Python code to conform to the PEP 8 style guide.

[2021-01-20 14:17] Adarsh88 opened #123 "Recognition using ensemble learning"
**Is your feature request related to a problem? Please describe.**
Adding facial recognition using ensemble learning

**Describe the solution you'd like**
Ensemble learning uses OpenFace, DeepFace, FaceNet and VGG-Face to recognize faces more effectively.

**Approach to be followed (optional)**
The image will be trained using the four combined models and Cosine, Euclidean, Euclidean L.2 will be ta

[2021-01-20 14:32] akshitagupta15june commented on #123
hi thankyou for generating the issue!
Are you a dwoc participant?

[2021-01-20 18:38] akshitagupta15june commented on #120
great!!

[2021-01-20 18:53] akshitagupta15june opened #124 "Face Recognition Using Principal Component Analysis Implementation"
PCA is a statistical approach used for reducing the number of variables in face recognition. In PCA, every image in the training set is represented as a linear combination of weighted eigenvectors called eigenfaces. These eigenvectors are obtained from covariance matrix of a training image set.

Other Algorithms Implementation

https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-A

[2021-01-20 18:55] akshitagupta15june opened #125 "Face Recognition Using Difference Component Analysis Implementation"
Difference Component Analysis (DCA) and present its application in face recognition. The DCA removes all the general features of images and compute the difference components of the images.

Other Algorithms Implementation

https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms

[2021-01-20 18:56] sagnik1511 commented on #11
I am ready to resolve this issue #11 . Please assign me this.

[2021-01-20 19:01] akshitagupta15june commented on #11
Hi @sagnik1511 there is no assigning you can add your name directly by forking and then giving a pr

[2021-01-21 07:22] BlueBlaze6335 commented on #66
@akshitagupta15june ma'am i want to work on this , can you assign me to this project ?!

[2021-01-21 08:19] keshavdalmia25 commented on #124
can i work on this

[2021-01-21 09:13] keshav2508 commented on #124
can i work on this

[2021-01-21 12:18] akshitagupta15june commented on #124
yes!
assigning you

[2021-01-21 12:20] akshitagupta15june commented on #66
yes @BlueBlaze6335 you can work on this!
This issue is open for all no assigning required

[2021-01-21 12:21] akshitagupta15june commented on #66
@BlueBlaze6335 have a look at already implemented filters and try some new one https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

[2021-01-21 12:25] akshitagupta15june commented on #115
ok assigning you

[2021-01-21 13:32] Vinamrata1086 opened #127 "Adding Readme in Recognition Using Cnn and LBPH"
Hi, As every recognition algo have readme except these two algo's.

I want to add a Readme file for these two including there installations, dependencies, and features. (JWOC)

[2021-01-21 13:32] #127 closed

[2021-01-21 13:35] Vinamrata1086 opened #128 "Adding Readme in Recognition Using Cnn and LBPH"
Hi, As every recognition algo have readme except these two algo's.

I want to add a Readme file for these two including there installations, dependencies, and features. (JWOC)

[2021-01-21 14:03] sagnik1511 opened #129 "Facial Expression Detection with custom CNN"
Using custom CNN produce Interactive Python Notebooks (e.g. Jupyter Notebook) that classifies Facial Expressions.

[2021-01-21 14:11] akshitagupta15june commented on #128
ok great @Vinamrata1086

[2021-01-21 14:12] akshitagupta15june commented on #129
Great @sagnik1511 assigning you

[2021-01-21 15:17] #105 closed

[2021-01-21 19:14] Vinamrata1086 opened #132 "#128 Adding Readme in Recognition Using Cnn and LBPH"
#128

_Originally posted by @Vinamrata1086 in https://github.com/akshitagupta15june/Face-X/issues/131#issuecomment-764873945_

[2021-01-21 19:14] #132 closed

[2021-01-22 05:57] mehabhalodiya commented on #66
Hello @akshitagupta15june ma'am I have added a PR.
I am a JWOC mentee!
Kindly check it out!

[2021-01-22 09:31] mehabhalodiya commented on #68
We can add different type of virtual makeover of a face other than #99 ?

[2021-01-22 11:15] sagnik1511 commented on #78
Hello @akshitagupta15june  I want to contribute in this issue #78. Please assign me.

[2021-01-22 13:03] akshitagupta15june commented on #78
ok @sagnik1511 assihning you

[2021-01-22 13:03] akshitagupta15june commented on #68
yes you can add

[2021-01-22 13:04] akshitagupta15june commented on #68
assigning you

[2021-01-22 13:04] akshitagupta15june commented on #66
yes checking

[2021-01-22 13:17] #128 closed

[2021-01-22 13:28] #129 closed

[2021-01-22 16:38] imakash3011 commented on #115
I'm getting "Error: Resource not accessible by integration" in making PR. what to do?

[2021-01-22 16:40] #48 closed

[2021-01-22 16:51] akshitagupta15june commented on #115
Please send the link

[2021-01-22 16:51] akshitagupta15june commented on #115
@imakash3011

[2021-01-22 16:54] imakash3011 commented on #115
https://github.com/akshitagupta15june/Face-X/pull/140  @akshitagupta15june

[2021-01-22 17:14] akshitagupta15june commented on #115
@imakash3011 Resources are depreciated so tests cant be carried out

[2021-01-22 17:16] imakash3011 commented on #115
Now what should I do @akshitagupta15june ? so that my PR get merged?

[2021-01-22 17:23] akshitagupta15june commented on #115
I will see to it and will try to resolve issue.
Will let you know!

[2021-01-22 17:25] imakash3011 commented on #115
okay thank you @akshitagupta15june

[2021-01-23 07:49] #78 closed

[2021-01-23 10:55] bharath-acchu commented on #46
@akshitagupta15june  Can I work on this issue, under dwoc, please assign me

[2021-01-23 11:04] akshitagupta15june commented on #46
Ok assigning you @bharath-acchu

[2021-01-23 14:31] sagnik1511 commented on #115
Hello @akshitagupta15june  I want to work in this repo. Please assign this to me.

[2021-01-23 16:38] imakash3011 commented on #115
https://github.com/actions/first-interaction/issues/10  do read this @akshitagupta15june . I think this "Resource not accessible by integration" problem is from GitHub itself .

[2021-01-23 17:32] akshitagupta15june commented on #115
Hi @imakash3011 yes i got it i have to close this issue and pr.
Sorry for this even i didn't know this.
You can look for different issues I will surely assign you.

[2021-01-23 17:32] #115 closed

[2021-01-23 17:40] imakash3011 commented on #115
Okay no problem @akshitagupta15june .

[2021-01-23 17:40] akshitagupta15june opened #142 "Face recognition using SURF features"
Speed-Up Robust Features (SURF)

[2021-01-24 07:28] mehabhalodiya opened #145 "Face recognition using SIFT features"
The scale-invariant feature transform(SIFT) is a feature detection algorithm in computer vision to detect and describe local features in images.

[2021-01-25 10:57] akshitagupta15june commented on #145
assigning you

[2021-01-26 14:42] #145 closed

[2021-01-26 15:42] #123 closed

[2021-01-27 02:42] bharath-acchu commented on #142
@akshitagupta15june  Can I take this under DWOC ? If yes please assign me

[2021-01-28 02:01] infiniteoverflow commented on #112
I would like to contribute this , kindly assign it to me.

[2021-01-28 06:51] #46 closed

[2021-01-28 06:53] akshitagupta15june commented on #112
ok assigning you

[2021-01-28 06:53] akshitagupta15june commented on #112
are you a jwoc participant?

[2021-01-28 06:54] infiniteoverflow commented on #112
No , sorry i am a DWOC Participant
I just noticed this was labelled for JWOC.

[2021-01-28 06:55] infiniteoverflow commented on #112
My bad. Is it possible to contribute this as a part of DWOC ?

[2021-01-28 06:55] akshitagupta15june commented on #112
yes you can

[2021-01-28 06:56] infiniteoverflow commented on #112
Okay, thanks a lot !!

[2021-01-28 07:33] bharath-acchu commented on #77
can i work on this issue @akshitagupta15june

[2021-01-28 07:42] akshitagupta15june commented on #77
ok you can work on it.
Are you a swoc or dwoc or jwoc participant?

[2021-01-28 07:43] #9 closed

[2021-01-28 07:45] bharath-acchu commented on #77
dwoc participant

[2021-01-28 07:45] akshitagupta15june commented on #77
ok great

[2021-01-28 07:51] infiniteoverflow commented on #113
I would like to work on this issue as a part of DWOC 21'

[2021-01-28 07:56] akshitagupta15june commented on #113
Hi @infiniteoverflow i am thinking of changing this issue a bit by adding different issue for each implementation

[2021-01-28 07:57] infiniteoverflow commented on #113
Okkay , so shall i work on EfficientNet B1 ?

[2021-01-28 07:58] akshitagupta15june opened #154 "Recognition using EfficientNetB2"

[2021-01-28 07:58] akshitagupta15june opened #155 "Recognition using EfficientNetB3"

[2021-01-28 07:58] akshitagupta15june commented on #113
yes you can ,assigning you

[2021-01-29 18:38] Amit366 commented on #59
I would like to work on this issue.

[2021-01-29 18:43] akshitagupta15june commented on #59
Hi @Amit366 I think @koushik2001 is working in this issue.

[2021-01-30 04:38] #113 closed

[2021-01-30 05:38] infiniteoverflow commented on #155
@akshitagupta15june i would like to work on this as a part of DWOC.

[2021-01-31 04:51] akshitagupta15june opened #159 "Adding Readme for Facial Reconstruction"
Creation of a proper readme file for explanation of face reconstruction and adding the already included implementation of Joint 3D Face Reconstruction details
https://github.com/akshitagupta15june/Face-X/tree/master/Face%20Reconstruction

[2021-01-31 04:53] akshitagupta15june opened #160 "Readme Improvement in face detection folder"
Add a comparative study of implemented algorithms for face detection
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection

[2021-02-01 05:28] mehabhalodiya commented on #124
Can I work on this issue? Can you assign me as there is no progress by the assigned member?

[2021-02-01 11:45] #124 closed

[2021-02-01 17:00] LeeRenJie opened #163 "Logo"
A logo based on:
![image](https://user-images.githubusercontent.com/67599130/106491604-009bb600-64f2-11eb-8ccc-8372b91f0cf9.png)

[2021-02-01 17:01] LeeRenJie commented on #163
Please assign this to me under DWOC thank you!

[2021-02-01 17:05] akshitagupta15june commented on #163
Hi @LeeRenJie .
Happy to assign you

[2021-02-01 17:07] LeeRenJie commented on #163
Thanks. I will be sending drafts here before creating a PR.

[2021-02-02 10:59] infiniteoverflow commented on #159
@akshitagupta15june I would like to work on adding this !!

[2021-02-02 11:05] infiniteoverflow opened #164 "3D Face Reconstruction using Graph Convolutional Networks"
**Is your feature request related to a problem? Please describe.**
This code is related to the Face Reconstuction section.

**Describe the solution you'd like**
This code is a solution to the research paper https://arxiv.org/pdf/2003.05653.pdf , which seeks to reconstruct the 3D facial shape with high fidelity texture from a single image, without the need to capture a large-scale face texture data

[2021-02-02 11:06] infiniteoverflow commented on #164
@akshitagupta15june I would like to work on adding this model as a part of DWOC. If this model is appropriate, kindly assign it to me. Thank you.

[2021-02-02 12:51] akshitagupta15june commented on #164
great
assigning you

[2021-02-02 14:03] smriti1313 commented on #159
Hi, Can I do this under DWoC ?
Kindly let me know.
Thank you

[2021-02-02 14:08] akshitagupta15june commented on #159
yes you can

[2021-02-02 16:39] LeeRenJie commented on #163
<img width="299" alt="Face-X logo" src="https://user-images.githubusercontent.com/67599130/106631950-36a36d80-65b8-11eb-9f5e-f29882d66a79.png">
My first attempt. Any comments?

[2021-02-02 18:59] akshitagupta15june commented on #142
yes ofcource! @bharath-acchu
I am sorry for late assigning

[2021-02-02 19:03] #164 closed

[2021-02-03 06:38] LeeRenJie commented on #163
<img width="361" alt="Screenshot 2021-02-03 143239" src="https://user-images.githubusercontent.com/67599130/106708168-5fb21580-662d-11eb-8013-f4451d70dcb0.png">
<img width="360" alt="Screenshot 2021-02-03 143821" src="https://user-images.githubusercontent.com/67599130/106708243-7eb0a780-662d-11eb-9f27-527bb21280d8.png">
Second attempt

[2021-02-03 08:14] #163 closed

[2021-02-03 10:31] anirudhsai20 commented on #98
Please assign me the issue.

[2021-02-03 13:11] infiniteoverflow opened #167 "RingNet"
**Is your feature request related to a problem? Please describe.**
This feature is related to 3D Face Reconstuction

**Describe the solution you'd like**
I would like to implement the RingNet model that regresses 3D Face Shape and Expression from an Image without 3D Supervision.

**Approach to be followed (optional)**
The dataset and the pretrained RingNet weights can be downloaded from their webs

[2021-02-03 13:14] infiniteoverflow commented on #167
@akshitagupta15june I am really interested in adding this model to the Face Reconstruction directory. This model has been of great help to me while studying about Face Reconstruction as this retrieves the face shape without using 3D Supervision.

Kindly let me know your views on the same. Thank you !!

[2021-02-03 13:17] akshitagupta15june commented on #167
Great @infiniteoverflow i am assigning you.
Can you also make a main readme of face-reconstruction folder
Like the comparison analysis of all the operations of facial reconstruction

[2021-02-03 13:23] infiniteoverflow commented on #167
Sure sure , but i guess its already assigned to someone else in issue #159 ?

[2021-02-04 08:57] #167 closed

[2021-02-04 12:02] infiniteoverflow opened #169 "Face Alignment in Full Pose Range"
**Is your feature request related to a problem? Please describe.**
Yes , this feature adds a implementation model of the paper [Face Alignment in Full Pose Range: A 3D Total Solution](https://arxiv.org/abs/1804.01005) to the **/Face Reconstruction** directory.

**Describe the solution you'd like**
In this paper, they have proposed to tackle the challenges in an new alignment framework termed 3D De

[2021-02-04 12:05] infiniteoverflow commented on #169
@akshitagupta15june The applications of this is diverse , will it be feasible to add in the /Face Reconstruction Directory or anything else you would suggest ?

[2021-02-05 13:02] smriti1313 commented on #159
hey, Can i add gifs in readme?

[2021-02-05 13:22] akshitagupta15june commented on #159
yes you can

[2021-02-05 16:41] mehabhalodiya opened #171 "Bug report: Face detection in Python using OpenCV"
**Describe the bug**
Face detection is a computer vision technology that helps to locate/visualize human faces in digital images. This technique is a specific use case of object detection technology that deals with detecting instances of semantic objects of a certain class (such as humans, buildings or cars) in digital images and videos. With the advent of technology, face detection has gained a l

[2021-02-05 16:46] akshitagupta15june commented on #171
Gram!
Assigning to u

[2021-02-05 18:33] #169 closed

[2021-02-05 18:34] #159 closed

[2021-02-06 15:03] #171 closed

[2021-02-06 18:57] #98 closed

[2021-02-07 05:56] infiniteoverflow opened #177 "Face Reconstruction and Dense Alignment"
**Is your feature request related to a problem? Please describe.**
It provides a model under Face Reconstruction

**Describe the solution you'd like**
This code implements some features related to facial reconstruction and dense alignment.

[2021-02-08 18:43] smriti1313 commented on #155
Hi, I would like to do this under Dwoc. Is that possible?

[2021-02-09 04:44] mehabhalodiya opened #178 "Smile Percentage Detection"
**Related to: Smile detection using OpenCV**

I would like to add this in below directory -
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition

**Describe the solution you'd like**
This code will use the detectMultiScale method of the face classifier to first find faces in the frame. Once those are found, within each "region of interest", we look for smiles using th

[2021-02-09 04:46] mehabhalodiya commented on #178
@akshitagupta15june Please assign me this under JWoC.
I would like to work on this.

[2021-02-09 11:12] smriti1313 opened #179 "Deep Face Detection with Caffe Implementation"
**Is your feature request related to a problem? Please describe.**
Deep Face Detection with Caffe Implementation

**Describe the solution you'd like**
Face Detection can be done using various methods and algorithms. Once such feature is provided by [Caffe](http://caffe.berkeleyvision.org/). Hence, the folder will contains models and tests for facial Detection using caffe.

[2021-02-11 08:12] akshitagupta15june commented on #178
Hi @mehabhalodiya can you add a more feature in this by adding smiling percentage like how much percent smile or laugh is there.
It will be a great enhancement Because emotions Recognition is already added in repo.

[2021-02-11 08:15] akshitagupta15june commented on #179
Hi @smriti1313 assigning you.

[2021-02-11 12:01] #177 closed

[2021-02-11 12:21] akshitagupta15june opened #182 "Readme improvement for Cartoonify Image folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify%20Image

Include documentation required.

[2021-02-11 12:23] akshitagupta15june opened #183 "Readme for face detection folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection

Add a proper readme with  the details from installation to execution

[2021-02-11 13:29] smriti1313 commented on #179
Hi, I am a participant under DWoC.

[2021-02-11 13:34] akshitagupta15june commented on #179
ok i am sorry for that

[2021-02-11 19:45] Albert-Jokelin commented on #183
Hey, Can I work on this?

[2021-02-12 06:13] akshitagupta15june commented on #183
yes you can!
are you a dwoc participant?

[2021-02-12 16:41] #179 closed

[2021-02-13 02:16] infiniteoverflow opened #186 "3D Face Reconstruction with Weakly-Supervised Learning"
**Is your feature request related to a problem? Please describe.**
It adds a new model to Face Reconstruction directory.

**Describe the solution you'd like**
This is a tensorflow implementation of the following paper: [Accurate 3D Face Reconstruction with Weakly-Supervised Learning: From Single Image to Image Set](https://arxiv.org/abs/1903.08527)

[2021-02-13 15:06] Rukmini-Meda commented on #182
Hey,

Can I take this up as part of cross winter of code?

[2021-02-13 15:14] akshitagupta15june commented on #182
Yes Ofcourse

[2021-02-13 20:53] smriti1313 opened #188 "Facial emotion recognition using deep learning"
# Description:

Facial emotion recognition using deep learning

# Dependencies:

Python 3, OpenCV, Tensorflow

let me know if there's a chance to work on it.
Thank you

[2021-02-14 04:58] gopichandpuli9 commented on #188
I would like to work on this.

[2021-02-14 07:44] #154 closed

[2021-02-14 07:48] akshitagupta15june commented on #188
are u a dwoc participant?

[2021-02-14 07:48] akshitagupta15june commented on #186
assigning you!

[2021-02-14 08:04] gopichandpuli9 commented on #188
I'm a participant of Cross WoC

[2021-02-14 08:10] akshitagupta15june commented on #188
assigning you.

[2021-02-14 09:10] smriti1313 commented on #188
Hi, @akshitagupta15june

I opened this issue hoping that you could assign this to me. I request you to assign this to me.
Thank you

[2021-02-14 09:20] akshitagupta15june commented on #188
I am sorry @gopichandpuli9 this issue will be assigned to @smriti1313 as she opened it.
You can search for new issues and let me know.

[2021-02-14 09:20] akshitagupta15june commented on #188
@smriti1313 what label should i add swoc or dwoc?

[2021-02-14 09:22] smriti1313 commented on #188
First of all thank you so much for helping out everytime. I am sorry for being a trouble :).

I am dwoc participant.
Thank you

[2021-02-14 09:23] akshitagupta15june commented on #188
ok great!

[2021-02-14 09:32] gopichandpuli9 commented on #188
But you first assigned it to me.
I started doing too

[2021-02-14 09:37] m-code12 opened #190 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 09:37] m-code12 commented on #190
@akshitagupta15june I would like to work on this issue as a part of DWOC and CrossWoc 2021.

[2021-02-14 09:38] sagnik1511 opened #191 "Finding convenient way to reduce time consumptions on EfficientNets."
When running the eff-nets it takes 40 mins + to run just a single epoch.
Find any better approach to reduce time

[2021-02-14 09:41] akshitagupta15june commented on #190
Hi, @m-code12 GitHub actions are not being accepted in this repository.
You can work on different issues other than Github actions.

[2021-02-14 09:41] #190 closed

[2021-02-15 01:42] infiniteoverflow opened #194 "Fast Few-shot Face alignment by Reconstruction"
**Is your feature request related to a problem? Please describe.**
This adds a model to the Face Reconstruction directory

This is the PyTorch implementation of the paper [3FabRec: Fast Few-shot Face alignment by Reconstruction](https://arxiv.org/abs/1911.10448) by Björn Browatzki and Christian Wallraven.

**Describe the solution you'd like**
This predicts 2D facial landmarks from a few annotated

[2021-02-15 09:19] gopichandpuli9 commented on #178
Can you assign this to me as a part of CrossWoC?

[2021-02-15 12:05] akshitagupta15june commented on #178
Hi @gopichandpuli9 this is already assigned to @mehabhalodiya

[2021-02-15 13:27] samir-0711 opened #195 "Create auto-update contributors table"
I would like to replace contributors table in README.md with auto-update contributors table.

[2021-02-15 13:27] samir-0711 commented on #195
I would like to work on this.

Kindly do add the DWOC and Level label

[2021-02-16 08:19] #186 closed

[2021-02-16 08:21] #188 closed

[2021-02-16 08:23] akshitagupta15june commented on #195
u can work on this!

[2021-02-16 08:24] akshitagupta15june commented on #194
u can work on this @infiniteoverflow

[2021-02-16 08:25] infiniteoverflow commented on #194
Sure thanks !! Will get started with it soon

[2021-02-16 08:48] #195 closed

[2021-02-16 08:56] akshitagupta15june opened #198 "Recognition using Xception"

[2021-02-16 08:57] #49 closed

[2021-02-16 08:58] akshitagupta15june opened #199 "Recognition using InceptionV3 and InceptionResNetV2"

[2021-02-16 08:58] #57 closed

[2021-02-16 08:59] akshitagupta15june opened #200 "Real-Time Liveness Based Face Recognition System"
use one of the modern ways of face recognition with a spoofing detection (eye blink-based) algorithm to show whether the user is drowsy or not.

[2021-02-16 09:00] #61 closed

[2021-02-16 09:01] akshitagupta15june opened #201 "Recognition using NasNetLarge and NasNetMobile"

[2021-02-16 09:04] akshitagupta15june commented on #183
@Albert-Jokelin are you a dwoc participant?

[2021-02-16 09:06] akshitagupta15june opened #202 "Readme Improvement"
https://github.com/akshitagupta15june/Face-X/tree/master/Facial_Biometric
 Readme improvement in facial biometric folder.

[2021-02-16 09:22] suneelkumarpentela commented on #202
Can you assign this to me? (crossWoC)

[2021-02-16 09:23] akshitagupta15june commented on #202
sure

[2021-02-16 14:15] infiniteoverflow opened #204 "Landmark Detection and 3D Face Reconstruction for Caricature using a Nonlinear Parametric Model"
**Is your feature request related to a problem? Please describe.**
This adds a new model to the Face Reconstruction Directory

**Describe the solution you'd like**
Caricature is an artistic abstraction of the human face by distorting or exaggerating certain facial features, while still retains a likeness with the given face. Due to the large diversity of geometric and texture variations, automatic

[2021-02-17 11:59] smriti1313 commented on #200
Hi, I would like to do this under DWoC. I wanted to ask : the project should be able to recognize if the face is real or fake???

[2021-02-17 16:14] #194 closed

[2021-02-17 16:33] suneelkumarpentela commented on #202
Hello, To get examples from executing code, I tried pip installing dlib. But even after checking some suggestions on the internet, I am having some trouble with it. Could you tell me the python version you use and whether you faced any trouble?

[2021-02-17 16:39] akshitagupta15june commented on #202
hi @suneelkumarpentela I use python 3.7.6 version

[2021-02-18 10:54] suneelkumarpentela commented on #202
Hello @akshitagupta15june , I am new to open source. I tried to create a PR after updating Readme, but It fails some checks. Could you tell me what the error was?

[2021-02-19 06:34] BlueBlaze6335 commented on #191
@akshitagupta15june  I want to work on this issue.

[2021-02-19 09:32] #178 closed

[2021-02-19 12:58] smriti1313 commented on #200
Hi, I would like to do this under DWoC. I wanted to ask : the project should be able to recognize if the face is real or fake???

[2021-02-19 13:41] Amit366 commented on #63
Is this issue open??

[2021-02-19 16:35] mehabhalodiya commented on #183
Can I work on this @akshitagupta15june ?

[2021-02-19 16:36] mehabhalodiya commented on #160
Please assign this to me @akshitagupta15june

[2021-02-19 16:44] mehabhalodiya commented on #75
This is already done in #145
You can check it out here:
[Recognition using SIFT](https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20SIFT)

[2021-02-19 16:56] akshitagupta15june commented on #75
oh thanks for identifying!

[2021-02-19 16:56] #75 closed

[2021-02-19 17:15] akshitagupta15june commented on #183
yes @mehabhalodiya

[2021-02-19 17:19] akshitagupta15june commented on #200
it can be a static photo or also in realtime

[2021-02-19 17:21] akshitagupta15june commented on #204
assigned!

[2021-02-19 17:24] #63 closed

[2021-02-19 17:28] akshitagupta15june opened #209 "Improvements in face unlocking system."
Improvements in face unlocking system.
Here in my project whenever a face matches with the faces database then it shows a string "FACE UNLOCK" else it shows only "FACE LOCKED". So sometimes the same face matches but it shows FACE LOCKED.

[2021-02-19 18:39] eddiejaoude opened #210 "Installation steps have code block and inline code"
https://github.com/akshitagupta15june/Face-X#installation-

### Before

<img width="764" alt="Screenshot 2021-02-19 at 18 38 52" src="https://user-images.githubusercontent.com/624760/108547076-ecbdc580-72e1-11eb-9799-6ce23485b895.png">

### After

<img width="1130" alt="Screenshot 2021-02-19 at 18 39 54" src="https://user-images.githubusercontent.com/624760/108547085-efb8b600-72e1-11eb-864b-13a42e

[2021-02-19 18:43] akshitagupta15june commented on #210
thanks for your contribution @eddiejaoude  by improving this project!

[2021-02-19 18:46] #210 closed

[2021-02-21 06:19] #204 closed

[2021-02-21 06:30] infiniteoverflow opened #217 "Self-Supervised Monocular 3D Face Reconstruction by Occlusion-Aware Multi-view Geometry"
**Is your feature request related to a problem? Please describe.**
This adds a new model to the face reconstruction folder.

**Describe the solution you'd like**
This is the Python implementation of Self-Supervised Monocular 3D Face Reconstruction by Occlusion-Aware Multi-view Geometry Consistency : https://arxiv.org/abs/2007.12494

[2021-02-21 20:40] smriti1313 opened #219 "Feature request"
**Is your feature request related to a problem? Please describe.**
Blur face after recognizing it.

**Describe the solution you'd like**
Blurring the face using opencv and python. We have seen how images are blurred in order to maintain the security or appropriateness. So adding a program that could blur the face.

**Additional context**
Like this:
![IMG_20210222_020623](https://user-images.github

[2021-02-22 03:51] simanfathima commented on #219
Can I work on this issue for SWOC?

[2021-02-23 06:22] anirudhsai20 commented on #160
Hi @akshitagupta15june. Can you please assign this to me under SWOC ?

[2021-02-23 08:35] akshitagupta15june commented on #160
Hi this issue pr is already made
Its need to be reviewed

[2021-02-23 10:47] anirudhsai20 opened #221 "Correction of grammatical errors and sentence rephrasing in README.md"
**Is your feature request related to a problem? Please describe.**
The description in the README.md has a lot of gramatical errors and  explanation can be made more clear.

**Describe the solution you'd like**
The explanation can be made more clear and better by rephrasing them and by correcting the gramatical errors.

**Describe alternatives you've considered**
A clear and concise description of

[2021-02-23 10:48] anirudhsai20 commented on #221
Hi @akshitagupta15june . Can I please correct this issue under SWOC or DWOC?

[2021-02-23 11:44] akshitagupta15june commented on #221
Yes Ofcourse! @anirudhsai20

[2021-02-23 11:45] akshitagupta15june commented on #219
Hi i said background blurring is acceptable
Not the face blurring

[2021-02-23 11:46] akshitagupta15june commented on #219
Please check your portrait mode in phone camera. @smriti1313

[2021-02-23 11:46] akshitagupta15june commented on #219
I will create a new issue

[2021-02-23 11:47] akshitagupta15june commented on #219
Ji

[2021-02-23 11:47] #219 closed

[2021-02-23 11:50] akshitagupta15june opened #222 "Background Blurring across the face"
Keep a face in the focus and blur the background like we see in portrait modes.

[2021-02-23 12:02] akshitagupta15june opened #223 "Contributors image in face-x Readme is not opening in Safari and MacOS"
Improvement needed in contributors image in face-x Readme.

[2021-02-23 12:03] smriti1313 commented on #222
Hi, i would like to work on this.

[2021-02-23 21:25] Sloth-Panda commented on #182
@akshitagupta15june can I take up this issue as part of dwoc and swoc?

[2021-02-24 03:43] akshitagupta15june commented on #182
I think @Rukmini-Meda is working in it

[2021-02-24 04:03] Rukmini-Meda commented on #182
Hello, Sorry I hadn't updated my status. I have been busy with my exams lately. I will unassign myself so that @Sloth-Panda can take this up.

[2021-02-24 04:35] #217 closed

[2021-02-24 08:53] #221 closed

[2021-02-25 01:47] smriti1313 commented on #222
Hi, @akshitagupta15june since today is the last day of DWoC, so could you assign me this as early as possible? thank you

[2021-02-25 05:33] simanfathima commented on #222
Hi, can I work on this issue?

[2021-02-25 09:57] akshitagupta15june commented on #222
Ok @smriti1313

[2021-02-25 13:07] #222 closed

[2021-02-25 14:44] #183 closed

[2021-02-25 15:27] #200 closed

[2021-02-25 15:31] akshitagupta15june commented on #77
Creating a new one!
Closing this

[2021-02-25 15:31] #77 closed

[2021-02-25 15:31] akshitagupta15june opened #228 "Facial recognition using SURF"
SURF is another robust algortihm used for robust classification of 3d constructions.

We should try out this algorithm as well for recognising facial expressions

Reference : https://people.ee.ethz.ch/~timofter/publications/Knopp-ECCV-2010.pdf

[2021-02-25 15:32] akshitagupta15june commented on #90
Creating a new one!
Closing this one.

[2021-02-25 15:32] akshitagupta15june opened #229 "Face Recognition Using Inception V3 model."

[2021-02-25 15:33] akshitagupta15june commented on #91
Its been late for this issue
closing this one.

[2021-02-25 15:34] akshitagupta15june opened #230 "Face Recoginition using VGG16"

[2021-02-25 15:34] #91 closed

[2021-02-25 15:36] akshitagupta15june opened #231 "Report any bug in the algorithms, documentation. Improvements required"

[2021-02-25 15:37] akshitagupta15june commented on #142
Hi, i have created a new issue.

[2021-02-25 15:56] akshitagupta15june opened #232 "Create Contributors Guideline"
Objective

Create Contributors Guideline to help new Contributors get started with this Project.
Features

 1) Add a CONTRIBUTING.md to allow new users to get started with knowing how to contribute.
 2) Add Screenshots wherever possible.
 3) Add the basic information about creating Issues, Pull Requests, and Branching.
 4) Mention tutorials related to Git and Github to help them better understand.

[2021-02-25 16:36] smriti1313 commented on #232
Hi, I would like to do this under DWoC

[2021-02-25 17:44] Sloth-Panda commented on #182
@akshitagupta15june  Do i just need to add these images ? I mean just one image?

[2021-02-26 04:14] mehabhalodiya commented on #232
Hi, I would like to work on this under GSSoC'21.

[2021-02-26 04:15] akshitagupta15june commented on #232
Hi i think coding period will start from 1 st

[2021-02-26 04:22] mehabhalodiya commented on #232
Yes, GSSOC'21 KickStarts on 1st March.

[2021-02-26 14:39] simanfathima commented on #230
Can I work on this?

[2021-02-26 15:01] akshitagupta15june commented on #230
Are u a crosswoc participant?

[2021-02-26 15:42] simanfathima commented on #230
Yes. I am.

[2021-02-27 08:57] akshitagupta15june commented on #230
ok assigning you

[2021-02-27 18:54] akshitagupta15june commented on #232
Ok assigning you

[2021-03-01 09:22] #182 closed

[2021-03-02 07:01] Aayush-hub commented on #67
@akshitagupta15june Can we start working on this isuue for GSSOC21 ?

[2021-03-02 15:05] koushik2001 commented on #229
Can I work on this issue

[2021-03-02 16:23] sagnik1511 commented on #125
Hello @akshitagupta15june  di, as I have contributed in your repo will you add me in the readme contributor section?? I'll be very glad if you do so :)

[2021-03-02 16:50] laddhashreya2000 commented on #198
Hi, I would like to work on this. Can you assign me?

[2021-03-02 16:51] laddhashreya2000 commented on #199
Can GSSOC'21 participants contribute to this issue? If yes, can you assign me this as well?

[2021-03-02 18:19] sudipg4112001 opened #236 "Google colab module can be removed from cartoonify_face_image"
The code can be made more simple and detailed removing `from google.colab.patches import cv2_show` and using other alternatives in place of it. The, code can also be more user interactive.
I would like to work under GSSOC'21.

[2021-03-03 01:13] laddhashreya2000 commented on #231
Hi, there is a minor bug in the Virtual_makeover/Virtual-Makeup/Readme.md file. The images path are not correct. Also, in the Blurring image across face/main.py changes can be made so that it works in VS code as well and accordingly the Blurring image across face/readme.md can be updated. Shall I make a PR for this? Or do I need to make an issue and then you can assign me this?

[2021-03-03 08:59] akshitagupta15june commented on #67
Yes @Aayush-hub you can work on this.

[2021-03-03 09:01] akshitagupta15june commented on #231
Yes @laddhashreya2000  you can work on this.

[2021-03-03 09:02] akshitagupta15june commented on #199
Yes @laddhashreya2000  you can work on this.

[2021-03-03 09:03] akshitagupta15june commented on #125
i think you have already added your name in contributor.md, right?

[2021-03-03 09:04] akshitagupta15june commented on #229
yes are u gssoc participant?

[2021-03-03 09:47] koushik2001 commented on #229
Yes

[2021-03-03 10:20] akshitagupta15june commented on #232
hi i have completed the guidelines because some picture required my repo.

[2021-03-03 10:20] #232 closed

[2021-03-03 10:26] akshitagupta15june commented on #229
OK @koushik2001

[2021-03-03 10:29] #160 closed

[2021-03-03 10:32] akshitagupta15june commented on #120
HI @shatakshisingh24 I am adding gssoc label here because dwoc is now over!

[2021-03-03 10:33] akshitagupta15june commented on #191
ok @BlueBlaze6335 are u a gssoc participant?

[2021-03-03 10:34] akshitagupta15june commented on #236
are you a gssoc participant?

[2021-03-03 10:38] sudipg4112001 commented on #236
Yes

[2021-03-03 10:39] akshitagupta15june commented on #236
ok @sudipg4112001

[2021-03-03 10:41] akshitagupta15june opened #237 "Readme Improvement in face-x readme"
[Readme](https://github.com/akshitagupta15june/Face-X/blob/master/README.md)

[2021-03-03 11:47] mehabhalodiya commented on #237
I would like to work on this under GSSoC'21.

[2021-03-03 11:49] akshitagupta15june commented on #237
ok

[2021-03-03 11:53] mehabhalodiya commented on #237
Can you please let me know that how many days I am having to submit a PR regarding this as coding period starts from 8th March according to GSSoC'21 Timeline ?

Kindly check it out and then let me know.

[2021-03-03 12:07] akshitagupta15june commented on #237
You can submit after 8

[2021-03-03 14:36] sagnik1511 commented on #125
Yes. I told about the reamde file .Can that be updated with my name as a contributor :D ?

[2021-03-04 15:08] #236 closed

[2021-03-05 05:49] zenithexpo commented on #209
Hey, I would Like to contribute to this.

[2021-03-05 06:59] Preeti2095 commented on #228
I want to work on this issue under gssoc'21.

[2021-03-05 07:58] akshitagupta15june commented on #209
Ok assigning you

[2021-03-05 07:58] akshitagupta15june commented on #228
Ok assigning you

[2021-03-05 13:02] Preeti2095 commented on #228
I am getting an error on following code:-

gray=cv2.cvtcolor(img,cv2.COLOR BGR2GRAY)

error

Traceback (most recent call last)
error: OpenCV(3.4.2) c: \miniconda3\conda-bld\opencv- suite 1533649848492\work\modules\imgproc\src\color.hpp:253: error: (-215:As sertion failed) vscn::contains(scn) && VDCN::contains(dcn) && VDepth : contains(depth) in function "cu::cvtHelperestruct ev::Set <3,4,-1), stru

[2021-03-05 13:22] kmryashasvi opened #239 "Associating link of crosswoc website to its banner"
**Is your documentation request related to a problem? Please describe.**
No.

**Describe the documentation you want to improved**
I want to improve readme file of this repository

**Additional context**
I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 13:45] akshitagupta15june commented on #228
it should be like this gray=cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)

[2021-03-05 13:46] akshitagupta15june commented on #239
can you do some more improvements in the readme if you can while I am assigning you?

[2021-03-05 13:47] akshitagupta15june commented on #239
are you a gssoc participant?

[2021-03-05 13:49] kmryashasvi commented on #239
no

[2021-03-05 13:50] kmryashasvi commented on #239
I have not applied, I am going to apply soon for gssoc

[2021-03-05 13:50] akshitagupta15june commented on #239
ok adding crosswoc label

[2021-03-05 13:51] kmryashasvi commented on #239
Can you specify what type of more changes you want?

[2021-03-05 14:01] akshitagupta15june commented on #239
changes like contributors picture is not working safari in macos

[2021-03-05 14:10] kmryashasvi commented on #239
You have to turn off prevent cross site tracking under privacy in Safari.
In my opinion, this problem is not with the code.
You should try embedding the pictures from google drive, but it will be tedious, won't it????????

[2021-03-05 14:10] Preeti2095 commented on #228
Nothing happened...
![Uploading IMG_20210305_181917.jpg…]()

[2021-03-05 14:12] akshitagupta15june commented on #239
yes it can be so whatever you think you can make improvements.

[2021-03-05 14:12] akshitagupta15june commented on #239
let me know whatever you have made.

[2021-03-05 14:12] kmryashasvi commented on #239
What i can do is to add link of the events to all banners present in your readme file,

[2021-03-05 14:13] Preeti2095 commented on #228
![Uploading IMG_20210305_181917.jpg…]()

[2021-03-05 14:16] akshitagupta15june commented on #228
have you added all modules which are required in this task.

[2021-03-05 14:16] akshitagupta15june commented on #239
yes, you can then.

[2021-03-05 14:47] Preeti2095 commented on #228
I have imported cv2 module and I have checked I have opencv and opencv_contrib both. Do I have to add something else also?

[2021-03-05 14:50] akshitagupta15june commented on #228
you should add OpenCV-python

[2021-03-05 14:51] akshitagupta15june commented on #228
are you taking any reference from somewhere?

[2021-03-05 14:53] Preeti2095 commented on #228
I saw a github issue same as mine but unable to figure it out how to solve. Can I share that github issue link?

[2021-03-05 14:55] akshitagupta15june commented on #228
yes please share

[2021-03-05 14:56] Preeti2095 commented on #228
https://github.com/llSourcell/Object_Detection_demo_LIVE/issues/6

[2021-03-05 14:57] kmryashasvi commented on #239
I'll have no problem adding new things to the readme,
you can close this issue now if you don't want to add the following features to the readme file
1. Adding a paragraph on the importance of facial recognition.
2. Adding a paragraph on the importance of your project on the betterment of society.

(I'll need extra points from you about your project if you want to implement the 2nd point mentioned

[2021-03-05 14:58] akshitagupta15june commented on #228
yes so have you given the correct image name?
or have you tried this use x = np.asarray(x, dtype=np.uint8) before do the conversion

[2021-03-05 14:59] akshitagupta15june commented on #239
no its not required till now i will merge your or after 8.

[2021-03-05 14:59] akshitagupta15june commented on #239
when the coding period starts

[2021-03-05 15:00] akshitagupta15june commented on #239
no its not required right now i merge your pr.

[2021-03-05 15:02] Preeti2095 commented on #228
Yes image name is correct but didn't tried this solution. Let me do this and then I will come back to you.

[2021-03-05 15:18] Preeti2095 commented on #228
Nothing happened and my img is already in uint8... this didn't helped me and according to that github issue it said that all the img array values should be between 0-1 range and I have all 0-255 range. So that might be creating the problem and if so then I am unable to figure out how to do that.

[2021-03-05 15:22] sudipg4112001 opened #241 "Add face swapping feature"
I would like to add a project for face swapping, under GSSOC'21

[2021-03-05 15:28] #239 closed

[2021-03-05 15:32] kmryashasvi opened #242 "I want to add comments to all the files"
Comments are very necessary to any of the source file,
Moreover, comments are considered as an important element in coding tests of many companies,
Hence, I want to add comments to all the files present in the repo irrespective of the language of the files

[2021-03-05 15:34] akshitagupta15june commented on #241
great assigning you

[2021-03-05 15:35] akshitagupta15june commented on #241
try to create a new folder in the repo for that with this convention "Face-Swapping"

[2021-03-05 15:39] sudipg4112001 commented on #241
Yes I will, while doing the pull request

[2021-03-05 15:43] akshitagupta15june commented on #242
hey changing to any of code file is not needed in this repo

[2021-03-05 15:43] #242 closed

[2021-03-05 15:43] akshitagupta15june commented on #242
you can work on the different opened issues

[2021-03-05 15:53] kmryashasvi commented on #242
kya batayen,
sab bahut hard issue hai
phir bhi dekhte hain
thank you

[2021-03-05 16:23] Preeti2095 commented on #228
So for converting the range from 0-255 to 0-1, I divided the array with 255 but still no improvement.

[2021-03-05 16:26] akshitagupta15june commented on #228
can you send me full code what you are writing

[2021-03-05 16:35] Preeti2095 commented on #228
import cv2
import matplotlib.pyplot as plt
import numpy as np

img=cv2.imread('G:/butterfly.jpg',0)
surf=cv2.xfeatures2d.SURF_create()
gray=cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)

[2021-03-06 01:51] Preeti2095 commented on #228
I wrote the codes in wrong order that's why values were changing and cvtColor() was not taking the values corretly and hence the error. I did np.uint8 line should come after imread () and then cvtColor() line. Now it is working. Thank you.

[2021-03-06 03:17] sudipg4112001 commented on #241
Previously I have made a PR for issue #236 , should I make a separate PR for this issue after that PR is merged or can I upload the files before merging ?
To be more precise, if a single PR contains commits from 2 issues, will there be any problem ?

[2021-03-06 03:53] akshitagupta15june commented on #241
As you are implementing a different feature then or should be different

[2021-03-06 03:54] akshitagupta15june commented on #228
Great you debugged it yourself well done!

[2021-03-06 03:55] sudipg4112001 commented on #241
Then I have to wait for my previous PR to be merged ?

[2021-03-06 04:00] akshitagupta15june commented on #241
No you can create prs but all will be merged after 8

[2021-03-06 04:08] sudipg4112001 commented on #241
Actually, the problem is I have done a PR for the issue #236 which is not merged till now. Now, if I make changes for this issues, it will come under the same PR.

[2021-03-06 04:09] akshitagupta15june commented on #241
You can change the branches if you want

[2021-03-06 04:10] akshitagupta15june commented on #241
Ok let it be

[2021-03-06 04:10] akshitagupta15june commented on #241
Mention both issues in the same pr.
I will see to it

[2021-03-06 04:11] sudipg4112001 commented on #241
Okay..!! Thank You

[2021-03-06 05:25] Preeti2095 commented on #228
Thank you😊 and do I have only 1 week to submit the PR??

[2021-03-07 07:06] Aayush-hub opened #243 "Readme Improvement in Virtual_makeover folder"
**Is your documentation request related to a problem? Please describe.**
Sample output images not showing up in Virtual_makeover/Virtual-Makeup/ folder.

[2021-03-07 07:09] Aayush-hub commented on #243
@akshitagupta15june Can I look into it?

[2021-03-07 08:29] akshitagupta15june commented on #243
yup

[2021-03-07 11:46] SatYu26 opened #244 "Adding of Eye-Blink counter in Face-Emotions-Recognition"
I wish to create a pull request for adding the Eye-Blink counter.

GSSoC'21

[2021-03-07 11:56] SatYu26 commented on #244
what changes should i do to get all checks pass.

[2021-03-08 13:33] rudrani05 commented on #223
I would like to work on this under GSSoC'21.

[2021-03-08 14:02] pallavidhere23 commented on #209
Hello,I would like to contribute to this issue.I am a participant @GSSOC'2021.Please assign me.

[2021-03-08 14:16] Jaideep07 opened #248 "Cartoonifying image using openCV"
I would like to contribute to this repo as a part of GSSOC21. Can you please assign me this issue

[2021-03-08 14:18] zenithexpo commented on #209
Hey, what i concluded so far is, when a same person slightly turns his/her face the confidence level decreases, it shows LOCKED as threshold value is set to 75. Decreasing the threshold value is not a good option, so a better way would be, if threshold is between 60 to 75, it will output label (with id it matches with database) along with Confidence Score and "FACE LOCK". Else <60, it is not a goo

[2021-03-08 15:04] akshitagupta15june commented on #248
great @Jaideep07 assigning you

[2021-03-08 15:09] akshitagupta15june commented on #209
oh ok thanks for the info

[2021-03-08 15:58] pallavidhere23 commented on #248
Hello,I am a participant @GSSOC'2021 ,can u please assign me this issue.

[2021-03-08 15:59] anurag0singh commented on #11
@akshitagupta15june  I don't have the write access to this repository so it has failed the check. Please check it if possible and review it as you wish.
I have participated in GSSOC'21

[2021-03-08 16:03] akshitagupta15june commented on #11
@anurag0singh you have to fork this repo first
Read the contributing.md

[2021-03-08 16:05] anurag0singh commented on #11
Yes ma'am. I have forked it already and I have added a github action workflow to it. But the greeting build run failed giving me an error msg that I don't have the write access to merge this request.

[2021-03-08 16:06] pallavidhere23 commented on #202
I am GSSOC'2021 participant ,can u please assign me this issue.

[2021-03-08 16:08] akshitagupta15june commented on #11
GitHub action pr are not accepted in repo

[2021-03-08 16:18] zenithexpo commented on #209
Just wanted to know i'm in right direction or not before creating PR

[2021-03-08 16:21] akshitagupta15june commented on #209
you can create a pr and I will review it and let you know.

[2021-03-08 17:11] animesh-007 commented on #201
@akshitagupta15june I would like to work on this. Could you assign me this?
I have one query, Can I implement this using the PyTorch framework?

[2021-03-08 17:14] akshitagupta15june commented on #201
yeah assigning you

[2021-03-08 17:34] Bijay555 commented on #155
Hi, I would like to work on this issue under GSSOC'21. Can you assign it to me?

[2021-03-08 17:35] akshitagupta15june commented on #155
ok assigning you.

[2021-03-08 17:39] #112 closed

[2021-03-08 18:01] anurag0singh commented on #155
@akshitagupta15june can you assign me too ?
I have also participated in GSSOC'21

[2021-03-08 18:02] srimontidutta commented on #237
Can I please work on this documentation? (GSSoC 21)

[2021-03-08 18:42] akshitagupta15june commented on #237
@mehabhalodiya is already assigned

[2021-03-08 18:42] akshitagupta15june commented on #155
@Bijay555 is working on it

[2021-03-08 18:43] mehabhalodiya commented on #237
@akshitagupta15june  Yes, I am working.

[2021-03-08 18:45] akshitagupta15june opened #250 "Readme improvement for Ensemble_facial_recognition"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Ensemble_facial_recognition

[2021-03-08 18:46] akshitagupta15june opened #251 "readme Improvement for Recognition_using_mtcnn"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition_using_mtcnn

[2021-03-08 18:48] akshitagupta15june opened #252 "readme Improvement for virtual makeover folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Virtual_makeover

[2021-03-09 03:39] harshsinha03 commented on #250
can i work on this for GSSOC'21

[2021-03-09 03:51] rashmitha520 commented on #68
Hi I am a gssoc21 participant .Can I work on this issue?

[2021-03-09 03:59] avishkar2001 commented on #252
Can I work on this issue as I am an active participant in GSSOC21?

[2021-03-09 04:00] avishkar2001 commented on #251
Can I work on this issue as I am an active participant in GSSOC21?

[2021-03-09 04:00] avishkar2001 commented on #250
Can I work on this issue as I am an active participant in GSSOC21?

[2021-03-09 06:55] get-satyam commented on #248
Hello, I would love to work on this issue and contribute to this repo as a GSSoC '21 Participant. Can you please assign me this issue?

[2021-03-09 07:24] Sloth-Panda commented on #251
would like to work on this @akshitagupta15june

[2021-03-09 07:24] Sloth-Panda commented on #250
would like to work on this

[2021-03-09 07:24] Sloth-Panda commented on #252
would like to work on this

[2021-03-09 08:31] Stuti2803 commented on #230
hello. I'm a participant of GSSOC 21. Can you assign me for this issue?

[2021-03-09 11:25] srimontidutta commented on #89
Hello, can I please contribute to this issue for GSSoC 21?

[2021-03-09 11:48] akshitagupta15june commented on #89
Yes @mayank8200 will be your Mentor

[2021-03-09 11:49] akshitagupta15june commented on #230
This issue is already assigned.

[2021-03-09 11:50] akshitagupta15june commented on #230
@simanfathima

[2021-03-09 11:51] akshitagupta15june commented on #252
Assigning in fcfs to @ManviGoel26

[2021-03-09 11:52] akshitagupta15june commented on #250
Assigning to @harshsinha03 in fcfs basis

[2021-03-09 11:53] srimontidutta commented on #89
Thank you!@akshitagupta15june

[2021-03-09 11:53] akshitagupta15june commented on #251
In fcfs

[2021-03-09 11:53] akshitagupta15june commented on #248
This issue is already assigned.

[2021-03-09 11:53] akshitagupta15june commented on #248
To @Jaideep07

[2021-03-09 11:54] akshitagupta15june commented on #209
This issue is already assigned.

[2021-03-09 12:54] mayank8200 commented on #89
Face detection is the first step you need to work on.
So...The first task for you all will be exploring different algorithms that are used for face detection...
We can use the pre-trained face detection model.
 If you look for face detection models over the Internet a bunch of models has been already trained. You just need to go through some of the popular pre-trained models and find out which one

[2021-03-09 13:33] akshitagupta15june opened #254 "Readme improvement for snap chat folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

[2021-03-09 13:35] akshitagupta15june opened #255 "Add missing algorithms comparison in readme file"
Some more new algos have been algorithms add them in the table along with comparison.
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms

[2021-03-09 13:36] akshitagupta15june opened #256 "Recognition using DWT algorithm"
Implement Recognition using DWT DISCRETE WAVELET TRANSFORM

[2021-03-09 14:07] akshitagupta15june opened #257 "Readme improvement for recognition using IOT Implementation"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-using-IOT

[2021-03-09 14:09] akshitagupta15june opened #258 "Bug report: Contributors image in face-x Readme is not opening in Safari in MacOS"
Contributors image in face-x Readme is not opening in Safari in MacOS

Improvement needed in contributors image in face-x Readme.

[2021-03-09 14:58] PankajGit2711 commented on #255
Hi Akshita! This is in reference to your above issue and I decided to look over it. Could you please address a thing that whether your intention was to write "Mission" or "Missing" in the Issue headline as I see in the readme file that there's no algorithm named Mission. So please clarify that and if you mistakenly wrote it then could you please correct it. Also with your permission can I take thi

[2021-03-09 15:02] akshitagupta15june commented on #255
yes you can take it.
It was missing.

[2021-03-09 15:06] PankajGit2711 commented on #255
Okay Thank You!

[2021-03-09 15:20] PankajGit2711 commented on #255
Should I categorize EfficientNet B0, B1, B2 Separately or is the single declaration for EfficientNet is enough?

[2021-03-09 15:32] anandxkumar commented on #254
Hi, I'm a  GSSOC'21  aspirant I would like to improve the Readme content of the Snap Chat Folder, can I be assigned the same ?

[2021-03-09 15:39] akshitagupta15june commented on #254
sure assigning you @anandxkumar

[2021-03-09 15:40] akshitagupta15june opened #259 "readme required for face-detectiionusing-opencv-algo"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection/Face-Detection-using-OpenCV

[2021-03-09 15:42] akshitagupta15june opened #260 "readme Improvement for caffe model implementation"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection/face%20detection%20using%20caffe

[2021-03-09 15:42] akshitagupta15june opened #261 "Recognition using Xception"

[2021-03-09 15:45] akshitagupta15june opened #262 "Finding convenient way to reduce time consumptions on EfficientNets."
When running the eff-nets it takes 40 mins + to run just a single epoch.
Find any better approach to reduce time
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20EfficientNetB2

[2021-03-09 16:56] PankajGit2711 commented on #255
Added a PR Akshita! Please check.

[2021-03-09 18:05] animesh-007 commented on #261
Hi. Could you assign me this?

[2021-03-09 18:06] akshitagupta15june commented on #261
yes

[2021-03-09 18:12] carrycooldude commented on #125
Hey @akshitagupta15june I want to work on this issue and also if possible can you give some resource for that algo

[2021-03-09 18:25] carrycooldude commented on #256
Hey @akshitagupta15june I am interested to work on this issue and if possible can you share some resources on that front

[2021-03-09 18:36] zenithexpo commented on #259
I would like to contribute in this.

[2021-03-09 18:44] sudipg4112001 opened #265 "Face Mask Detection"
I would like to add a project for face mask detection. Here, I would use dataset with sample images of human faces and then detect whether  they are wearing not

[2021-03-09 19:05] riyalamba07 commented on #67
hello ma'am . I am a GSsoc'21 participant .Will you please assign this issue to me?

[2021-03-09 19:45] Pavithra2206 commented on #256
Hey @akshitagupta15june i want to work on this issue as a GSSOC'21 participant. Can you assign me ?

[2021-03-10 02:16] akshitagupta15june commented on #67
You can start working on this is issue @riyalamba07

[2021-03-10 02:17] akshitagupta15june commented on #66
@riyalamba07 you can start working on this issue

[2021-03-10 07:29] AdityaNikhil commented on #262
Hey @akshitagupta15june, I'll try working on this. Please assign this to me. Also if anyone else interested, please do add them. I'm comfortable working on this collaboratively as well.

[2021-03-10 07:42] akshitagupta15june commented on #262
Ok assigning you

[2021-03-10 07:51] akshitagupta15june commented on #265
Yes you can create a Forder named face-mask-detection
Then you can add your implementations.

[2021-03-10 07:53] akshitagupta15june commented on #259
Ok assigning you

[2021-03-10 08:12] sudipg4112001 commented on #265
Okay!!

[2021-03-10 09:26] escher-m commented on #258
Hi @akshitagupta15june,
I am using Safari on MacOS Big Sur and I am able to view the contributors' images. I am attaching screenshots here.
Could you please clarify 'contributors image' so I could work on this issue?
![Screenshot 2021-03-10 at 2 51 57 PM](https://user-images.githubusercontent.com/62093616/110606895-a9ec6080-81b0-11eb-866f-f830c9abc357.png)
![Screenshot 2021-03-10 at 2 52 19 PM](ht

[2021-03-10 10:03] abhishek-iiit commented on #229
can, i too work on the issue @akshitagupta15june ?
If so,can you please assign me this issue...

[2021-03-10 10:24] abhishek-iiit commented on #66
As a GSSOC21 participant,
Can, i too work on the issue @akshitagupta15june ?
If so,can you please assign me this issue...

[2021-03-10 10:26] akshitagupta15june commented on #66
Yes ofcourse

[2021-03-10 10:27] akshitagupta15june commented on #229
No only one can be assigned at a time

[2021-03-10 10:28] akshitagupta15june commented on #258
Yes i am assigning you

[2021-03-10 10:29] akshitagupta15june commented on #258
In many Safari it is not visible

[2021-03-10 10:52] rudrani05 commented on #260
Hi @akshitagupta15june I'm gssoc'21 participant. Can you kindly explain me what and all improvement you need in readme for caffe model implementation. I would love to do this. Thank you!

[2021-03-10 11:01] akshitagupta15june commented on #260
It's like you can add information about its output and some more information

[2021-03-10 11:03] harshsinha03 opened #271 "attendance marking system using face recognition and OpenCV"
would like to propose an program in python that will train from a dataset using openCV and while using a webcam or any picture if the program recognises it the attendance will be marked in a .txt file.

as a participant for GSSOC'21 and would love to work on this
please assign me this issue

[GSSOC'21] - LABEL

[2021-03-10 11:07] harshsinha03 commented on #257
@akshitagupta15june  would like to work on this please assign me this issue

[2021-03-10 11:13] rajeshpanjiyar commented on #257
I also want to work on this. I request you to assign me too

[2021-03-10 11:23] rudrani05 commented on #260
Okay

[2021-03-10 11:27] harshsinha03 commented on #257
I have already completed my assigned task and i am already experienced in IOT so please assign this issue to me as i can complete the readme file  by today EOD @akshitagupta15june

[2021-03-10 13:00] VibhuRajput commented on #259
I would like to contribute to it, I am forking this.

[2021-03-10 13:46] Pavithra2206 commented on #66
hey @akshitagupta15june can i work on creating new filter as gssoc'21 participant?

[2021-03-10 13:51] Pavithra2206 commented on #256
hey @akshitagupta15june can i use matlab to implement DWT transform or only python ?

[2021-03-10 14:18] #251 closed

[2021-03-10 14:20] #252 closed

[2021-03-10 14:24] #255 closed

[2021-03-10 14:25] #201 closed

[2021-03-10 14:30] #244 closed

[2021-03-10 14:32] #241 closed

[2021-03-10 14:36] akshitagupta15june commented on #271
@mayank8200 will help you in this

[2021-03-10 14:38] akshitagupta15june commented on #256
assigning in fcfs to @carrycooldude

[2021-03-10 14:39] akshitagupta15june commented on #66
yes you can too work on this issue @Pavithra2206

[2021-03-10 14:45] akshitagupta15june opened #272 "Readme improvement in Blurring image across face"
add some more information about Blurring image across face

[2021-03-10 14:46] akshitagupta15june commented on #272
https://github.com/akshitagupta15june/Face-X/tree/master/Blurring%20image%20across%20face

[2021-03-10 14:47] akshitagupta15june opened #273 "Readme Improvement for Cartoonify Image folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify%20Image

[2021-03-10 14:48] akshitagupta15june opened #274 "readme Improvement for cartoonification folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify%20Image/Cartoonify_face_image

[2021-03-10 14:49] akshitagupta15june opened #275 "Readme Improvement for Face detection using dlib hog folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection/Face%20detection%20using%20dlib%20hog

[2021-03-10 14:50] akshitagupta15june opened #276 "Readme Improvement for Face-Emotions-Recognition folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition

[2021-03-10 14:51] akshitagupta15june opened #277 "Readme Improvement for facial biometric folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Facial_Biometric

[2021-03-10 14:52] akshitagupta15june opened #278 "Readme Improvement for face-swapping folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Swapping

[2021-03-10 14:58] akshitagupta15june opened #279 "Readme Improvement for recognition using IOT FOLDER"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-using-IOT

[2021-03-10 15:00] akshitagupta15june opened #280 "Readme Improvement for snapchat filter readme"
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

add the details of all filter implemented along with enhancement

[2021-03-10 15:41] #257 closed

[2021-03-10 15:41] #279 closed

[2021-03-10 15:59] akshitagupta15june commented on #272
assigning you

[2021-03-10 16:03] akshitagupta15june commented on #276
assigning

[2021-03-10 16:54] Ashishsingh619 commented on #274
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about Cartoonification and want to work on it, So can you please assign me this issue.
@akshitagupta15june

[2021-03-10 17:12] Jainish-shah commented on #273
I would like to work on the Readme file.
As a GSSoC participant, I would like to contribute.

[2021-03-10 17:16] akshitagupta15june commented on #273
sure

[2021-03-10 17:20] Komal-99 commented on #66
Hi I am GSSOC participant i want to work on this issue, Kindly assign it to me
Also please can you tell me which all filters are already added so that I don't spent time on it?

[2021-03-10 17:22] akshitagupta15june commented on #66
Yes you can work on this

Filter implemented till now
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

[2021-03-10 17:51] rajeshpanjiyar commented on #275
I want to work on this issue. I request you to assign me this.

[2021-03-10 17:52] A-kriti commented on #280
Hello Akshita mam, I would like to contribute to this issue as a GSSOC'21 participant. So could you please assign me this?

[2021-03-10 19:37] animesh-007 opened #284 "Feature request"
**Is your feature request related to a problem? Please describe.**
Implementing the following paper for background matting.
[Paper](https://paperswithcode.com/paper/real-time-high-resolution-background-matting)

**Describe the solution you'd like**
Integrating the author's code or providing a minimal example in this repo.

[2021-03-10 19:39] animesh-007 commented on #284
@akshitagupta15june Let me know your views on this issue. If you find it okay, then could you assign me this?

[2021-03-10 21:31] anubhav201241 opened #286 "Want to Add more optimized code in FaceDetection.py File"
**The bug**
In Face-Detection-Open-CV folder the second folder in that facedetection.py code is not completely optimized
 **To Reproduce**
I want to work upon this and want to submit more optimized and suitable code

Kindly Assigned this part to me :)
I can update the code in more optimized and more Featurable way

@akshitagupta15june  and Kindly plz assign this task to me and label as this as GSS

[2021-03-11 01:15] sadaffateema commented on #278
I'd love to work on this issue, can you please assign this to me under GSSOC'21

[2021-03-11 01:17] sadaffateema commented on #277
Would love to work on this issue, can you please assign this to me under GSSOC'21.

[2021-03-11 03:05] akshitagupta15june commented on #277
Sure will assign you

[2021-03-11 04:24] iaditichine opened #288 "Face and Eye Detection"
Along with face detection,eyes detection is crucial in many Human-Machine interface system. Face and eyes detection can be done using Haar Cascade classifier. High detection ratio can be obtained with these classifiers. An output of the same is attached below.
![eye detection](https://user-images.githubusercontent.com/58857630/110735371-aeb42180-824f-11eb-9614-a00a037e6b74.jpg)
![eye detection](ht

[2021-03-11 04:54] iaditichine commented on #288
Sure. Should I start contributing? Like the code and stuff as it's open
source.

On Thu 11 Mar, 2021, 9:55 AM github-actions[bot] <notifications@github.com
wrote:

[2021-03-11 06:18] Komal-99 commented on #66
Ok thanks :)

[2021-03-11 06:46] rk05-lenavo commented on #265
I'm participant from GSSOC'21. I want to work on this issue. Please assign me this.

[2021-03-11 06:48] sudipg4112001 commented on #265
Hey, I have already made a PR for this issue.. Try some other issue

[2021-03-11 08:27] tarannum-perween commented on #276
I Want to work on this issue, can you please assign this to me under GSSOC'21.

[2021-03-11 08:41] tarannum-perween commented on #278
I want to work on this issue. Can you please assign this to me under GSSOC'21

[2021-03-11 10:41] SpecTEviL commented on #280
Hey @akshitagupta15june, I'm Vishal Patil and I would like to work on this issue under GSSoC'21. It'll be great if you assign this to me so that I can contribute to this.
Thanks!

[2021-03-11 10:43] SpecTEviL commented on #278
Hey @akshitagupta15june, I'm Vishal Patil and I would like to work on this issue under GSSoC'21. It'll be great if you assign this to me so that I can contribute to this.
Thanks!

[2021-03-11 10:45] SpecTEviL commented on #271
Hey @akshitagupta15june, I'm Vishal Patil and I would like to work on this issue under GSSoC'21. It'll be great if you assign this to me as well so that I can contribute to this along with @harshsinha03.
Thanks!

[2021-03-11 11:23] Sanika1999 commented on #275
Can I work on this?

[2021-03-11 11:38] iaditichine commented on #288
Hey @akshitagupta15june, i want to add this feature in this project.

[2021-03-11 11:43] akshitagupta15june commented on #275
Assigning to @Sanika1999

[2021-03-11 11:44] akshitagupta15june commented on #278
Assigning to @sadaffateema

[2021-03-11 12:42] akshitagupta15june commented on #271
hi if i will assign to two then there will be two pr and there can be conflict.

[2021-03-11 12:45] #276 closed

[2021-03-11 12:49] #277 closed

[2021-03-11 12:50] SpecTEviL commented on #271
I and @harshsinha03 can work together dividing the work among ourselves if @harshsinha03 is fine with that. We will try to first merge our code and then make a single PR.
Thanks.

[2021-03-11 12:53] #254 closed

[2021-03-11 12:54] #243 closed

[2021-03-11 12:57] akshitagupta15june commented on #288
hi @iaditichine add your implementation here in this folder https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection by the naming convention face-eye-detection also create a good informative readme

[2021-03-11 12:57] akshitagupta15june commented on #286
ok great u can work on it.

[2021-03-11 12:58] iaditichine commented on #288
Will do, thanks! Should I create a pr?

On Thu 11 Mar, 2021, 6:27 PM AKSHITA GUPTA ***@***.*** wrote:

[2021-03-11 12:58] akshitagupta15june commented on #284
ok u can work on it.

[2021-03-11 13:00] akshitagupta15june commented on #280
assigning to @A-kriti

[2021-03-11 13:03] Dhanush2612 opened #294 "Invisibility Cloak"
To perform invisibility cloak using opencv

[2021-03-11 13:03] Dhanush2612 commented on #294
Kindly assign me this issue if its valid

[2021-03-11 13:04] akshitagupta15june commented on #294
hi this not allowed here

[2021-03-11 13:04] #294 closed

[2021-03-11 13:17] akshitagupta15june opened #296 "Face recognition using Linear Discriminant Analysis (LDA)"

[2021-03-11 13:18] akshitagupta15june opened #297 "Face recognition using ICA (Independent Component Analysis)"

[2021-03-11 13:19] akshitagupta15june opened #298 "Face recognition using EBGM (Elastic Bunch Graph Matching), Fisherfaces."

[2021-03-11 13:20] akshitagupta15june commented on #202
hi its been late so deleting this issue

[2021-03-11 13:21] akshitagupta15june opened #299 "Readme improvement in facial biometric folder."
https://github.com/akshitagupta15june/Face-X/tree/master/Facial_Biometric
Readme improvement in a facial biometric folder.

[2021-03-11 13:23] akshitagupta15june opened #300 "Face Recognition using InceptionV3 and InceptionResNetV2"

[2021-03-11 13:24] #120 closed

[2021-03-11 13:25] akshitagupta15june opened #301 "Add details about ResNet50 in readme"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20ResNet50

[2021-03-11 13:26] Sibasish-Padhy commented on #278
hey @akshitagupta15june ,I'm Sibasish Padhy and I would like to work on this issue under GSSoC'21.It'll be great if you assign this to me for contribution

[2021-03-11 13:31] Sibasish-Padhy commented on #273
I would like to work on readme file as a gssoc participant can u also assign me with this task

[2021-03-11 13:34] Sibasish-Padhy commented on #301
hi @akshitagupta15june i am a gssoc participant 2021 and I would like to contribute on this issue.Can u assign me with this task?

[2021-03-11 13:38] Sibasish-Padhy commented on #299
hi @akshitagupta15june I am Sibasish Padhy a member of  gssoc  2021 .I wanted to contribute on this issue can u assign me with this task?

[2021-03-11 13:43] rajeshpanjiyar commented on #301
I want to work on this. I request you to assign me this one.

[2021-03-11 13:47] rajeshpanjiyar commented on #299
I request you to assign this to @Sibasish-Padhy  and issue 301 to me.

[2021-03-11 13:50] Sibasish-Padhy commented on #66
Hi @akshitagupta15june I am GSSOC participant 2021 and I too wanna work on this issue can u tell me which filters have added and updated till now so that I could look for the new ones??

[2021-03-11 14:09] Nidhi-2000 commented on #301
Hey I am Nidhi participant of gssoc '21. Kindly assign this issue to me

[2021-03-11 14:10] Nidhi-2000 commented on #299
Hey !!! I am Nidhi participant of gssoc '21. Kindly assign this issue to me

[2021-03-11 14:13] akshitagupta15june commented on #299
assigning to @Nidhi-2000

[2021-03-11 14:13] akshitagupta15june commented on #301
assining to @Sibasish-Padhy

[2021-03-11 14:35] #265 closed

[2021-03-11 14:37] akshitagupta15june opened #302 "Add a readme for GUI of LBPH Algo"
https://github.com/akshitagupta15june/Face-X/tree/master/GUI_for_Face%20Recognistion_using_LBPH_algo

[2021-03-11 14:41] #288 closed

[2021-03-11 14:56] rajeshpanjiyar commented on #302
Hi I am a participant in GSSOC'21. I want to work on this so I request you to assign me this.

[2021-03-11 15:11] akshitagupta15june commented on #302
ok assigning you

[2021-03-11 15:15] sarobml2000 commented on #300
Hi @akshitagupta15june , I have experience working with DNNs, ResNet-50 in particular. Also, I have made models based on InceptionV4 for Human Activity Recognition. I am a participant in GSSoC'  21 and I would like to work on this issue. Can you assign me this?

[2021-03-11 15:23] akshitagupta15june commented on #300
ok assigning you

[2021-03-11 17:38] #301 closed

[2021-03-11 17:41] akshitagupta15june opened #304 "Readme improvement for face mask detction repo"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection

[2021-03-11 17:44] akshitagupta15june opened #305 "Readme Improvement for SIFT ALGO"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20SIFT

ADD MORE INFORMATION ABOUT THIS ALGO AND THE WAY OF EXECUTING IT.

[2021-03-11 17:46] utkarsh147-del commented on #305
Assign this to me

[2021-03-11 17:56] utkarsh147-del commented on #305
Mam,I have update readme of Resnet50,so please merge pull request of that also

[2021-03-11 19:43] ManviGoel26 commented on #296
I would like to work on this. Could you please assign this to me?

[2021-03-12 02:54] agamgupta2015 commented on #304
I will do it please assign to me

[2021-03-12 03:10] iaditichine opened #307 "Smile Detection"
Smile Detection is a feature i would like to contribute. Smile Detection can be done using OpenCV and Haar Cascade classifier in images as well as videos.

[2021-03-12 03:16] akshitagupta15june commented on #307
Hi this is already done i. Emotions Recognition

[2021-03-12 03:16] #307 closed

[2021-03-12 03:54] rudrani05 commented on #260
I have sent a PR , pls verify and let me know if any changes are required.

[2021-03-12 04:22] rudrani05 commented on #260
His @akshitagupta15june I have sent a pr and this is my first pr , pls verify it and let me know if there any changes are required.

[2021-03-12 04:41] Sibasish-Padhy commented on #304
hi @akshitagupta15june I am a GSSOC'21 participant,can u please assign this task to me

[2021-03-12 06:07] akshitagupta15june commented on #304
Assigning to @agamgupta2015

[2021-03-12 06:08] akshitagupta15june commented on #305
Assigning to u

[2021-03-12 06:10] #260 closed

[2021-03-12 06:33] utkarsh147-del commented on #305
Pull request is generated for this

On Fri, Mar 12, 2021, 11:39 AKSHITA GUPTA ***@***.***> wrote:

[2021-03-12 06:59] Avishake007 opened #309 "Face, Eye, Mouth and Nose detection"
I want to add face, eye , mouth and nose detection.
@akshitagupta15june please assign me for this project
I am a GSSOC'21 participant and want to contribute on this project.

[2021-03-12 07:15] Sibasish-Padhy commented on #231
hi @akshitagupta15june I am a GSSOC participant 2021 and i wanted to contribute to this issue.Can u assign me with the task???

[2021-03-12 12:05] anubhav201241 commented on #286
ok Mam, Thank you for assigning me This Task :)

[2021-03-12 12:54] AdityaNikhil opened #312 "FaceX Library"
## About ❓
A unified library for **FaceX** to run all the FaceX algorithms using only one line of code.

## Example 🐧
### Running cartoonify using FaceX library
    import facex
    import cv2

    img = facex.cartoonify('your-img.jpg', method='opencv')
    cv2.imshow(img)
    cv2.waitkey()

Similarly we can run,

    facex.face_detect('your-img.jpg', method='opencv') #Face detection
    facex.fac

[2021-03-12 13:19] akshitagupta15june commented on #309
hi this is already done you can check in face-emotions folder

[2021-03-12 13:19] #309 closed

[2021-03-12 13:20] AdityaNikhil commented on #312
@akshitagupta15june  Please don't close this issue. Please read the **Contributions are welcome** ,**pending tasks** and **Notice to the maintainer** sections. I'd like to keep this open so to welcome more contributions and keep track of the progress of this library.

[2021-03-12 13:23] akshitagupta15june commented on #312
Sure i have opened the issue

[2021-03-12 13:43] utkarshxy commented on #272
Thanks for assigning the issue. I'll get this done by tmr evening 😊👍🏻

[2021-03-12 14:08] AdityaNikhil commented on #312
Please pin this issue and add **FaceX-API** label.

[2021-03-12 17:40] Hamza3226 commented on #66
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:40] Hamza3226 commented on #68
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:40] Hamza3226 commented on #89
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:41] Hamza3226 commented on #155
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:41] Hamza3226 commented on #228
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:41] Hamza3226 commented on #229
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:41] Hamza3226 commented on #248
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:41] Hamza3226 commented on #256
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] akshitagupta15june commented on #89
hi @Hamza3226 your mentor will be @mayank8200

[2021-03-12 17:42] Hamza3226 commented on #261
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] Hamza3226 commented on #262
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] Hamza3226 commented on #271
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] Hamza3226 commented on #296
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] akshitagupta15june commented on #248
yes you can work on this

[2021-03-12 17:42] Hamza3226 commented on #297
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:42] Hamza3226 commented on #298
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:43] Hamza3226 commented on #299
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:43] Hamza3226 commented on #300
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:43] Hamza3226 commented on #312
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:44] #278 closed

[2021-03-12 17:47] animesh-007 commented on #261
Actually, I was working on this. Could you look for some other issue to work on?

[2021-03-12 17:48] akshitagupta15june commented on #261
hi @Hamza3226 please don't spam in every issue

[2021-03-12 17:48] akshitagupta15june commented on #261
only comment in unassigned issue

[2021-03-12 17:49] akshitagupta15june commented on #296
assigning to @ManviGoel26

[2021-03-12 18:07] Hamza3226 commented on #261
Ok ma'am

[2021-03-12 18:08] Hamza3226 commented on #248
Ok ma'am

[2021-03-12 18:12] Hamza3226 commented on #89
Ok thank-you ma'am

[2021-03-12 18:35] Supriya1702 commented on #299
I would like to contribute to this. Could you please assign it to me?

[2021-03-12 19:23] animesh-007 commented on #312
This is a good issue. @AdityaNikhil will it be okay if I contribute to this?

[2021-03-12 19:32] Ashishsingh619 opened #319 "In cartoonify_face_image folder in the cartoon-face_image.py file. I want to make it work for live video Processing through Webcam or laptop camera which is better than reading a single image and cartoonifying it."
The cartoon-face_image.py  is working for only a single image for which the image needs to be saved first then put into the cv2.imread function. So I want to make it for making it work for live video processing through webcam or laptop camera as the user starts the camera he can see his live cartoonified video instead of a single frame in the earlier case.

So @akshitagupta15june ma'am please assi

[2021-03-12 20:41] arnab031 opened #321 "Face Mask detector in PyTorch"
**Statement**
We will develop a Face Mask detector.

**Solution**
Using deep learning model we will try to approach it.

[2021-03-12 20:42] arnab031 commented on #321
As a GSSOC21 Participant , I would like to work on this issue. @akshitagupta15june

[2021-03-13 04:56] Aayush-hub opened #322 "Add github action to auto label issues"
**Is your feature request related to a problem? Please describe.**
Add github action to auto label issues with gssoc21 label, if the contributor asks to work on the issue under GSSOC21.

[2021-03-13 04:56] Aayush-hub commented on #322
@akshitagupta15june Can I look into it??

[2021-03-13 05:23] akshitagupta15june commented on #319
work on it but give the proper screenshot of working in the readme present.

[2021-03-13 05:25] akshitagupta15june commented on #321
@arnab031 please add your implementation inside this folder https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection by creating a name face-mask-detection-pytorch

[2021-03-13 05:26] akshitagupta15june commented on #322
hi @Aayush-hub github action are not allowed in this repo

[2021-03-13 05:26] #322 closed

[2021-03-13 05:33] #274 closed

[2021-03-13 05:43] Aayush-hub commented on #322
@akshitagupta15june Sure, no problem mam . Looking forward for more contributions :)

[2021-03-13 05:44] AdityaNikhil commented on #312
@Hamza3226  @animesh-007 With pleasure✌
Check the **pending tasks** section in the above issue. See if you can contribute to any of those or suggest new ideas by commenting here. Would love to collaborate!

[2021-03-13 05:45] akshitagupta15june commented on #312
sure

[2021-03-13 05:46] akshitagupta15june commented on #312
@AdityaNikhil can you guide the participants in this issue.

[2021-03-13 05:46] AdityaNikhil commented on #312
@akshitagupta15june Of course..!

[2021-03-13 05:46] akshitagupta15june commented on #312
@Hamza3226 and @animesh-007

[2021-03-13 05:52] Hamza3226 commented on #312
Do we have to cartoonify an image ?

[2021-03-13 06:00] AdityaNikhil commented on #312
@Hamza3226  That's been done..!
Please check the **How to use** section [here](https://github.com/akshitagupta15june/Face-X/tree/master/facex#how-to-use) and get familiar with the codebase here.
@akshitagupta15june Can you open a discussion section for this repo. It'll be easier to make discussions.

[2021-03-13 06:03] akshitagupta15june commented on #312
done @AdityaNikhil

[2021-03-13 06:16] jeelnathani commented on #66
hello, I am GSSOC '21 participant and I would like to contribute here on snapchat devil filter.
![devilFilter](https://user-images.githubusercontent.com/37493874/111021377-c4f9e300-83f1-11eb-9ce8-86f99c0bcddb.png)

[2021-03-13 06:20] akshitagupta15june commented on #66
yes you can work on it

[2021-03-13 08:35] sherin527 commented on #66
Hi @akshitagupta15june ma'am, I'm a GSSOC'21 participant and want to contribute to this by adding another filter. Can I also work on this ma'am?

[2021-03-13 08:36] akshitagupta15june commented on #66
yes ofcourse

[2021-03-13 10:09] Preeti2095 commented on #228
I have created the surf project but I am not getting the desired result. What should I do?

[2021-03-13 10:50] #286 closed

[2021-03-13 13:06] Sanika1999 commented on #275
Hi @akshitagupta15june  could you please mention what kind of changes need to be done in this readme

[2021-03-13 13:27] akshitagupta15june commented on #230
its been many days so closing this issue.

[2021-03-13 13:27] #230 closed

[2021-03-13 13:29] akshitagupta15june opened #324 "Face Recoginition using VGG16"

[2021-03-13 13:37] akshitagupta15june commented on #275
@Sanika1999 improvements like how to run this , some more info about this implementation

[2021-03-13 13:37] akshitagupta15june commented on #275
you can take help from another readme present in the repo

[2021-03-13 13:38] Sanika1999 commented on #275
Sure thanks

[2021-03-13 14:29] arnab031 commented on #324
I can do that using VGG16. But what dataset will I use for that? @akshitagupta15june

[2021-03-13 15:18] #321 closed

[2021-03-13 15:24] akshitagupta15june opened #328 "Add a readme for face - mask - detection"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection

[2021-03-13 15:27] akshitagupta15june opened #329 "Readme improvement in face-mask-detection-pytorch"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection/face-mask-detection-pytorch

add some more information, and regarding how to run this.

[2021-03-13 15:49] Komal-99 commented on #231
Hi I am a Gssoc'21 participant and founded a bug in Snapchat filter sub folder Dog_filter. The dog filter detect some unknown face on wall while using the filter and put dog filter on it also. Also The Readme file of dog filter can be updated as the modules version written in requirement.txt file are very old and can't be easily run with python3 . And one point  can be added in installation steps.

[2021-03-13 15:52] akshitagupta15june commented on #231
ok @Komal-99 will create an issue regarding this.

[2021-03-13 16:15] Komal-99 opened #330 "Bug report issue in Glasses on face filter"
**Describe the bug**
1.No requirements file is made for downloading required python modules.
2.In Readme their should pip command to download modules also  it should be creative
3.Video can be added for Filter working expectation
4. In Images folder their can more images added for more good looking repo

**To Reproduce**
Steps to reproduce the behavior:
1. creating requirements.txt file
2. Updatin

[2021-03-13 16:15] Komal-99 commented on #330
I would like to work on this issue. Gssoc'21 participant

[2021-03-13 16:22] Komal-99 commented on #231
@akshitagupta15june  ok Thanks for considering I have created a bug report for this

[2021-03-13 16:34] Komal-99 opened #331 "Dog Filter Bug report"
**Describe the bug**
There is bug in Snapchat filter ---> Dog_filter. The dog filter detect some unknown face on wall while using the filter and put dog filter on it also. Also The Readme file of dog filter can be updated as the modules version written in requirement.txt file are very old and can't be easily run with python3 . And one point can be added in installation steps.

**To Reproduce**
Ste

[2021-03-13 17:26] akshitagupta15june commented on #330
Assigning you

[2021-03-13 19:24] AshuKV commented on #328
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-03-13 19:24] AshuKV commented on #329
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-03-14 06:09] rudrani05 commented on #329
Hi @akshitagupta15june , if no one is assigned yet, can I update this readme file.

[2021-03-14 06:21] subhanjan160901 commented on #329
Hi @akshitagupta15june , can I get to work on this?

[2021-03-14 06:52] #302 closed

[2021-03-14 06:52] akshitagupta15june commented on #329
assigning to @AshuKV

[2021-03-14 07:07] Preeti2095 opened #333 "Documentation Improvement"
**Is your documentation request related to a problem? Please describe.**
There is a spelling mistake in the last line in readme.md of recognition algorithm folder.
Mistake:- Cecognition

**Describe the documentation you want to improved**
Correction:- Recognition

![Screenshot_20210314_122746](https://user-images.githubusercontent.com/70755131/111060145-c6461100-84c0-11eb-8ac0-14acbe827531.JPG)

[2021-03-14 07:20] akshitagupta15june commented on #333
assigned

[2021-03-14 07:33] #333 closed

[2021-03-14 07:48] akshitagupta15june commented on #68
yes anyone can contribute to this issue, This issue is open for everyone.

[2021-03-14 07:48] sarobml2000 opened #335 "Implementation of an IncetionpResnet-v2 model for Face Recognition."
A InceptionResnet-v2 DNN architecture has to be used for training a Face Recognition model.

[2021-03-14 07:49] akshitagupta15june commented on #66
yes anyone can contribute to this issue, This issue is open for everyone.

[2021-03-14 07:51] akshitagupta15june commented on #335
Assigned to u. Please add all your implementation inside this folder https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms with a proper readme

[2021-03-14 12:15] akshatvirmani commented on #331
I would like to work on this issue. Please assign this to me.

[2021-03-14 12:19] akshatvirmani commented on #328
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:04] akshitagupta15june commented on #328
assigning

[2021-03-14 18:51] hrithikppawar opened #339 "Face Mask Detection using VGG16 architecture"
I am a **GSSOC participant**. I would like to work on a **Face Mask Detection** project with **VGG16** architecture and I will be using **Tensorflow** for it. Assign this issue to me, so that I can start contributing.

[2021-03-15 06:04] hrithikppawar commented on #324
That's great, I think we can collaborate and work on many other architectures and can also work on real time face mask detection using live camera.

[2021-03-15 07:11] iaditichine opened #342 "Pencil Sketch"
Hello,I am a GSSOC'21 participant and i would like to add a feature called Pencil Sketch which converts Facial image or any other input image to a Pencil Sketch. It is done using Opencv. Please assign this issue to me. @akshitagupta15june
![output_sketch](https://user-images.githubusercontent.com/58857630/111116245-c19a5f00-858b-11eb-860c-2ab3586e4c1e.png)

[2021-03-15 09:42] HOTSONHONET commented on #324
Hello ma'am, I'm a GSSOC'21 participant and I want to know if the recognition is based on face verification or identification? I'm comfortable in both cases. Can you please assign this issue to me? If assigned I will be using tf.keras's VGG16 model to build a siamese network for this task.

[2021-03-15 09:57] HOTSONHONET commented on #262
Hello ma'am, I'm a GSSOC'21 participant and if possible I would like to work with @AdityaNikhil as a collaborative team to solve this issue.

[2021-03-15 11:58] rajeshpanjiyar opened #343 "Adding Contributor section in readme ( Automatically )"
*This will add contributors' names automatically in the CONTRIBUTORS.md file. I will start working on this as soon I get assigned.*

[2021-03-15 13:08] A-kriti opened #344 "Ghost Image"
This converts an image into a Ghost image using OpenCV and python. Kindly assign me this issue, @akshitagupta15june ma'am.

[2021-03-15 13:46] akshitagupta15june commented on #339
assigning

[2021-03-15 13:49] akshitagupta15june commented on #344
assigning you

[2021-03-15 13:51] akshitagupta15june commented on #342
can you add this implementation in snap filter folder

[2021-03-15 13:51] akshitagupta15june commented on #343
this is not required

[2021-03-15 13:51] #343 closed

[2021-03-15 13:53] #319 closed

[2021-03-15 13:54] iaditichine commented on #342
Sure. I will implement it in snap filter folder.

[2021-03-15 13:58] #237 closed

[2021-03-15 14:12] AdityaNikhil commented on #262
@HOTSONHONET Of course..!
Let me know your thoughts about reducing it here or start a new thread at [discussions](https://github.com/akshitagupta15june/Face-X/discussions). Also, I'm creating a FaceX library to which if you're interested can start contributing to it as well. Check the details [here](https://github.com/akshitagupta15june/Face-X/issues/312).
Since I have exams going on currently, I

[2021-03-15 14:42] Ashishsingh619 opened #348 "cartoonify-gui.py file in the cartoonify_GUI folder"
- I want to make a Gui in which the video is visible on the screen and there is a button below the video which is the capture button when the user clicks the button he can take as many snapshots as possible and all the snapshots will be stored in a folder which will be created automatically no need to create one folder and there would be another button below which will be the displayed cartoonifie

[2021-03-15 15:27] akshitagupta15june commented on #331
assigning

[2021-03-15 16:55] #344 closed

[2021-03-15 18:02] nandinib1999 opened #350 "Semantic Face Segmentation"
**Describe the solution you'd like**
I would like to implement a model for face segmentation. It will segment out the different regions of the human face. Face segmentation is the first step towards deep fake using GANs. It can be used in multiple projects such as face tracking, face recognition, emotion detection, etc.

**Approach to be followed (optional)**
I will use the UNet model for the task

[2021-03-16 02:57] ahmed-cyber commented on #339
I am a GSSOC participant. I would like to work on a Face Mask Detection project with VGG16 architecture . Assign this issue to me, so that I can start contributing.

[2021-03-16 08:56] kumarrahul02 opened #352 "add new feature merge two frame in one frame."
I am a GSSOC participant. I like two add two or more frames in one frame using opencv. Please assign this issue to me. @kumarrahul02
Example.
![example](https://user-images.githubusercontent.com/50171407/111282047-60dc5680-865f-11eb-98b0-54e3c2b06d07.png)

[2021-03-16 12:27] Sibasish-Padhy commented on #89
hello,I am a GSSOC '21 participant and would like to contribute to this project

[2021-03-16 14:37] akshitagupta15june commented on #352
assigning you , add your implementation  in https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-03-16 14:38] akshitagupta15june commented on #350
please add your implemetation in https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-03-16 14:55] rajeshpanjiyar commented on #11
I request you to add a **level** tag to this issue, it will be a great help.

[2021-03-16 15:11] akshitagupta15june commented on #11
hi this issue will be having no tags because there is no actual implemetation.

[2021-03-16 15:16] nandinib1999 commented on #350
Thank you! :)

[2021-03-16 15:20] rajeshpanjiyar commented on #11
As many contributors have forget to add up their name in this section due
to too many issue out there. So can it not even be level0 task or issue to
be assigned to coverup all names? I can add name and GitHub handle of all
the valuable contributors.

On Tue, 16 Mar, 2021, 8:57 PM AKSHITA GUPTA, ***@***.***>
wrote:

[2021-03-16 15:34] #348 closed

[2021-03-16 15:42] akshitagupta15june commented on #11
the contributors info is already mentioned in readme so this will not be counted in any levels.

[2021-03-16 16:59] pm0824 opened #354 "Feature request : Adding Face Recognition Using Dlib"
**Description**
Dlib offers a deep learning based state-of-the-art face recognition feature. It is mainly based on a CNN model heavily inspired from ResNet model. Also, it covers all required stages of a modern face recognition flow including detect, align, represent and recognize.

**Additional context**
I am GSSoC'21 participant and would like work on this issue. Kindly assign it to me. Looking

[2021-03-17 02:13] #329 closed

[2021-03-17 02:24] akshitagupta15june opened #356 "Create a proper readme file for awesome Face operations"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

Add the feature information which is implemented
This readme must contain the information regarding all the facial operations can be added here like Face swapping, Face sketch, Face ghost image etc

[2021-03-17 02:26] akshitagupta15june opened #357 "Readme Improvement in virtual makeover"
https://github.com/akshitagupta15june/Face-X/tree/master/Virtual_makeover/Virtual-Makeup

[2021-03-17 02:33] rajeshpanjiyar commented on #357
I want to work on this. I request you to assign me this. I am a GSSoC'21 PARTICIPANT

[2021-03-17 06:54] jeelnathani commented on #286
hello, I am gssoc '21 participant. I would like contribute on nose detection. assign it to me :)

[2021-03-17 07:01] jeelnathani commented on #89
hello. I am GSSOC'21 participant and I would like contribute here on nose detection.

[2021-03-17 07:09] Hamza3226 commented on #89
Sorry, but this project is already assigned to me.

[2021-03-17 07:15] jeelnathani commented on #89
@Hamza3226 you haven't explicitly mentioned on which module you want to contribute, which created ambiguity here

[2021-03-17 07:18] Hamza3226 commented on #89
I researched about various face detection models and found out the most efficient one. Currently i am researching about transfer Learning.

[2021-03-17 07:22] jeelnathani commented on #89
are you working on face detection only!

[2021-03-17 07:28] Hamza3226 commented on #89
No, also working on snapchat filters also

[2021-03-17 10:35] sudipg4112001 opened #360 "Face Morphing"
I would like to add a new project on face morphing. I will upload a python script, examples of morphing, and add a readme

[2021-03-17 13:59] #296 closed

[2021-03-17 14:00] #228 closed

[2021-03-17 14:01] #342 closed

[2021-03-17 14:03] akshitagupta15june commented on #360
ok great assigning you. Please add your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-03-17 14:04] akshitagupta15june commented on #357
assigning

[2021-03-17 14:10] akshitagupta15june opened #364 "Readme Improvement for pencil sketch implementation"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Pencil%20Sketch

[2021-03-17 14:11] akshitagupta15june opened #365 "Readme Improvement for LDA Analysis"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20LDA

Add some more information regarding LDA.

[2021-03-17 14:22] srimontidutta commented on #365
Can I work on this?

[2021-03-17 14:23] srimontidutta commented on #364
Can you please assign this to me?

[2021-03-17 14:23] Preeti2095 commented on #297
I would like to work on this @akshitagupta15june. Can you assign it to me?

[2021-03-17 14:24] srimontidutta commented on #356
Can you please assign this to me?

[2021-03-17 14:24] akshitagupta15june commented on #297
assigning in fcfs to @Hamza3226

[2021-03-17 14:26] Preeti2095 commented on #297
Ok. No problem. All the best @Hamza3226.

[2021-03-17 14:28] Hamza3226 commented on #297
Thank You

[2021-03-17 14:29] Preeti2095 commented on #298
Can you assign this to me @akshitagupta15june?

[2021-03-17 14:38] akshitagupta15june commented on #298
sure

[2021-03-17 14:46] akshitagupta15june commented on #89
See haarcascade is implemented now so @mayank8200 please assign each participants different models

[2021-03-17 15:33] sherin527 opened #366 "Image segmentation using color spaces"
@akshitagupta15june ma'am, I want to add a python script on image segmentation using color spaces and OpenCV. I will add proper readme along with screenshots as well.
ma'am, could you assign this issue to me?

[2021-03-17 15:53] akshitagupta15june commented on #366
ok assigning you add your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-03-17 15:55] sherin527 commented on #366
ok ma'am.

[2021-03-18 02:03] ahmed-cyber commented on #339
@akshitagupta15june

[2021-03-18 02:21] rajeshpanjiyar opened #369 "modify CONTRIBUTORS.md file"
There is a total of 58 contributors in this project till now but in this file, we are getting 59 contributors' names. It means that one name might have repeated.
*Hi I am a GSSoC'21 participant and I want to fix this issue so I request you to assign me this.*

[2021-03-18 06:19] AdityaNikhil commented on #339
@hrithikppawar Have you completed this project? If so, please save your model to integrate with [Face-X Library](https://github.com/akshitagupta15june/Face-X/projects/3). So that your model will be easy to implement with one line of code.

[2021-03-18 06:21] AdityaNikhil commented on #354
Hey @pm0824,
 Have you completed this project? If so, please save your model to integrate with [Face-X Library](https://github.com/akshitagupta15june/Face-X/issues/312). So that your model will be easy to implement with one line of code.

[2021-03-18 07:04] pm0824 commented on #354
Haven't completed yet @AdityaNikhil... Kindly assign me this issue @akshitagupta15june

[2021-03-18 08:01] ahmed-cyber commented on #339
Not yet but i want to work on it ,i'm gssoc participant

On Thu, 18 Mar 2021, 8:19 a.m. Aditya Nikhil ***@***.***
wrote:

[2021-03-18 11:04] Jainish-shah commented on #273
Should I include the basic algorithm used in all the Cartoonify Technique in the readme

[2021-03-18 15:08] AM1CODES opened #373 "New Project idea : Emotion Detection"
**Is your feature request related to a problem? Please describe.**
The new project idea involves detecting human emotions, these emotions can be used to build a recommender that would recommend songs/movies by detecting the real time emotions of user or maybe used for other purpose similar to this.

**Describe the solution you'd like**
 I would like to work on building the emotion detector for det

[2021-03-18 17:10] #364 closed

[2021-03-18 17:12] #273 closed

[2021-03-18 17:13] #360 closed

[2021-03-18 17:16] akshitagupta15june opened #376 "Readme Improvement for face morphing"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Face-Morphing

[2021-03-18 17:16] #369 closed

[2021-03-18 17:16] akshitagupta15june commented on #369
merged

[2021-03-18 17:18] akshitagupta15june commented on #373
hi here you can see what is already implemented till now and let me know what new you want to add https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition

[2021-03-18 17:19] akshitagupta15june commented on #354
yes sure

[2021-03-18 17:20] akshitagupta15june commented on #354
@pm0824 when you complete this try to implement what @AdityaNikhil ask u to do and let me know if any issue is to be added

[2021-03-18 17:21] akshitagupta15june commented on #356
assigning

[2021-03-18 17:24] Hamza3226 opened #377 "Face Recognition with FaceNet and MTCNN"
MTCNN or Multi-Task Cascaded Convolutional Neural Networks is a neural network which detects faces and facial landmarks on images. It was published in 2016 by Zhang et al. The whole concept of MTCNN can be explained in three stages out of which, in the third stage, facial detection and facial landmarks are performed simultaneously.
A simpler explanation of the three stages of MTCNN can be as follo

[2021-03-18 17:29] akshitagupta15june commented on #377
hi these both are already implemented

[2021-03-18 17:29] #377 closed

[2021-03-18 17:30] pm0824 commented on #354
Sure, Thank you.

[2021-03-18 17:34] Hamza3226 opened #378 "Face Mask Detection Using Python"

[2021-03-18 18:54] Jainish-shah commented on #376
Please assign this issue to me I would like to work on the readme file...

[2021-03-19 05:55] AM1CODES commented on #373
@akshitagupta15june I went through the content of the folder and i think all of these are implemented well already. I too implemented it using custom CNN.  The performance is as follows -
* Training accuracy - 71.73
* Testing accuracy - 65..22
One of the models in the folder has an accuracy of 64% on testing set which i think is good given the data we had. So i think there are sufficient models in

[2021-03-19 06:33] Aayush-hub commented on #378
@akshitagupta15june Can this be assigned to me?

[2021-03-19 06:45] Hamza3226 commented on #378
sorry, but i am working on it.

[2021-03-19 07:17] Aayush-hub commented on #378
Okay, Happy coding :)

[2021-03-19 08:36] akshitagupta15june commented on #373
You can add you your model inside the folder of emotions one and also follow the naming convention as emotion-recognition-with-GUI

[2021-03-19 14:32] #357 closed

[2021-03-19 14:36] rajeshpanjiyar commented on #365
I want to work on this. I request you to assign me this issue. I am a participant in GSSoC21

[2021-03-19 14:38] akshitagupta15june commented on #378
this is already implemented @Hamza3226 https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection

[2021-03-19 14:38] #378 closed

[2021-03-19 14:39] akshitagupta15june commented on #365
assigning

[2021-03-19 14:47] Sanika1999 opened #382 "Documentation Improvement"
**Is your documentation request related to a problem? Please describe.**
A readme file for face detection using harr cascade  is missing

**Describe the documentation you want to improved**
Add  relevant information about how to use and general information about the algorithm

**Additional context**
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection/Face%20Detection%20using%20

[2021-03-19 14:52] akshitagupta15june commented on #382
you can work on it!

[2021-03-19 14:57] Sanika1999 commented on #382
Sure thanks

[2021-03-19 17:45] akshitagupta15june commented on #339
Hi @ahmed-cyber i think someone else is working in this issie

[2021-03-19 23:23] ahmed-cyber commented on #339
@AdityaNikhil  I guess that doesn't stop me from working on many issues has more than one contributor

[2021-03-20 01:25] akshitagupta15june commented on #339
No every issue those are some selected issues like snapchat filter issue that can have more than one assognees

[2021-03-20 01:38] #339 closed

[2021-03-20 01:41] #365 closed

[2021-03-20 03:45] hrithikppawar commented on #339
I saved the model but its size is more than 100MB that's why I am unable to push it to the repository.

[2021-03-20 03:54] AdityaNikhil commented on #339
@hrithikppawar It's okay, save your model in drive and paste the link here.
We can host the model from Google Drive.

[2021-03-20 04:40] rajeshpanjiyar commented on #328
Can I be assigned to work on this? I am a participant in GSSoC'21

[2021-03-20 04:58] akshitagupta15june opened #386 "Snapchat Filters using OpenCV"
already implemented filters can be found here: https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

A very fun issue to contribute.

We will create our own filters on our facial images.

This issue will not be closed so many pull requests. are welcomed.

I hope we will get some different filters in every new pr.

## This issue can be assigned to many.

![image](https://user-i

[2021-03-20 04:58] AshuKV commented on #328
I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-03-20 05:02] akshitagupta15june opened #387 "Realtime Age prediction implementation"
let me know if I have to open a discussion about this issue.

add the implementation inside this folder: https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-03-20 05:10] AM1CODES commented on #373
Okay! I have started working on it. Thank you.

[2021-03-20 05:25] akshitagupta15june commented on #328
@akshatvirmani are you still working on this?

[2021-03-20 05:28] akshitagupta15june commented on #89
this issue is still opened so participants can work on it!

[2021-03-20 05:39] akshitagupta15june opened #388 "Readme Improvement in pencil sketch folder"
https://github.com/akshitagupta15june/Face-X/blob/master/Awesome-face-operations/Pencil%20Sketch/readme.md

[2021-03-20 05:42] akshitagupta15june opened #389 "Readme Improvement in blurring face"
https://github.com/akshitagupta15june/Face-X/tree/master/Blurring%20image%20across%20face

[2021-03-20 06:14] rajeshpanjiyar commented on #328
What is the deadline for level1 issue? I think it's over

On Sat, 20 Mar, 2021, 11:11 AM AKSHITA GUPTA, ***@***.***>
wrote:

[2021-03-20 08:23] Anas-Issa commented on #389
Hello. I am a gssoc'21 participant, I am interested in working on this issue. Can you assign it to me?

[2021-03-20 09:41] manisha-27 commented on #389
Hey...I'm a GSSOC'21 participant. Can you assign this issue to me??

[2021-03-20 09:50] akshitagupta15june commented on #389
Assigning to @Anas-Issa in fcfs basis

[2021-03-20 09:54] #248 closed

[2021-03-20 10:00] manisha-27 commented on #386
Hey...I'm a GSSOC'21 participant. Can you assign this issue to me??

[2021-03-20 10:48] hrithikppawar commented on #339
@AdityaNikhil
Here is the drive link to the saved model of Face Mask Detection.
[face_mask_detection_vgg16.h5](https://drive.google.com/file/d/1EaRBH2FN1HJSlK7Og9UtomfPnh9r8_-1/view?usp=sharing)

[2021-03-20 11:21] #354 closed

[2021-03-20 11:23] akshitagupta15june commented on #386
you can work on it.
there is no need of assigning.

[2021-03-20 14:05] AdityaNikhil commented on #339
@hrithikppawar Please make your link public.

[2021-03-20 18:21] ahmed-cyber commented on #387
@akshitagupta15june  I'm gssoc participant and I would like to work on this issue , please assign it to me

[2021-03-20 18:21] EsraaAshraf99 commented on #387
@akshitagupta15june  I am a GSOC participant and I would like to work on this issue. Please assign it to me

[2021-03-20 18:22] akshitagupta15june commented on #387
assigning to @ahmed-cyber

[2021-03-20 19:28] #389 closed

[2021-03-20 19:33] #373 closed

[2021-03-20 19:38] Sibasish-Padhy commented on #387
hello I am a gssoc participant and I wanna contribute to this issue. Can you assign the task to me as well

[2021-03-20 19:40] Sibasish-Padhy commented on #386
I also wanted to work on this issue.Can I also contribute to the task??

[2021-03-20 19:41] akshitagupta15june commented on #386
Can i create a discussion for this issue

[2021-03-20 19:41] akshitagupta15june commented on #386
@Sibasish-Padhy you can work on it

[2021-03-21 04:12] Vi1234sh12 commented on #388
Please assign this issue to me I would like to work on the readme file...

[2021-03-21 05:49] Jainish-shah commented on #376
@akshitagupta15june please assign !!!

[2021-03-21 10:50] Sibasish-Padhy commented on #386
thank you maam

[2021-03-21 13:16] #366 closed

[2021-03-21 13:17] akshitagupta15june commented on #388
sure

[2021-03-21 13:17] akshitagupta15june commented on #376
yup

[2021-03-21 13:24] akshitagupta15june commented on #155
are you still working on it @Bijay555

[2021-03-21 13:31] Vi1234sh12 commented on #388
Thanks

[2021-03-21 14:17] agamgupta2015 commented on #304
iam sorry for not able to do this task

[2021-03-21 15:44] akshitagupta15june commented on #304
no probs

[2021-03-21 15:46] akshitagupta15june opened #397 "Readme improvement for face mask detection repo"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection

[2021-03-21 15:47] #387 closed

[2021-03-22 03:15] Adityakarthik18 commented on #397
madam i want to work on this issue please assign to me

[2021-03-22 06:48] aakriti1318 opened #399 "Gender Detection"
**Is your feature request related to a problem? Please describe.**
Gender Detection on live cameras.

**Describe the solution you'd like**
The detection is done using OpenCV and Keras.

**Describe alternatives you've considered**
This can be done on videos or on images.

Please assign me to work on this issue.

[2021-03-22 08:18] akshitagupta15june opened #400 "Readme Improvement in nasnet"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition_using_NasNet

[2021-03-22 08:19] akshitagupta15june commented on #399
Add your Implementation inside Awesome face operations

[2021-03-22 11:59] srimontidutta commented on #400
Can I please work on this issue?

[2021-03-22 14:20] #275 closed

[2021-03-22 14:21] akshitagupta15june commented on #400
Yes

[2021-03-22 14:23] akshitagupta15june commented on #397
Ok assigning

[2021-03-22 15:09] Adityakarthik18 commented on #397
Thanks madam for assigning it to me i will do it

On Mon, Mar 22, 2021 at 7:54 PM AKSHITA GUPTA ***@***.***>
wrote:

[2021-03-22 15:31] Sanika1999 opened #402 "Add face detection using MTCNN algorithm"
**Is your feature request related to a problem? Please describe.**
MTCNN or Multi-Task Cascaded Convolutional Neural Networks is a neural network which detects faces and facial landmarks on images. It was published in 2016 by Zhang et al. MTCNN output example. MTCNN is one of the most popular and most accurate face detection tools today. It will be great to have this added to this project.

**Desc

[2021-03-22 15:43] akshitagupta15june commented on #402
assigning you please add your implementation inside this https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection

[2021-03-23 06:42] akshatvirmani commented on #328
Yes Ma'am, I am trying it but I am facing difficulties.

[2021-03-23 16:28] akshitagupta15june opened #403 "Add missing algorithms in comparison table"
*https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms

[2021-03-23 17:40] srimontidutta commented on #403
Can I please work on it?

[2021-03-23 17:54] goelesha commented on #403
Pls assign it to me

[2021-03-23 17:56] goelesha commented on #386
I also want to work on this issue

[2021-03-24 14:29] Vidipta commented on #403
Hi, Could you please assign the issue to me? I would like to work on it.

[2021-03-24 14:31] akshitagupta15june commented on #403
Assigning to @goelesha

[2021-03-25 04:16] sudipg4112001 opened #404 "Mosaic effect"
I would like to add a project for mosaic effect.  Which will take one image as input and display it's mosaic output.

[2021-03-25 07:11] rajeshpanjiyar opened #405 "Improve readme of Awesome-face-operations"
To improve the readme of Awesome-face-operations with relevant content.
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

Hi, I am a participant in **GSSoC'21** and wanna work on this.

[2021-03-25 12:19] akshitagupta15june commented on #405
Assigning

[2021-03-25 12:19] akshitagupta15june commented on #404
Please add in Awesome face operation folder

[2021-03-25 14:14] goelesha commented on #403
May I proceed with the SURF (Speeded up robust features) Algorithm?

[2021-03-25 21:35] Balpreetkaur291 opened #408 "Canny Edge Detection"
I am a GSSOC participant. I would like to add a new feature of Canny Edge Detection which can be applied on images using OpenCV.

[2021-03-26 02:38] Sagnik220 opened #409 "Improving Cartoonify Images GUI"
**Is your feature request related to a problem? Please describe.**
Improving the GUI from using Tkinter to Dearpygui

**Describe the solution you'd like**
Using Tkinter for GUI is not very visually appealing, so I am thinking of using dearpygui to change the GUI modification

[2021-03-26 03:05] akshitagupta15june commented on #409
Sure assigning you

[2021-03-26 03:07] akshitagupta15june commented on #408
Assigning try to add your Implementation in awesome Face operations

[2021-03-26 06:10] Sagnik220 opened #411 "Documentation Improvement for Cartoonify Image GUI"
**Is your documentation request related to a problem? Please describe.**
I want to update the Documentation as I have used some more libraries to improve the GUI

**Describe the documentation you want to improved**
1.Adding the libraries
2.Picture of Updated GUI

[2021-03-26 06:21] Sagnik220 opened #412 "Deployment of Desktop Application using NSIS"
**Is your feature request related to a problem? Please describe.**
Converting this .py file to .exe

**Describe the solution you'd like**
Converting the python application to an executable file using NSIS

[2021-03-26 16:39] #404 closed

[2021-03-26 16:41] #405 closed

[2021-03-26 16:44] #409 closed

[2021-03-26 16:46] #400 closed

[2021-03-26 16:48] akshitagupta15june commented on #411
assigning you

[2021-03-26 16:49] akshitagupta15june commented on #412
can you give more information about it

[2021-03-26 17:16] Preeti2095 commented on #298
I would like to have collaboration on this issue. If anybody is interested can reply to it.

[2021-03-26 18:58] sudipg4112001 opened #417 "Image stitching"
I would like to add a new feature, for image stitching.
Here, I would take 2/3 images and join them in a single frame, which will appear like a single image.

[2021-03-27 03:44] akshitagupta15june commented on #417
Add your implementation in awesome face operations

[2021-03-27 03:46] akshitagupta15june commented on #386
Anyone can work on this issue

[2021-03-27 03:46] akshitagupta15june commented on #386
Try to create different filters which are not available in repo

[2021-03-27 05:03] rajeshpanjiyar opened #418 "Improve readme of Face-Mask-Detection"
To improve the readme file of face-mask-detection with relevant content.

https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection

Hi, I am a participant in GSSoC'21 and want to work on this.

[2021-03-27 06:24] sayan9112 opened #419 "<gssoc'21> face mask detection"
**FACE MASK DETECTION**
Hi admin, Sayan here. I'm  GSSoC'21 participant. I want to contribute in your project as it is more insightful.
There is no issues left  if I consider 'first come first out' open source culture.
So I have  to create a new one.
So I'm proposing **FACE MASK DETECTION** in your project. I've planned use python, keras, open CV, mobile net in this feature.

**Please assign me in

[2021-03-27 06:31] akshitagupta15june commented on #419
Hello @sayan9112 this feature is already implemented you can see the face mask folder there.
Let me know if you have some more new ideas.

[2021-03-27 06:31] #419 closed

[2021-03-27 06:32] akshitagupta15june commented on #418
Assigning you

[2021-03-27 07:02] A-kriti opened #420 "Ghost Image/images path addition to get rid of uploading them"
**Is your feature request related to a problem? Please describe.**
Using the Image path instead of uploading the image to test the result and removing the axis of the final output.

**Describe the solution you'd like**
Adding an image path helps the user to flexibly test the script image without actually uploading it.

**Describe alternatives you've considered**
Direct image path instead of upload

[2021-03-27 07:04] A-kriti commented on #420
@akshitagupta15june  ma'am please assign this to me!

[2021-03-27 14:36] akshitagupta15june commented on #420
assigning

[2021-03-27 14:40] akshitagupta15june commented on #298
ok @Preeti2095

[2021-03-27 14:40] akshitagupta15june commented on #298
let me know

[2021-03-27 14:40] akshitagupta15june commented on #298
i am converting this issue to a discussion for you and your team

[2021-03-27 14:40] #298 closed

[2021-03-27 19:27] sayan9112 opened #422 "<GSSoC'21> Iris Detection"
Hi admin, Sayan here. I'm GSSoC'21 participant. I want to contribute in your project as it is more insightful.

I want to add a new feature **"Iris Detection"**.
I've implemented it already.
Please assign me to this issue so I can contribute.

[2021-03-27 19:51] Ismail-Farahat opened #423 "Feature request"
**Is your feature request related to a problem? Please describe.**
I will try to build a model for face detection using CNN Algorithm

**Describe the solution you'd like**
I guess this model will be good for face detection.

**Describe alternatives you've considered**
Trying other algorithms of ML in image analysis

**Approach to be followed (optional)**
1- I will search for reliable data recourse

[2021-03-28 07:41] #388 closed

[2021-03-28 07:44] #356 closed

[2021-03-28 07:47] akshitagupta15june commented on #422
please add your implementation inside awesome face operations

[2021-03-28 07:49] akshitagupta15june commented on #423
add your implementation inside this folder https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection

[2021-03-28 13:32] #420 closed

[2021-03-28 14:07] ahmed-cyber commented on #399
HI I am GSSOS participant and I want to work on this issue with my partner
@akshitagupta15june

[2021-03-28 15:26] walaa5 opened #429 "Feature request / face completion"
**Is your feature request related to a problem? Please describe.**
I will try to build a model for face completion using GANs algorithm.

**Describe the solution you'd like**
 this is a novel approach for image completion that results in images that are both locally and globally consistent.
so it will be good to complete a face image.

**Describe alternatives you've considered**
trying another CNN

[2021-03-28 15:48] akshitagupta15june commented on #399
assigning

[2021-03-28 15:49] akshitagupta15june commented on #429
please add your implementation in awesome-face-operations

[2021-03-28 19:25] EsraaAshraf99 commented on #399
@akshitagupta15june  I am a GSOC , I would like to work on this issue

[2021-03-29 02:33] akshitagupta15june commented on #399
Assigning

[2021-03-29 05:41] AdityaGarg00 commented on #411
I WOULD LIKE TO CONTRIBUTE TO THIS PROJECT

[2021-03-29 10:14] rajeshpanjiyar opened #432 "Modify face-mask-detection-using-cnn"
Found readme of file **face-mask-detection-using-cnn** needs some improvement. So I want work on this. I am a participant in GSSoC 21.

https://github.com/akshitagupta15june/Face-X/tree/master/Face-Mask-Detection/face-mask-detection-using-cnn

[2021-03-29 13:22] #418 closed

[2021-03-29 13:23] akshitagupta15june commented on #432
Assigning

[2021-03-29 14:52] srimontidutta commented on #403
Can I work on this? @akshitagupta15june

[2021-03-29 22:57] #417 closed

[2021-03-30 03:04] Vi1234sh12 commented on #382
Hey, @Sanika1999  any update on this? Are you working on this?

[2021-03-30 03:18] Vi1234sh12 opened #434 "Image is not reflected on Readme File Update Image Path"
**Describe the bug**
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters/Detective%20Filter
- Image is not reflected on the readme File so

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of how the code performed w.r.t expectations.

[2021-03-30 03:22] Vi1234sh12 commented on #434
hey,@akshitagupta15june can you assign me!

[2021-03-30 04:23] Sanika1999 commented on #382
Yes Iam working on it sorry for the delay

[2021-03-30 04:45] Vi1234sh12 commented on #382
That's Grate! @Sanika1999,  Go Head!

[2021-03-30 15:16] #434 closed

[2021-03-31 03:54] Vi1234sh12 commented on #376
Hey, @Jainish-shah  any update on this? Are you working on this?

[2021-03-31 04:04] Jainish-shah commented on #376
Yeah! I will be completing it today as there was a small tension of Internal exams.....

[2021-03-31 04:13] Vi1234sh12 opened #437 "Readme Improvement for Cartoonification Readme File"
**Is your documentation request related to a problem? Please describe.**
Cartoonification Readme File :
[Readme Improvement for Cartoonification Readme File #437 ](https://github.com/akshitagupta15june/Face-X/blob/master/Cartoonify%20Image/Cartoonification/Readme.md)

**Describe the documentation you want to improve**
- Add information related to Cartoonification how it's working behind
- Describe

[2021-03-31 04:22] Vi1234sh12 commented on #376
that's great! , go-ahead @Jainish-shah

[2021-03-31 07:49] akshitagupta15june commented on #437
assigning

[2021-03-31 08:03] Vi1234sh12 commented on #437
Thank you!

[2021-03-31 08:31] AdityaNikhil opened #438 "[FaceX Library] Adding more OpenCV algorithms"
I wish to add the following OpenCV algorithms to the [Face-X library](https://github.com/akshitagupta15june/Face-X/tree/master/facex),

1) **Ghost img** by [A-kriti](https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Ghost%20Image).
2) **Mosaic effect** by [Sudip Ghosh](https://github.com/AdityaNikhil/Face-X/blob/master/Awesome-face-operations/Mosaic-Effect/Mosaic.py)

[2021-04-01 06:56] #438 closed

[2021-04-01 12:40] #376 closed

[2021-04-01 15:29] A-kriti opened #442 "Colorful Sketch Filter"
**Is your feature request related to a problem? Please describe.**
Sketches are generally black and white.

**Describe the solution you'd like**
A filter that can actually make an effect of a colorful sketch filter.

[2021-04-01 16:12] akshitagupta15june commented on #442
assigning you
add your implementation in awesome face operations

[2021-04-01 16:24] A-kriti commented on #442
okay!

[2021-04-01 16:57] coding-geek21 opened #443 "Face Anti-spoofing detection"
I'm a GSSoC'21 participant i would like to work on this issue

[2021-04-01 17:01] akshitagupta15june commented on #443
Can you please what this feature will actually do?

[2021-04-01 17:03] coding-geek21 commented on #443
Actually this is for detecting fake faces like someone trying to cheat by showing an image of a face instead of real face

[2021-04-01 17:04] coding-geek21 commented on #443
In front of camera

[2021-04-01 17:05] akshitagupta15june commented on #443
Ok you can add this feature inside awesome face operations folder

[2021-04-01 17:06] coding-geek21 commented on #443
Thank you for assigning me :)

[2021-04-01 18:46] #442 closed

[2021-04-02 02:29] #411 closed

[2021-04-02 17:17] akshitagupta15june opened #445 "Face Restoration"
add your implemenation awesome face operation folder
![image](https://user-images.githubusercontent.com/57909583/113438016-5a8efe00-9405-11eb-8161-0bfda76dd84e.png)

[2021-04-02 17:19] akshitagupta15june opened #446 "Face Deblurring"
add in awesome face operations folder
![image](https://user-images.githubusercontent.com/57909583/113438125-94600480-9405-11eb-84de-f4eb55736452.png)

[2021-04-02 17:21] akshitagupta15june opened #447 "Face Retrieval"
![image](https://user-images.githubusercontent.com/57909583/113438303-ee60ca00-9405-11eb-8e26-28ea09b5a7fc.png)

add in awesome face operations

[2021-04-03 12:02] AshuKV commented on #446
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 12:34] Vidipta commented on #447
Hi, can I work on this for gssoc21?

[2021-04-03 15:29] sudipg4112001 opened #449 "Background removal from video"
I would like to add a project on background removal from a video.

[2021-04-03 15:30] sudipg4112001 commented on #447
Hey, can I work on it ?

[2021-04-03 17:26] akshitagupta15june commented on #449
you can add in awesome face operations folder

[2021-04-03 17:26] akshitagupta15june commented on #447
ok assigning

[2021-04-03 17:27] akshitagupta15june commented on #447
in fcfs to @Vidipta

[2021-04-03 17:27] akshitagupta15june commented on #446
assigning

[2021-04-04 07:25] AdityaNikhil opened #451 "[FaceX Library]Adding face mask detection functionality"
Looking forward to adding,
`Face Mask Detection` algorithm to the **FaceX Library**.

Using the `facex` library, we'll be able to implement `Face mask detection` by writing only one line of code like this,
[code]

Also adding information about this functionality in the documentation(readme) of [Face mask detection folder](https://github.com/akshitagupta15june/Face-X/blob/master/Face-Mask-Detection

[2021-04-04 07:51] #451 closed

[2021-04-04 07:54] #437 closed

[2021-04-05 04:50] sudipg4112001 opened #456 "Template matching"
I would like to add a project on template matching.
Here, I would use two images (one as template and other as a normal raw target) then check whether they are matching or not.

[2021-04-05 08:03] Preeti2095 commented on #330
is this issue is resolved @Komal-99?

[2021-04-05 08:37] Komal-99 commented on #330
Will complete by today.

[2021-04-05 09:12] Preeti2095 commented on #330
Ok.

[2021-04-05 13:53] #449 closed

[2021-04-05 13:55] #399 closed

[2021-04-05 13:57] akshitagupta15june commented on #456
assigning you

[2021-04-05 14:14] NEERAJAP2001 opened #457 "Generate Celebrity's Face using DCGAN"
**Is your feature request related to a problem? Please describe.**
I'd Like to add Generating Face Project.
I would be using [This](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html) Data set to generate faces of celebrities using DCGAN.( will be following the total pipeline)

**Describe the solution you'd like**
In this project, I'll define and train a DCGAN on a dataset of faces. the goal is to g

[2021-04-05 14:35] akshitagupta15june commented on #457
please add your implementation in awesome face operations

[2021-04-05 18:11] srimontidutta commented on #445
Hi! Can I work on this issue?

[2021-04-05 19:43] sudipg4112001 opened #459 "Template detection for multiple objects"
I would like to add a project for template matching, using multiple objects.
Here, a single template will occur multiple times.

[2021-04-06 03:47] Vi1234sh12 opened #460 "Readme Improvement for Mosaic-Effect"
** New Feature Updated Points 💯 **

- [ ]   Add Information Related Projects and Behind History

- [ ]  Add high-resolution Image

- [ ]  Add Installation Process

- [ ]  Also mention which library is used

- [ ] attached a real example so anyone can understand it properly

- [ ]  also attached resource

**Describe the solution you'd like**
[Mosaic-Effect Code ](https://github.com/akshitagupta15ju

[2021-04-06 06:53] #456 closed

[2021-04-06 07:01] sudipg4112001 commented on #459
Hey, why did you close this issue ?? May I know

[2021-04-06 11:21] ankit-kmar opened #461 "Auto Label Bot"
**Is your feature request related to a problem? Please describe.**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the gssoc21 label whenever contributors ask to work under that label.

**Describe the solution you'd like**
A script in .github

[2021-04-06 13:29] akshitagupta15june commented on #459
You can work on this

[2021-04-06 13:30] akshitagupta15june commented on #460
assigning

[2021-04-07 01:16] #459 closed

[2021-04-07 01:19] akshitagupta15june commented on #461
GitHub action are not allowed.

[2021-04-07 01:19] #461 closed

[2021-04-07 03:22] sudipg4112001 opened #463 "Add image transformation"
Transformations like different geometric transformation to images like translation, rotation, affine transformation etc. These are what I will be trying to implement.

[2021-04-07 04:16] iaditichine opened #464 "Eye Blink Detection"
Hello,I am GSSoC'21 participant and I would like to contribute code for Eye Blink detection using python along with a proper readme.md file explaining the code.Please assign this issue to me.

[2021-04-07 05:15] Vi1234sh12 opened #465 "Main Readme File Image Path is Update"
**Describe the bug**
- [ ]  Update Image Path
- [ ]  Add Offical Image or logo  `Images` Folder

**To Reproduce**

**Actual behavior**
Actually, Many times happens we are creating a different folder with the same images so the result is  [ File size max ]
- please remember not to repeat the same mistakes

**Screenshots**
![Before_Update3](https://user-images.githubusercontent.com/45570993/11381301

[2021-04-07 08:01] akshitagupta15june commented on #464
this is already implemented

[2021-04-07 08:01] #464 closed

[2021-04-07 08:02] akshitagupta15june commented on #463
hi this is not in terms with face-x repo like there should be some implementation on faces

[2021-04-07 08:02] #463 closed

[2021-04-07 08:02] akshitagupta15june commented on #445
yes

[2021-04-07 08:09] akshitagupta15june commented on #465
i have changed it, thanks for noticing

[2021-04-07 08:09] #465 closed

[2021-04-07 08:13] akshitagupta15june commented on #155
I am closing this issue now because There is no response.

[2021-04-07 08:13] #155 closed

[2021-04-07 08:13] akshitagupta15june opened #468 "Recognition using EfficientNetB3"

[2021-04-07 08:14] akshitagupta15june opened #469 "Face Recognition Using Inception V3 model"

[2021-04-07 08:15] akshitagupta15june opened #470 "Recognition using DWT algorithm"
Implement Recognition using DWT DISCRETE WAVELET TRANSFORM

[2021-04-07 08:16] #229 closed

[2021-04-07 08:16] #256 closed

[2021-04-07 08:18] akshitagupta15june opened #471 "Face Recoginition using VGG16"

[2021-04-07 08:18] akshitagupta15june commented on #284
are you still working on this

[2021-04-07 08:18] #324 closed

[2021-04-07 08:19] akshitagupta15june commented on #299
assigning @Supriya1702

[2021-04-07 08:57] #457 closed

[2021-04-07 11:32] NEERAJAP2001 commented on #471
Description:

Briefly, the VGG-Face model is the same NeuralNet architecture as the VGG16 model used to identity 1000 classes of objects in the ImageNet competition. The VGG16 name simply states the model originated from the Visual Geometry Group and that it was 16 trainable layers. The main difference between the VGG16-ImageNet and the VGG-Face model is the set of calibrated weights as the traini

[2021-04-07 13:44] Nikita0509 commented on #331
If the issue is unsolved i would also like to work on this issue can u guide me how can i get started .

[2021-04-07 14:35] akshitagupta15june commented on #471
assigning

[2021-04-07 15:21] sudipg4112001 opened #472 "Real time emotion detection"
I would like to add a project for real time emotion detection. Using the webcam
@akshitagupta15june

[2021-04-07 15:33] akshitagupta15june commented on #472
this is already implemented

[2021-04-07 15:33] #472 closed

[2021-04-07 15:34] akshitagupta15june commented on #472
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition

[2021-04-07 17:07] KKhushhalR2405 opened #473 "Feature request"
**Is your feature request related to a problem? Please describe.**
I would like to implement a method for applying styles to faces using neural style transfer.

**Describe the solution you'd like**
I would use style transfer using CNNs to apply a style of one image to another image. I will extract the features and styles from the input images and will merge them to create a final styled image. I w

[2021-04-07 17:18] akshitagupta15june commented on #473
Add your implementation in awesome face operations

[2021-04-07 17:45] Komal-99 commented on #331
@Nikita0509  this issue is open for all anyone can work on it. Btw  I am also doing and trying to handle some   version errors

[2021-04-07 18:43] ParthSingh0506 opened #474 "Feature request"
->Using Neural Network for detecting Emotion in video as well as images

**Describe the solution you'd like**
->The basic idea is that our Neural Network will able to classify the emotion of person whether the person is happy , sad , normal ,angry . By sending the image as well as video the  NN will tell us about the emotion of a person .

[2021-04-07 18:43] ParthSingh0506 commented on #474
@akshitagupta15june Will you assign me this issue

[2021-04-07 18:47] ParthSingh0506 commented on #474
@akshitagupta15june kindly assign me this issue

[2021-04-08 03:36] akshitagupta15june commented on #474
Hi this feature is already implemented

[2021-04-08 03:36] #474 closed

[2021-04-08 03:37] #473 closed

[2021-04-09 07:06] Vi1234sh12 commented on #470
@akshitagupta15june  Can I work On this issue? please let me know

[2021-04-09 08:47] #460 closed

[2021-04-09 08:47] akshitagupta15june commented on #470
Assigning

[2021-04-09 08:48] #271 closed

[2021-04-09 09:35] #471 closed

[2021-04-09 09:40] NEERAJAP2001 opened #479 "Add new snapchat filter"
I'd Like to add few Snapchat filters(Using Opencv and Dlib-facial feature points, I'll make sure it won't be the same as the present filters.
* I'll add a surgical mask filter for now.

[2021-04-09 09:52] akshitagupta15june commented on #479
Assigning

[2021-04-09 13:16] Vi1234sh12 commented on #470
Thanks , @akshitagupta15june

[2021-04-09 14:07] sudipg4112001 opened #480 "Managing the score"
This issue is for managing the scoring difference, between leaderboard and profile. Please assign.

[2021-04-09 14:08] akshitagupta15june commented on #480
ok

[2021-04-09 14:20] #480 closed

[2021-04-09 16:16] A-kriti opened #482 "Glitter effect filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a glitter effect to an image.

**Describe the solution you'd like**
Implementing a glitter effect using OpenCV and NumPy.

**Describe alternatives you've considered**

**Approach to be followed (optional)**
A clear and concise description of approach to be followed.

**Additional context**
Add any other context or scr

[2021-04-09 16:36] akshitagupta15june commented on #482
Assigning

[2021-04-09 16:36] akshitagupta15june commented on #482
Add in awesome face operations

[2021-04-09 17:50] #328 closed

[2021-04-09 17:51] #305 closed

[2021-04-09 17:52] #280 closed

[2021-04-09 17:52] akshitagupta15june opened #483 "Add a readme for blurring image across face PORTRAIT MODE"
https://github.com/akshitagupta15june/Face-X/tree/master/Blurring%20image%20across%20face

[2021-04-09 17:53] #261 closed

[2021-04-09 17:54] akshitagupta15june opened #484 "Recognition using Xception"

[2021-04-09 17:55] akshitagupta15june opened #485 "Readme Improvement face biometric"
https://github.com/akshitagupta15june/Face-X/tree/master/Facial_Biometric

[2021-04-09 17:56] #258 closed

[2021-04-09 17:57] akshitagupta15june commented on #350
are you still working on this issue?

[2021-04-09 17:57] akshitagupta15june commented on #352
are you still working on this issue?

[2021-04-09 17:57] akshitagupta15june commented on #382
are you still working on this issue?

[2021-04-09 17:58] akshitagupta15june commented on #402
are you still working on this issue?

[2021-04-09 17:58] akshitagupta15june commented on #422
are you still working on this issue?

[2021-04-09 18:00] akshitagupta15june commented on #429
are you still working on this issue?

[2021-04-09 18:00] akshitagupta15june commented on #432
are you still working on this issue?

[2021-04-09 18:00] akshitagupta15june commented on #443
are you still working on this issue?

[2021-04-09 18:01] akshitagupta15june commented on #331
are you still working on this issue?

[2021-04-09 18:01] akshitagupta15june commented on #330
are you still working on this issue?

[2021-04-09 18:01] akshitagupta15june commented on #300
are you still working on this issue?

[2021-04-09 18:01] akshitagupta15june commented on #297
are you still working on this issue?

[2021-04-09 18:01] akshitagupta15june commented on #284
are you still working on this issue?

[2021-04-09 18:02] akshitagupta15june commented on #262
are you still working on this issue?

[2021-04-09 18:07] rajeshpanjiyar commented on #432
Sorry I forget to unassign me. You can assign it to someone interested.

On Fri, 9 Apr, 2021, 11:45 PM AKSHITA GUPTA, ***@***.***>
wrote:

[2021-04-10 00:49] Preeti2095 commented on #469
I want to work on this issue.

[2021-04-10 02:56] coding-geek21 commented on #443
Yes @akshitagupta15june I'm having exams now so I'm not able to complete it , I will be completing within 1 week

[2021-04-10 03:33] Vi1234sh12 commented on #485
hey,@akshitagupta15june I want to work on this issue. please let know

[2021-04-10 05:17] #482 closed

[2021-04-10 05:18] akshitagupta15june commented on #485
Assigning

[2021-04-10 05:19] akshitagupta15june commented on #469
Ok

[2021-04-10 05:19] akshitagupta15june commented on #412
Are you working on this?

[2021-04-10 05:20] #412 closed

[2021-04-10 05:21] akshitagupta15june opened #487 "Readme Improvement in awesome face operations"
Add new implemented operations in readme file

[2021-04-10 07:20] salonidabgar commented on #483
Hi! @akshitagupta15june I am a GSSOC'21 participant. Can I work on this issue?

[2021-04-10 07:35] akshitagupta15june commented on #483
ok

[2021-04-10 07:56] #470 closed

[2021-04-10 07:58] akshitagupta15june opened #490 "Add newly implemented algorithms in Comparative Study of the Algorithms"
https://github.com/akshitagupta15june/Face-X/blob/master/Recognition-Algorithms/README.md

[2021-04-10 08:02] akshitagupta15june opened #491 "Add a proper redame for attendance system"
https://github.com/akshitagupta15june/Face-X/tree/master/Facial%20Recognition%20Attendance%20Management%20System/Attendance%20system

[2021-04-10 08:08] akshitagupta15june opened #492 "Readme Improvement for xception algorithm"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition_using_Xception

add proper output images also

[2021-04-10 08:49] sudipg4112001 opened #493 "Face blurring"
I would like to add a project for face blurring .Here, I would input a image, detect its face, then blur it.

[2021-04-10 08:50] akshitagupta15june commented on #493
This is already implemented

[2021-04-10 08:50] #493 closed

[2021-04-10 08:52] sudipg4112001 commented on #493
Okay.. but I can also try it with video.. if it's not implemented

[2021-04-10 09:27] Nikita0509 commented on #331
I don't kn how to proceed with this issue

On Fri, 9 Apr 2021, 11:31 p.m. AKSHITA GUPTA, ***@***.***>
wrote:

[2021-04-10 09:42] Komal-99 commented on #330
Yes.. actually I am facing some requirements issue before running this issue. .as in  this filter no where mention regarding  modules needed. When I putted my issue on discord no one. Help me with error so I am still trying to fix it out

[2021-04-10 11:19] ahmedtarek26 commented on #432
I wanna work at this issue

[2021-04-10 12:15] Hamza3226 commented on #297
No Ma'am.

[2021-04-10 12:23] Preeti2095 commented on #330
Can you again put your issue or ping your problem in discord @Komal-99 ?

[2021-04-10 12:31] Komal-99 commented on #330
Okay

[2021-04-11 00:16] walaa5 commented on #429
yes, but I was having a problem in training, so sorry for being late. just needed two days

[2021-04-11 03:25] akshitagupta15june commented on #432
Ok

[2021-04-11 03:26] akshitagupta15june commented on #443
No problem

[2021-04-11 07:09] NEERAJAP2001 commented on #468
@akshitagupta15june I'd like to work on this issue.
On an additional note, I'd like to add a Live Webcam Feature to detect masks using EfficientNetB3.
I'll be using the imagenet Dataset.
Thanks

[2021-04-11 07:12] akshitagupta15june commented on #468
Assigning

[2021-04-11 13:47] #423 closed

[2021-04-11 13:52] #479 closed

[2021-04-11 13:53] akshitagupta15june commented on #403
yes @srimontidutta

[2021-04-12 05:55] #485 closed

[2021-04-12 08:11] KKhushhalR2405 commented on #487
I would like to work on this issue. Kindly assign me. Thank You

[2021-04-12 08:14] akshitagupta15june commented on #487
ok

[2021-04-12 08:15] akshitagupta15june commented on #335
are you still working on this issue

[2021-04-12 11:47] sayan9112 commented on #422
yes I'm working on it

[2021-04-12 13:59] sarobml2000 commented on #335
Yes, I am. Almost done but trying to get a better validation accuracy.

[2021-04-12 19:11] vanshu25 commented on #491
@akshitagupta15june Mam, I am interested and would like to work on this issue. Kindly assign me this issue.

[2021-04-13 03:45] akshitagupta15june commented on #491
Ok

[2021-04-13 03:48] akshitagupta15june opened #500 "Add a readme for Bunny nose filter"
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters/Bunny_Nose

[2021-04-13 08:57] #468 closed

[2021-04-13 08:59] #432 closed

[2021-04-13 09:05] NEERAJAP2001 opened #503 "Add 2 New Snapchat Filters"
I'd like to add 2 new filters into the Snapchat filters folder:

* Anabelle mask Filter
* Joker nose Filter

I'm sure they are not present already in the folder.

Will be using :

* Python
* The program makes use of Dlib-facial feature points
* OpenCV
* Tkinter
* Shape predictor 68 face landmark points Model

I'd like to work on this as part of the GSSOC-21.

[2021-04-13 09:07] akshitagupta15june commented on #503
These two filters are already added

[2021-04-13 09:09] NEERAJAP2001 commented on #503
@akshitagupta15june but I did not find them (in the folder) can you please confirm?

[2021-04-13 09:11] akshitagupta15june commented on #503
Ok you can implement a Annabelle filter

[2021-04-13 09:12] NEERAJAP2001 commented on #503
Ok, thanks!!

[2021-04-13 15:34] Vi1234sh12 commented on #500
hey @akshitagupta15june  Can I work on this Issue , Please let me know

[2021-04-13 16:22] Vi1234sh12 opened #505 "Readme Update Recognition-using-IOT"
**Is your feature request related to a problem? Please describe.**
- Add more Information related device and  IDE
- Update images  so , Anyone can understand
- please describe more point related library or module or

** Link**
[Recognition-using-IOT](https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-using-IOT)

**Screenshot**
![Before_update5](https://user-images.githubuserconte

[2021-04-13 16:27] Vi1234sh12 commented on #500
Thank you so much 👍

[2021-04-13 19:55] ShubhamGupta577 opened #506 "Implement ORB for the feature detection of face."
## ORB Algorithm
I would like to implement the ORB(Oriented FAST Rotated BRIEF) algorithm which is used to detect features of the face.

### Approach Followed
ORB is a fusion of the FAST keypoint detector and BRIEF descriptor with some added features to improve the performance. FAST is Features from the Accelerated Segment Test used to detect features from the provided image. It also uses a pyrami

[2021-04-13 19:56] ShubhamGupta577 commented on #506
@akshitagupta15june I would like to work on this issue under GSSOC '21. So please assign me this issue.

[2021-04-14 03:33] akshitagupta15june commented on #505
Assigning

[2021-04-14 03:34] akshitagupta15june commented on #506
Assigning, add your implementation inside recognition-algorithm folder

[2021-04-14 03:35] akshitagupta15june commented on #506
Add a proper readme too showing your implementation along with outputs and how to run it command

[2021-04-14 03:36] #446 closed

[2021-04-14 03:38] akshitagupta15june opened #507 "Add a readme for face deblurruing operation"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Face%20Deblurring

**Is your documentation request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the documentation you want to improved**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screensho

[2021-04-14 13:36] Preeti2095 commented on #469
I am not working in this issue now.

[2021-04-14 13:59] #500 closed

[2021-04-14 17:08] rajeshpanjiyar commented on #507
I want to work on this. I am a participant in GSSOC21.

[2021-04-14 17:30] akshitagupta15june commented on #507
Ok

[2021-04-14 18:07] Harshil-Gupta commented on #492
I am interested and would like to work on this issue. Kindly assign me this issue.

[2021-04-14 18:25] akshitagupta15june commented on #492
Ok

[2021-04-15 06:04] #503 closed

[2021-04-15 06:05] #429 closed

[2021-04-15 06:06] #487 closed

[2021-04-15 09:21] NEERAJAP2001 opened #514 "Face-Recognition-using-FaceNet"
This face recognition project will be implemented upon a pre-trained FaceNet model achieving state-of-the-art accuracy. The project comes with both Live recognition & Image recognition. It is trained on the faces of some celebrities.

I'd like to work on this issue as part of the GSSOC-21.

[2021-04-15 10:39] #505 closed

[2021-04-15 10:58] Vi1234sh12 commented on #297
Hey @akshitagupta15june  , Can I work on Issue  Please let me know

[2021-04-15 16:03] A-kriti opened #515 "Oil Paint Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply an oil paint filter effect to an image.

**Describe the solution you'd like**
Implementing an oil paint filter effect using OpenCV and NumPy.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**

[2021-04-15 16:33] sudipg4112001 opened #516 "Music recommendation from emotions"
I would like to add a project.
Here, I would detect emotions of a human from facial expressions and then recommend musics accordingly

[2021-04-15 18:28] Vi1234sh12 commented on #469
hey @akshitagupta15june I want work on this issue , please let me know

[2021-04-16 01:44] akshitagupta15june commented on #516
Ok
Add in face emotions recognition folder

[2021-04-16 01:45] akshitagupta15june commented on #515
Ok assigning

[2021-04-16 01:46] akshitagupta15june commented on #514
Ok assigning

[2021-04-16 03:26] Vi1234sh12 commented on #469
Please let me know

[2021-04-16 08:34] akshitagupta15june commented on #469
Ok

[2021-04-16 08:36] #515 closed

[2021-04-16 08:42] Vi1234sh12 commented on #469
Thanks  , @akshitagupta15june

[2021-04-16 18:25] vanshu25 opened #522 "Colour Detection using OpenCV"
@akshitagupta15june ma'am, I would like to add a colour detector in which by using OpenCV different colours in an image can be detected.

[2021-04-16 20:34] Sanika1999 commented on #402
Yes @akshitagupta15june  sorry I got busy I will complete it asap

[2021-04-17 07:31] #507 closed

[2021-04-17 07:33] #492 closed

[2021-04-17 07:34] #506 closed

[2021-04-17 07:36] #422 closed

[2021-04-17 07:45] akshitagupta15june commented on #522
hi this is not related to face operations

[2021-04-17 07:45] #522 closed

[2021-04-17 07:45] akshitagupta15june commented on #297
yes

[2021-04-17 08:31] vanshu25 commented on #522
Ok ma'am

On Sat, 17 Apr, 2021, 1:15 PM AKSHITA GUPTA, ***@***.***>
wrote:

[2021-04-17 09:05] vanshu25 opened #526 "Document improvement"
Is your documentation request related to a problem? Please describe.
The readme file for Style readme needs to be improved.

**Describe the documentation you want to improve**
Add more examples and images for style transfer, a little bit more about working of style transfer and its importance and prerequisites

**Additional context**
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome

[2021-04-17 15:08] #469 closed

[2021-04-17 15:10] akshitagupta15june commented on #526
Ok

[2021-04-17 16:18] Vi1234sh12 opened #528 "Readme Improvement in Main Readme File Face-x"
**Is your feature request related to a problem? Please describe.**
-  Update Readme File with Features
- Add new Points

[Link](https://github.com/akshitagupta15june/Face-X)

[2021-04-17 16:21] akshitagupta15june commented on #528
Ol

[2021-04-18 04:00] NEERAJAP2001 opened #530 "Deep learning based Face detection using the YOLOv3 algorithm"
ALGO: The YOLOv3 (You Only Look Once) is a state-of-the-art, real-time object detection algorithm. The published model recognizes 80 different objects in images and videos.

In this project, I will create a Face Detection Script using YOLOv3 Algorithm.

Dependencies

* Tensorflow
* opencv-python
* opencv-contrib-python
* Numpy
* Keras
* Matplotlib
* Pillow

I'd Like to work on this issue as part o

[2021-04-18 12:48] #514 closed

[2021-04-18 21:10] ShubhamGupta577 opened #533 "Documentation Improvement"
- Typo Error in **PR template**:- Misspelling of **'Issues'** word
- Grammatical error in **Feature request issue template**:- A clear and concise description of **the(missing)** approach to be followed.

@akshitagupta15june,  Please assign me this minor issue(if applicable). I want to work on this under GSSOC21

[2021-04-20 05:48] #533 closed

[2021-04-20 15:51] NEERAJAP2001 opened #536 "Add Face Generation using Deep Learning"
I'd like to add Face generation using deep learning as part of  [This](https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations#face-generation-1) Section.

Contents :
* Pre-processed Data
* Create a DataLoader
* Define the Model
* Discriminator
* Generator
* Initialize the weights of your network
* Build a complete network
* Discriminator and Generator Losses
* Optimizers

[2021-04-20 16:48] Vi1234sh12 commented on #528
hey @akshitagupta15june  , I'm  Share Screenshot ,  Let me know if you have any Changes , then I'm create pull request

see screenshot

![Check_main readme](https://user-images.githubusercontent.com/45570993/115433860-a45d4e00-a225-11eb-9bce-6a47cce1b877.PNG)

![Check_main readme1](https://user-images.githubusercontent.com/45570993/115433902-b0491000-a225-11eb-875f-fc6e722daa1e.PNG)

![check_main