[2021-04-20 17:03] akshitagupta15june commented on #528
You have to put same logo of face-x and that animation

[2021-04-20 17:03] akshitagupta15june commented on #528
Can you change that

[2021-04-20 17:48] lekshmissunil commented on #490
Hey, I'm a GSSOC'21 participant and would like to work on this. @akshitagupta15june could you please assign this to me?

[2021-04-20 18:13] akshitagupta15june commented on #490
Assigning

[2021-04-21 04:27] Vi1234sh12 commented on #528
Sorry , But I have no Idea  so , I can't change this

[2021-04-21 04:43] #530 closed

[2021-04-21 04:44] akshitagupta15june commented on #536
Ok assigning

[2021-04-21 04:48] NEERAJAP2001 commented on #536
@akshitagupta15june this implementation should be in [This](https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations) Folder right?

[2021-04-21 04:52] akshitagupta15june commented on #536
Can you create a new folder inside awesome face operations by name face generation nd add your deep learning implementation in it as well as gan face generation which is also implemented inside that

[2021-04-21 04:52] akshitagupta15june commented on #536
Means yours and gan face generation

[2021-04-21 05:18] NEERAJAP2001 commented on #536
@akshitagupta15june okay 👍

[2021-04-21 07:32] shantamsultania opened #540 "Facial Lock - based on facial recognition system"
I am thinking of adding a facial lock system using facial recognition system

[2021-04-21 07:35] shantamsultania opened #541 "Web App for Facial detection"
I am thinking of creating a web app for the facial detection system.

[2021-04-21 07:38] shantamsultania opened #542 "Android application using Open CV to detect faces"
I am thinking of using OpenCV SDK in java for Android to create a android application with the help of which we can perform features like facial detection or recognition.

[2021-04-21 07:42] shantamsultania opened #543 "Api template for Faces"
I am thinking of making an API template for All with the help of which one person can create an API of his/her Algorithm with just few changes

example use case :

1. lets say you have you are a beginner in Computer vision and you have created an Algo or Facial detection
2. know you want to make a API of the same to lets say deploy on any server or any other use case
3. with the help of this templ

[2021-04-21 10:37] #528 closed

[2021-04-21 11:12] #350 closed

[2021-04-21 15:28] akshitagupta15june commented on #540
this is already implemented

[2021-04-21 15:28] #540 closed

[2021-04-21 15:29] akshitagupta15june commented on #541
this is not required in this project we can try this in separate one.

[2021-04-21 15:29] #541 closed

[2021-04-21 15:31] akshitagupta15june commented on #543
I think @AdityaNikhil and you can discuss this because he is already working on this.
You can both work on it.

[2021-04-21 15:31] akshitagupta15june commented on #543
discussion link https://github.com/akshitagupta15june/Face-X/issues/312

[2021-04-21 15:32] akshitagupta15june commented on #542
this is not required in this project

[2021-04-21 15:32] #542 closed

[2021-04-21 15:40] AdityaNikhil commented on #543
Hey @shantamsultania,
I have already made an API that is not yet officially deployed to PyPi. But you can anyway check the project [here](https://github.com/akshitagupta15june/Face-X/tree/master/facex-library)(Do check out the readme to get started). And if you'd like to discuss anything more regarding the API or how you want to develop it, feel free to do it here or I suggest let's discuss it [he

[2021-04-22 11:14] Saptar001 opened #545 "Image Registration"
Hello @akshitagupta15june , I would like to work on this issue "Image Registration" using homography .
Can you please assign me the same for gssoc,21 ?

[2021-04-22 13:27] #297 closed

[2021-04-22 13:28] akshitagupta15june commented on #545
Please tell me more about it

[2021-04-22 13:44] Saptar001 commented on #545
@akshitagupta15june
Here, I would take a wrapped or morphed image and register/match the image with the reference image.

I would be comparing  the key-points and descriptors of the both wrapped and the reference image using ORB

[2021-04-22 15:31] Vi1234sh12 commented on #491
hey @vanshu25 , Are you still  working on this Issue , Please let me known

[2021-04-22 15:41] Vi1234sh12 commented on #447
hey @Vidipta , are you still working on this issue ,  please let known

[2021-04-22 16:16] Vidipta commented on #447
Hi @Vi1234sh12 , yes

[2021-04-23 04:48] #516 closed

[2021-04-23 04:50] akshitagupta15june commented on #545
Ok add your implementation inside awesome face operations folder

[2021-04-23 12:12] vanshu25 commented on #491
@Vi1234sh12 , hey I'm not working on this issue

[2021-04-23 12:30] Vi1234sh12 commented on #491
Hey  @akshitagupta15june , can I work on this Issue , please let me know

[2021-04-23 12:31] akshitagupta15june commented on #491
Yes

[2021-04-23 13:50] Vi1234sh12 commented on #491
Thanks !

[2021-04-23 18:22] lekshmissunil commented on #490
Thank you! I'm on it.

[2021-04-24 08:53] #536 closed

[2021-04-24 10:02] NEERAJAP2001 opened #547 "Add Cat Mask Filter as Snapchat Filter"
Here is The filter :

![cats](https://user-images.githubusercontent.com/65017645/115955089-3a3cf580-a512-11eb-8885-665f524dbafb.png)

Will be using :

* Python
* The program makes use of Dlib-facial feature points
* OpenCV
* Tkinter
* Shape predictor 68 face landmark points Model

I'd like to work on this as part of the GSSOC-21.

[2021-04-24 10:27] akshitagupta15june commented on #547
ok

[2021-04-24 22:39] lekshmissunil commented on #490
@akshitagupta15june I've created a pull request. Please review it asap.

[2021-04-25 04:49] #490 closed

[2021-04-25 06:00] Vi1234sh12 commented on #382
Hey @akshitagupta15june  , @Sanika1999  are you still working on this issue? , Please let me know

[2021-04-25 06:13] #491 closed

[2021-04-25 06:52] Sanika1999 commented on #382
Hi just created a pr for this issue please check. sorry for the delays.😀

[2021-04-25 07:25] #382 closed

[2021-04-25 15:38] Vi1234sh12 opened #551 "Update Readme File Video-BG-Substraction"
**Is your feature request related to a problem? Please describe.**
- [ ] Update Features with More Example
- [ ] Add Information related Algorithm
- [ ] Update Images

**Repo**
[Readme File Path : Video-BG-Substraction ](https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Video-BG-Substraction)

[2021-04-25 15:48] Vi1234sh12 opened #552 "Readme File improvement Gender Detection"
**Is your feature request related to a problem? Please describe.**
- [x] Update Readme File
- [ ]  Add more Information related Algorithm
- [x] Add More Points so Anyone can Understand Actual How its work
- [ ]  Add Good Images

**Repository Link**
[Gender Detection 💯 ](https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Gender_Classification)

[2021-04-27 05:10] #547 closed

[2021-04-27 05:20] NEERAJAP2001 opened #554 "Add Face Verification using Deep Learning"
Face Verification: This is done using the Facet model. Used a trained facnet model to compare the captured image with images in the database to verify a person's face.
Reference:
Paper : [Here](https://arxiv.org/pdf/1503.03832.pdf)
MTCN Pretrained Model: [Here](https://github.com/ipazc/mtcnn)
FaceNet Pretrained Model: [Here](https://drive.google.com/file/d/0B5MzpY9kBtDVZ2RpVDYwWmxoSUk)

I'd Like t

[2021-04-27 06:39] akshitagupta15june commented on #526
are u working on this?

[2021-04-27 06:39] akshitagupta15june commented on #483
are u working on this?

[2021-04-27 06:40] akshitagupta15june commented on #443
are u working on this?

[2021-04-27 06:40] akshitagupta15june commented on #402
are u working on this?

[2021-04-27 06:41] akshitagupta15june commented on #335
are u working on this?

[2021-04-27 06:42] akshitagupta15june commented on #445
are u working on this?

[2021-04-27 06:42] akshitagupta15june commented on #545
are u working on this?

[2021-04-27 06:43] akshitagupta15june commented on #352
are u working on this?

[2021-04-27 06:45] srimontidutta commented on #445
I am. Sorry, I am a bit late due to exams

[2021-04-27 06:46] srimontidutta commented on #445
@akshitagupta15june Can you please assign me once again? I've almost completed it.

[2021-04-27 06:49] akshitagupta15june commented on #445
ok

[2021-04-27 06:53] Saptar001 commented on #545
@akshitagupta15june  yess, I am .
I have finished with the coding section, and now I have started to work on the Readme( documentation) part.

[2021-04-27 07:04] vanshu25 commented on #526
Yes, I'm working on this.. It's almost completed

[2021-04-27 08:06] sarobml2000 commented on #335
Hi @akshitagupta15june, Please assign this and the other issue to someone else. My model was severely overfitting and the classes are way too low due to transfer learning. Thanks.

[2021-04-27 18:54] #526 closed

[2021-04-28 03:31] #545 closed

[2021-04-29 04:26] #552 closed

[2021-04-30 03:57] NEERAJAP2001 commented on #402
Hey @akshitagupta15june I'd like to work on this issue!
I'll follow the same solution as mentioned in the comment.
Thanks

[2021-04-30 07:29] #554 closed

[2021-05-01 03:28] NEERAJAP2001 opened #560 "Add Cartoonify Image using K means Clustering Algorithm"
This project would be one of such inspiration which cartoonizes images and videos using only core OpenCV filters and functions.It also will be using a K-means clustering algorithm to compress the image. This clustering gives it the basic cartoonish tinge it requires.

Algorithm- K_Means Clustering
Filters-Bilateral Filter, Contours, erode, Canny(edge detection)

[2021-05-01 06:04] Vi1234sh12 commented on #483
hey @akshitagupta15june  can I work on This Issue , Please let me Know

give me a correct  directory Path

[2021-05-01 06:18] #551 closed

[2021-05-01 13:59] Sanika1999 commented on #402
Hi @NEERAJAP2001 I was working on this implementation for a while and just created a pr for this. You can create a new issue there are many algorithms yet to be added. If you need help reach out on discord.

[2021-05-02 05:26] NEERAJAP2001 commented on #402
Oh! cool @Sanika1999, My Bad I thought you were busy!!
Thanks

[2021-05-02 11:54] Vi1234sh12 commented on #447
Hey @akshitagupta15june , can I work on this Issue , please let me know

[2021-05-03 03:39] NEERAJAP2001 commented on #560
@akshitagupta15june can I work on this?

[2021-05-03 17:43] #402 closed

[2021-05-05 17:00] Komal-99 commented on #330
hi please assign it to me as I told you in discord channel know i have founded the solution of error  and will be making an PR for the changes

[2021-05-05 18:10] akshitagupta15june commented on #330
Ok

[2021-05-06 05:38] srimontidutta commented on #352
Hi, can I please work on this issue as a part of GSSoC21?

[2021-05-06 10:00] #445 closed

[2021-05-06 18:51] #330 closed

[2021-05-06 18:58] Komal-99 commented on #330
Please as per my request  increase its level as added kore than just read me .

[2021-05-06 19:18] akshitagupta15june commented on #330
Yes i have merged the pr with level 2 tag

[2021-05-06 19:48] ShubhamGupta577 opened #566 "Cropping the face from an image"
## Cropping the face from an image
By using this script we are going to extract out the faces from the image crop them and save as a new file.
## Approach to be followed
We are going to recognize the faces in the image by using the haarcascade algorithm and after that, by using OpenCV we are going to crop the faces from the image.

[2021-05-07 03:40] Komal-99 commented on #330
Thank you

[2021-05-08 19:01] manisha-27 commented on #443
Hey, can I work on this issue.

[2021-05-08 19:37] #560 closed

[2021-05-08 19:39] akshitagupta15june commented on #566
Hi this is not required for this repo because this script is already included in many code present here

[2021-05-08 19:39] #566 closed

[2021-05-09 06:29] NEERAJAP2001 opened #570 "Add Face Emotion Detection without a neural Network"
Problem Statement :
Given a data set consisting of facial images and their sketches, retrieve all images (real and /or sketch) which are similar to the given test image, along with attributes of the image such as expression.

Non-neural network approach:
* K Nearest Neighbours (with k = 5, minkowski distance with p = 2)
* Support Vector Machine (linear kernel)
* Naive Bayes (Gaussian with variance

[2021-05-10 07:32] Manasi2001 opened #571 "Add an Image to Pencil Sketch Converter"
**Is your feature request related to a problem? Please describe.**
Usually programs built like this give an outline of the image in the name of sketch, it does not look realistic.

**Describe the solution you'd like**
My program can successfully convert a RGB image into a realistic pencil sketch in 4 easy steps!

**Additional context**
Here's an example:
### Before
![img](https://user-images.githu

[2021-05-11 08:15] akshitagupta15june commented on #571
add your implementation inside this folder https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Colorful%20Sketch%20Filter

[2021-05-11 10:20] #571 closed

[2021-05-11 13:36] iaryangoyal commented on #483
hi can u assign this to me

[2021-05-12 05:37] akshitagupta15june commented on #483
ok

[2021-05-12 05:38] akshitagupta15june commented on #447
ok

[2021-05-12 05:39] akshitagupta15june commented on #352
ok

[2021-05-12 06:03] ainy-123 commented on #447
Thanks for assigning.

[2021-05-12 06:23] sherin527 opened #574 "Adding Funny Mirror images using opencv"
Hello @akshitagupta15june ma'am, I want to implement Funny mirror images using OpenCV. Please assign me this I am a gssoc21 participant.

[2021-05-12 06:38] iaryangoyal commented on #483
@akshitagupta15june the above link is not working

[2021-05-12 06:44] iaryangoyal commented on #483
The above link is not working ma'am

[2021-05-14 09:58] #570 closed

[2021-05-14 10:14] NEERAJAP2001 opened #584 "Add Face Recognition using VGG-Face."
About: It is one of the most popular and widely used facial recognition models and recorded 98.78% accuracy for Labeled Faces in the Wild dataset. It also had 68.17% accuracy on the masked-faced dataset called RMFRD.

Steps to follow in the project :

Step 1: Dataset acquisition
Step 2: Detect faces.(will be using dlib)
Step 3: Download and load VGG_face weights.
Step 4: Get embeddings for faces.

[2021-05-16 10:31] #447 closed

[2021-05-17 04:19] NEERAJAP2001 commented on #584
Any Updates @akshitagupta15june?

[2021-05-17 06:48] akshitagupta15june commented on #584
Ok assigning

[2021-05-17 06:49] akshitagupta15june commented on #584
Add in face recognition algorithms folder

[2021-05-17 06:51] akshitagupta15june commented on #483
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/Blurring%20image%20across%20face

[2021-05-17 06:52] #231 closed

[2021-05-17 07:06] iaryangoyal commented on #483
#586

[2021-05-17 07:08] iaryangoyal commented on #483
I have added some of the details of blurring. I think other things are ok. so I have added some of the detailed info of blur. if there is any issue with this please let me know I'll change it as soon as possible.

[2021-05-17 07:40] #483 closed

[2021-05-17 16:16] #386 closed

[2021-05-18 13:51] ainy-123 commented on #335
hello @akshitagupta15june ,I am GSSoC'21 participant .I want to work on this issue.
Will you please assign this to me ?

[2021-05-18 13:54] akshitagupta15june commented on #335
Ok

[2021-05-18 13:55] ainy-123 commented on #335
Thanks for assigning.

[2021-05-18 13:55] #584 closed

[2021-05-18 14:14] NEERAJAP2001 opened #589 "Add New Snap Chat Filter"
I'd like to add a new filter into the Snapchat filters folder:

Filter : ( I will be using cropped version )
![this](https://user-images.githubusercontent.com/65017645/118666989-3cdcf300-b811-11eb-8fbc-412d9e87983c.png)

We, Will, be using :

* Python
* The program makes use of Dlib-facial feature points
* OpenCV
* Tkinter
* Shape predictor 68 face landmark points Model

I'd like to work on this a

[2021-05-19 09:36] Komal-99 commented on #66
please all add gssoc level label as i guess level4 is not their in gssoc

[2021-05-19 19:16] manisha-27 opened #591 "EXIF orientation"
Rotate Photos to be Upright using EXIF orientation.
Automatically rotating the image based on Exif orientation. Prevents upside-down and sideways images!

[2021-05-20 14:43] akshitagupta15june commented on #589
I think moustache filter is already present you can work on different filter

[2021-05-20 14:43] #589 closed

[2021-05-20 14:44] akshitagupta15june commented on #591
ok you can work on it and add this in awesome face operations.

[2021-05-20 17:12] NEERAJAP2001 opened #592 "Add a new Snap Chat Filter"
I'd like to add a new Witch filter into the Snapchat filters folder:

Filter : ( I will be using cropped version )
![witch](https://user-images.githubusercontent.com/65017645/119020992-8584df80-b9bc-11eb-983c-5af2c6c86288.png)

We, Will, be using :

* Python
* The program makes use of Dlib-facial feature points
* OpenCV
* Tkinter
* Shape predictor 68 face landmark points Model
I'd like to work on

[2021-05-20 18:46] ainy-123 opened #593 "implementing different techniques in opencv for adjusting contrast in images."
1. Histogram Equalization
2. CLAHE

[2021-05-20 18:46] ainy-123 commented on #593
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me.

[2021-05-21 05:21] akshitagupta15june commented on #593
Hi @ainy-123 these are not related to operations on faces so we can't include in this repo

[2021-05-21 05:21] #593 closed

[2021-05-21 05:21] akshitagupta15june commented on #592
Ok assigning you

[2021-05-21 13:42] sherin527 commented on #574
@akshitagupta15june ma'am, in which folder I should add this file?

[2021-05-21 15:02] akshitagupta15june commented on #574
in awesome face operations

[2021-05-21 15:16] KajalSinghBAGHEL opened #598 "Update README. md"
Remove grammatical mistakes

[2021-05-21 15:17] KajalSinghBAGHEL commented on #598
i am new to GSSOC .Can i work on this issue?

[2021-05-21 15:18] akshitagupta15june commented on #598
Ok

[2021-05-21 15:21] subhangi2731 commented on #543
@akshitagupta15june can I please work on this i see no pr has been made

[2021-05-21 15:23] subhangi2731 commented on #312
@akshitagupta15june if this issue is open can I please work on this

[2021-05-21 15:24] subhangi2731 commented on #89
@akshitagupta15june please assign me this issue

[2021-05-21 15:25] subhangi2731 commented on #300
@akshitagupta15june I want to work on this please assign me this issue

[2021-05-21 16:48] sherin527 commented on #574
ok.

[2021-05-21 17:37] #598 closed

[2021-05-21 20:01] ainy-123 opened #601 "Adding filters using opencv for enhancing image"
- [1] median filter.
- [2] bilateral filter.

[2021-05-21 20:02] ainy-123 commented on #601
hey @akshitagupta15june ,I am GSSoC'21 participant and I want to work on this issue.
Will you please assign this to me?

[2021-05-21 21:16] manisha-27 opened #603 "Face Recognition in a video"
### Adding a feature to recognize face from a video.

[2021-05-21 21:38] manisha-27 commented on #68
Hey @akshitagupta15june , please open this issue.

[2021-05-22 04:08] #591 closed

[2021-05-22 04:10] #574 closed

[2021-05-22 04:11] akshitagupta15june commented on #601
These filters are already implemented

[2021-05-22 04:11] #601 closed

[2021-05-22 04:11] akshitagupta15june commented on #603
This is already implemented

[2021-05-22 04:11] #603 closed

[2021-05-22 05:24] AdityaNikhil commented on #312
@subhangi2731
Of course, you can work on this issue. It's been a while since I worked on this.
You can check the homepage of this library [here](https://github.com/akshitagupta15june/Face-X/blob/master/facex-library). Let me know if you like to discuss anything.

[2021-05-22 05:30] akshitagupta15june commented on #300
ok

[2021-05-22 16:06] shantamsultania commented on #543
sorry i am not well not able to work on this please assign to someone else

[2021-05-23 08:40] #592 closed

[2021-05-23 10:59] NEERAJAP2001 opened #605 "Add Face Clustering"
Face clustering we need to perform unsupervised learning — we have only the faces themselves with no names/labels. From there we need to identify and count the number of unique people in a dataset.

As a quick breakdown, here is everything you’ll need in your Python environment:
* OpenCV
* dlib
* imutils
* scikit-learn

I'd Like to work on this as part of GSSOC-21.

[2021-05-23 15:58] A-kriti opened #606 "Neon Effect Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Neon Effect Filter" on an image.

**Describe the solution you'd like**
Implementing a neon effect filter using OpenCV, Matplotlib, Os and NumPy.

**Final Output**

![Screenshot (396)](https://user-images.githubusercontent.com/73133055/119267787-ad1eb680-bc0d-11eb-850a-5339b027e255.png)

[2021-05-23 16:09] A-kriti opened #607 "Image Contrast Increasing Filter"
**Is your feature request related to a problem? Please describe.**
Images captured in dim light mostly have not much better contrast so an (Image Contrast increasing filter) filter helps accordingly to adjusts and increase its contrast and hence having a better version of the image.

**Describe the solution you'd like**
Using some of the python libraries to implement this feature in which matplotl

[2021-05-23 17:58] akshitagupta15june commented on #605
Assigning
Add your implementation in awesome face operations

[2021-05-23 17:59] akshitagupta15june commented on #606
Ok assigning

[2021-05-23 18:00] akshitagupta15june commented on #607
This filter is not required

[2021-05-23 18:00] #607 closed

[2021-05-23 18:07] akshitagupta15june commented on #68
Reopened

[2021-05-23 19:03] A-kriti opened #611 "Glitter Cartoon Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Glitter Cartoon Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Glitter Cartoon Filter". ( OpenCV, Matplotlib, Os, and NumPy)

**Final Output**

![Screenshot (399)](https://user-images.githubusercontent.com/73133055/119273215-7f466b80-bc27-11eb-8b4c-cb37462edd08.png

[2021-05-23 19:08] A-kriti opened #612 "Crayon Portrait Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Crayon Portrait Filter" on an image.

**Describe the solution you'd like**
Implementing a "Crayon Portrait Filter" using some of the python library functions which are OpenCV, Os, Matplotlib, and NumPy.

**Final Output**

![Screenshot (400)](https://user-images.githubusercontent.com/73133055/119273328-072c7580-bc28

[2021-05-23 19:49] manisha-27 opened #613 "Facial features in a picture"
### Creating facial features on the image

![facialFeatures1](https://user-images.githubusercontent.com/67019423/119274514-e7984b80-bc2d-11eb-9e74-e794aaeee1d8.PNG)

[2021-05-24 05:28] #606 closed

[2021-05-24 05:29] akshitagupta15june commented on #611
add your implementation in this https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify%20Image

[2021-05-24 05:30] akshitagupta15june commented on #613
Hi this is already implemented

[2021-05-24 05:30] #613 closed

[2021-05-24 05:30] akshitagupta15june commented on #612
hi this is already implemented

[2021-05-24 05:30] #612 closed

[2021-05-24 05:32] #331 closed

[2021-05-24 05:32] akshitagupta15june commented on #89
ok assigning @subhangi2731

[2021-05-24 05:38] A-kriti commented on #612
okay

[2021-05-24 10:20] NEERAJAP2001 opened #615 "Add Face Recognition using LBPH Algorithm"
Introduction and Working: Face recognition is performed using local binary pattern histograms(lbph) and face detection has been done using viola jones haar cascade classifier. The user has to first run facerecognition.py to register his face by selecting 1 to train the algorithm followed by entering password and name. The algorithm takes 64 images of the user and stores in a folder called a databa

[2021-05-24 10:43] akshitagupta15june commented on #615
This is already available

[2021-05-24 10:43] #615 closed

[2021-05-24 11:00] mehabhalodiya opened #616 "Batman Mask Filter"
**Describe**
I want to add batman Mask filter in snapchat filters directory.
Please assign this to me under GSSoC'21.

[2021-05-24 12:01] #616 closed

[2021-05-24 16:07] A-kriti opened #617 "Chalk Portrait Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Chalk  Portrait Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Chalk  Portrait Filter". ( OpenCV, Matplotlib, Os, and NumPy)

**Final Output**
![Screenshot (409)](https://user-images.githubusercontent.com/73133055/119375191-271b7200-bcd8-11eb-8b15-ca2720faca67.png)

[2021-05-24 16:44] #611 closed

[2021-05-24 16:44] akshitagupta15june commented on #617
Hi this is already available

[2021-05-24 16:44] #617 closed

[2021-05-24 17:44] unnati914 commented on #11
hi i want to work on this

[2021-05-25 11:57] A-kriti opened #620 "Frame Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Frame Filter" on an image.

**Describe the solution you'd like**
Using "PIL" python libraries to Implement a "Frame Filter".

**Output**
![new](https://user-images.githubusercontent.com/73133055/119493981-69978a00-bd7e-11eb-9c36-97123a162ef5.png)

[2021-05-25 12:31] #605 closed

[2021-05-25 12:32] akshitagupta15june commented on #620
Add in awesome face operations

[2021-05-25 14:16] NEERAJAP2001 opened #621 "Add Face Alignment in Face Operations"
Dependency
*  imutils
*  dlib
*  opencv-python

Here we will be :
* Identifying the geometric structure of faces in digital images.
* Attempting to obtain a canonical alignment of the face based on translation, scale, and rotation.

[2021-05-25 17:27] A-kriti opened #623 "Krishna Cartoon Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Krishna Cartoon Filter" to an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Krishna Cartoon Filter". ( PIL, OpenCV, Matplotlib, Os, and NumPy)

**Final Output**

![Screenshot (413)](https://user-images.githubusercontent.com/73133055/119541846-85198980-bdac-11eb-8422-8b784a46062

[2021-05-25 17:52] akshitagupta15june commented on #623
Hi this is not required.

[2021-05-25 17:52] #623 closed

[2021-05-25 17:52] akshitagupta15june commented on #621
Hi this is already implemented

[2021-05-25 17:52] #621 closed

[2021-05-25 17:53] #620 closed

[2021-05-26 04:43] A-kriti opened #624 "Reel Negative Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Reel Negative Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Reel Negative Filter". ( OpenCV, Matplotlib, Os, PIL, and NumPy)

**Final Output**

![p8](https://user-images.githubusercontent.com/73133055/119603336-9b563280-be0a-11eb-8bde-08ab5e66c25b.jpg)
![final out

[2021-05-26 05:17] A-kriti opened #625 "Pepper Effect Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Pepper Effect Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Pepper Effect Filter". ( OpenCV, Matplotlib, Os, PIL, and NumPy)

**Final Output**

![Screenshot (419)](https://user-images.githubusercontent.com/73133055/119606131-99db3900-be0f-11eb-9022-79f51403aae9.pn

[2021-05-26 05:46] manisha-27 opened #626 "Cartoon face detection"
Recognizing and detecting to find the cartoon images.

[2021-05-26 05:47] A-kriti opened #627 "Emboss Effect Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply an "Emboss Effect Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement an "Emboss Effect Filter". ( Matplotlib and PIL)

**Final Output**

![Screenshot (425)](https://user-images.githubusercontent.com/73133055/119610572-13c2f080-be17-11eb-9a7d-fbffdabbc9f6.png)

[2021-05-26 06:08] NEERAJAP2001 commented on #621
@akshitagupta15june  I did not find it so I raised an issue
Thanks

[2021-05-26 07:20] akshitagupta15june commented on #627
hi its not required!

[2021-05-26 07:20] #627 closed

[2021-05-26 07:21] akshitagupta15june commented on #626
hi its not required!

[2021-05-26 07:21] akshitagupta15june commented on #625
hi its not required!

[2021-05-26 07:21] #625 closed

[2021-05-26 17:00] NEERAJAP2001 commented on #621
@akshitagupta15june can you please confirm I did not find it in Awesome face operations.

[2021-05-26 17:06] NEERAJAP2001 opened #630 "Face Detection using YOLOV5"
YoloV5 implemented by TensorFlow2, with support for training, evaluation, and inference.

[2021-05-27 04:20] akshitagupta15june commented on #630
add your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection

[2021-05-27 11:01] Balpreetkaur291 opened #632 "Canny edge Detection"
**Is your feature request related to a problem? Please describe.**
Canny edge detector works on a multi-stage algorithm to detect a wide range of edges in images.

I want to add the implementation of canny edge detection on images using openCV and python. This can be added in Awesome-face-operations

Final Output:
![image](https://user-images.githubusercontent.com/53484794/119814583-31bc4e00-bf08-

[2021-05-27 12:31] A-kriti opened #633 "Crown Snapchat Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Crown Snapchat Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Crown Snapchat Filter". ( OpenCV, Matplotlib)

**Output**
![image](https://user-images.githubusercontent.com/73133055/119826228-700c3a00-bf15-11eb-9923-27ce76d9499d.png)

[2021-05-27 12:46] A-kriti opened #634 "Cool Snapchat Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Cool Snapchat Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Cool Snapchat Filter". ( OpenCV and Matplotlib)

**Output**
![image](https://user-images.githubusercontent.com/73133055/119829317-be6f0800-bf18-11eb-8f40-840b075ff3e1.png)

[2021-05-27 14:09] A-kriti opened #635 "Pirates Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Pirates Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Pirates Filter". ( OpenCV and Matplotlib)

**Output**
![image](https://user-images.githubusercontent.com/73133055/119840999-114dbd00-bf23-11eb-9a7d-2d82fa17ce61.png)

[2021-05-28 03:54] NEERAJAP2001 opened #637 "Face Detection using YOLOV4 Algorithm"
YoloV4 implemented by TensorFlow2, with support for training, evaluation, and inference.

[2021-05-28 03:57] NEERAJAP2001 opened #638 "Face mask detection using YOLOV4"
Alert System: It monitors the mask, no-mask counts and has 3 status :

* Safe : When all people are with mask.
* Warning : When atleast 1 person is without mask.
* Danger :  When some ratio of people are without mask.

Details of model will be given in the Readme File

[2021-05-28 04:09] #630 closed

[2021-05-28 04:11] akshitagupta15june commented on #632
Hi this is not required in this repo

[2021-05-28 04:11] #632 closed

[2021-05-28 04:11] akshitagupta15june commented on #633
Hi this is not required in this repo it is already available

[2021-05-28 04:11] #633 closed

[2021-05-28 04:11] akshitagupta15june commented on #634
Hi this is not required in this repo as this is already available

[2021-05-28 04:11] #634 closed

[2021-05-28 04:12] akshitagupta15june commented on #635
Hi this is not required in this repo as this is already available

[2021-05-28 04:12] #635 closed

[2021-05-28 04:12] akshitagupta15june commented on #638
Assigning you

[2021-05-28 04:13] akshitagupta15june commented on #637
Assigning you

[2021-05-28 04:15] akshitagupta15june opened #639 "Finding convenient way to reduce time consumptions on EfficientNets."
Finding convenient way to reduce time consumptions on EfficientNets.

When running the eff-nets it takes 40 mins + to run just a single epoch.
Find any better approach to reduce time
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20EfficientNetB2

[2021-05-28 08:28] A-kriti opened #640 "Holi Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add holi festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 08:31] akshitagupta15june commented on #640
good

[2021-05-28 08:32] akshitagupta15june commented on #640
try to craete different issues for different filter will assign you score according to per filter you add

[2021-05-28 08:32] akshitagupta15june commented on #640
Here you can add holi filter just rename the issue

[2021-05-28 08:33] A-kriti opened #641 "Forehead Jewellery Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Forehead Jewellery Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Forehead Jewellery Filter". ( OpenCV and Matplotlib)

**Output**
![image](https://user-images.githubusercontent.com/73133055/119954949-2840ed80-bfbd-11eb-9455-f47f1abf8c44.png)

[2021-05-28 08:39] akshitagupta15june commented on #641
if more jwellery crops can be added then its good like necklace and earings

[2021-05-28 08:46] A-kriti commented on #641
Ok I'll try

[2021-05-28 10:21] A-kriti opened #643 "Diwali Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Diwali festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 11:20] A-kriti opened #646 "Eid Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Eid festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 11:56] #640 closed

[2021-05-28 12:01] NEERAJAP2001 opened #648 "Face mask detection using YOLOV3"
Using YoloV3 I would :

* Safe : When all people are with mask.
* Warning : When atleast 1 person is without mask.
* Danger : When some ratio of people are without mask.

Details of model will be given in the Readme File.

[2021-05-28 12:06] A-kriti opened #649 "Dussehra Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Dussehra festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:05] A-kriti opened #651 "Rakshabandhan Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Rakshabandhan festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:06] A-kriti opened #652 "Christmas Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Christmas festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:08] A-kriti opened #653 "Makar Sankranti Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Makar Sankranti festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:11] A-kriti opened #654 "Independence day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Makar Independence day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:13] A-kriti opened #655 "Lohri Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Lohri festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:16] A-kriti opened #656 "Janmashtami Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Janmashtami festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:18] A-kriti opened #657 "Ganesh Chaturthi Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Ganesh Chaturthi festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-28 14:34] NEERAJAP2001 opened #658 "Face mask detection using YOLOV2"
I'd like to work on this issue as part of gssoc-21

[2021-05-28 14:52] swathika1 opened #659 "Face feature identification"
**Is your feature request related to a problem? Please describe.**
Recognizing face features like mouth, eyes, eyebrows, jaw and nose.

**Describe the solution you'd like**
Using OpenCV and a pre trained frontal face detector from dlib library and use it to obtain and highlight the features of the face.

**Additional context**
Opening this issue as GSSOC' 21 participant.
Please assign this to me i

[2021-05-28 18:44] #638 closed

[2021-05-28 18:45] #646 closed

[2021-05-28 18:46] #643 closed

[2021-05-28 18:47] akshitagupta15june commented on #659
this already implemented

[2021-05-29 03:45] sudipg4112001 opened #664 "Anime face detection"
I would like to add a project for anime face detection. Using images of anime for training the model.

[2021-05-29 05:02] NEERAJAP2001 opened #666 "Face Detection using YoloV2"
Detect faces using yolov2 and training using darknet.
I'd like to work on this issue as part of gssoc-21

[2021-05-29 05:40] #637 closed

[2021-05-29 06:24] akshitagupta15june commented on #664
ok

[2021-05-29 06:24] akshitagupta15june commented on #664
add in face detection folder

[2021-05-29 10:24] NEERAJAP2001 commented on #648
@akshitagupta15june  can i work on this?

[2021-05-29 10:25] NEERAJAP2001 commented on #666
@akshitagupta15june can I work on this?

[2021-05-29 12:59] #649 closed

[2021-05-29 12:59] #651 closed

[2021-05-29 13:00] #653 closed

[2021-05-29 13:02] #641 closed

[2021-05-29 13:06] manisha-27 opened #674 "Playing Chrome’s T-Rex Game with Facial Gestures"
Recognizing face motions.

[2021-05-29 13:08] ras-29 commented on #68
Hello @akshitagupta15june mam, I would like to add "changing eye lens color" under virtual makeover. Please assign this to me.

[2021-05-29 18:18] #655 closed

[2021-05-29 18:21] #657 closed

[2021-05-29 18:21] #654 closed

[2021-05-29 18:24] #656 closed

[2021-05-29 18:24] #652 closed

[2021-05-29 18:51] swathika1 commented on #659
But ill be using dlib... the other one has been implemented with CNN

[2021-05-29 18:52] akshitagupta15june commented on #659
Add your implementation inside face detection folder

[2021-05-29 18:53] akshitagupta15june commented on #648
Assigned

[2021-05-29 18:54] akshitagupta15june commented on #674
I am creating a folder Face-X gaming add your implementation inside that by creating a folder t rex game using facial gesture

[2021-05-29 18:57] akshitagupta15june commented on #674
Also add a proper gif pictures explaining the whole procedure

[2021-05-29 18:58] swathika1 opened #681 "Outline image filter"
An outline image filter
![image](https://user-images.githubusercontent.com/66555276/120081965-dfcd2100-c0dd-11eb-95f9-ded231ed51af.png)

[2021-05-29 18:58] swathika1 commented on #659
sure!

[2021-05-29 20:10] A-kriti opened #683 "Pongal Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Pongal festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-29 20:11] A-kriti opened #685 "Onam Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Onam festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-29 20:11] A-kriti opened #686 "Baisakhi Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Baisakhi festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-29 20:12] A-kriti opened #687 "Chhath Puja Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Chhath Puja festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-29 20:12] A-kriti opened #688 "Republic Day Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Republic Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-29 20:13] A-kriti opened #689 "Durga Puja Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Durga Puja festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 06:24] #658 closed

[2021-05-30 06:26] #648 closed

[2021-05-30 06:26] #688 closed

[2021-05-30 06:27] #689 closed

[2021-05-30 06:28] #687 closed

[2021-05-30 06:29] #686 closed

[2021-05-30 06:29] #685 closed

[2021-05-30 06:30] #683 closed

[2021-05-30 06:31] #664 closed

[2021-05-30 06:32] akshitagupta15june commented on #681
ok

[2021-05-30 06:53] NEERAJAP2001 opened #701 "Face Mask Detection using Yolo V5"
* The dataset used for training the yolov5 is from roboflow.ai

[2021-05-30 07:17] #666 closed

[2021-05-30 09:30] #659 closed

[2021-05-30 09:31] #674 closed

[2021-05-30 10:29] A-kriti opened #707 "Children's Day Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Children's Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:30] A-kriti opened #708 "Gudi Padwa Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Gudi Padwa festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:30] A-kriti opened #709 "Maha Shivratri Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Maha Shivratri festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:31] A-kriti opened #710 "Buddha Purnima Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Buddha Purnima festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:31] A-kriti opened #711 "Ram Navami Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Ram Navami festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:31] A-kriti opened #712 "Teacher's Day Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Teacher's Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:32] A-kriti opened #713 "Akshaya Tritiya Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Akshaya Tritiya festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:32] A-kriti opened #714 "Bhai Dooj Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Bhai Dooj festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:33] A-kriti opened #715 "Vasant Panchami Festival Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Vasant Panchami festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 10:33] A-kriti opened #716 "Gandhi Jayanti Filters"
**Is your feature request related to a problem? Please describe.**
Want to add Gandhi Jayanti filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 11:38] NEERAJAP2001 opened #725 "Face Mask Detection using Xception"
Mask detection model can be said to be a combination of classification and face detection model. For the purpose of classification, we use transfer learning with an Xception model trained on the ImageNet dataset with a modified final fully connected layer.

[2021-05-30 11:39] NEERAJAP2001 opened #726 "Face Mask Detection using RetinaNet Face Algorithm"
Face Detection is the technique of identifying human faces in digital images. While inherently a backbone to other applications, detecting a face is in fact impacted a lot in cluttered scenes, and examples of the same kind of problem can be thought of in a crowded setting, the use-case for which  mask detection algorithm is being built.

[2021-05-30 11:41] NEERAJAP2001 opened #727 "Face Detection using ORB Algorithm"
Using ORB (Oriented FAST and Rotated BRIEF) to develop an algorithm for Face Detection

[2021-05-30 13:04] ainy-123 opened #735 "Birthday Filters"
**Is your feature request related to a problem? Please describe.**
Want to apply birthday filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:05] ainy-123 opened #736 "Friendship day filters"
**Is your feature request related to a problem? Please describe.**
Want to apply friendship day filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:06] ainy-123 opened #737 "Mother's Day filters"
**Is your feature request related to a problem? Please describe.**
Want to apply mother's day filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:08] ainy-123 opened #738 "Sister's Day filters"
**Is your feature request related to a problem? Please describe.**
Want to apply sister's day filters to an image

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:11] ainy-123 opened #739 "Father's Day filters"
**Is your feature request related to a problem? Please describe.**
Want to apply father's day filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:13] ainy-123 opened #740 "Anniversary filters"
**Is your feature request related to a problem? Please describe.**
Want to apply anniversary filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:18] ainy-123 opened #742 "Earth Day Filters"
**Is your feature request related to a problem? Please describe.**
Want to apply earth day filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:24] ainy-123 opened #743 "Karwa Chauth Filters"
**Is your feature request related to a problem? Please describe.**
Want to apply karwa chauth filters to an image.

**Describe the solution you'd like**
Will be using python libraries to implement this feature.

[2021-05-30 13:25] #727 closed

[2021-05-30 13:26] #726 closed

[2021-05-30 13:27] #681 closed

[2021-05-30 13:28] #725 closed

[2021-05-30 13:29] #701 closed

[2021-05-30 13:51] NEERAJAP2001 opened #745 "Add MTCNN for mask detection"
The Multi-task Cascaded Convolutional Networks (MTCNN) designed by Zhang et al. is a three-stage detection model that produces both bounding boxes and facial landmarks. Compared to Viola and Jones face detector, MTCNN has greater recall and precision. I'll make sure to test their detector on the face mask dataset as well, but I think it is safe to say its results will be lower

[2021-05-30 13:52] NEERAJAP2001 opened #747 "face detection using MTCNN"
Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Neural Networks

[2021-05-30 13:55] NEERAJAP2001 opened #748 "Face Mask detection using MobileNetV2"
Detecting face mask with MobileNetV2

[2021-05-30 13:59] NEERAJAP2001 opened #749 "Face Mask detection using Face-Net"
Facenet can recognize faces (with masks)

[2021-05-30 14:01] NEERAJAP2001 opened #750 "Face mask detection using Transfer learning"
Transfer Learning is used with the help of Inception V3 Architecture and Imagenet weights, for the prediction of whether a person is wearing mask or not.

[2021-05-30 14:03] NEERAJAP2001 opened #752 "Face Mask detection using Densenet Model"
COVID-19 has made wearing face masks a part of everyone's daily lives. Making sure the people wear masks inside stores and public spaces has become a priority. As well, being able to determine if someone is wearing a mask is important for contact tracing and the transmission of COVID

[2021-05-30 15:54] NEERAJAP2001 opened #776 "Face Detection using PCA Algorithm"
Principal component analysis (PCA) is a statistical procedure that uses an orthogonal transformation to convert a set of observations of possibly correlated variables (entities each of which takes on various numerical values) into a set of values of linearly uncorrelated variables called principal components. If there are n observations withp variables, then the number of distinct principal compon

[2021-05-30 15:56] NEERAJAP2001 opened #777 "Face Detection using VGG-16"
Face-detection-using-vgg16

[2021-05-30 15:58] NEERAJAP2001 opened #778 "Face Detection using LBPH"
Local Binary Pattern (LBP) is a simple yet very efficient texture operator which labels the pixels of an image by thresholding the neighborhood of each pixel.

[2021-05-30 17:03] #750 closed

[2021-05-30 17:03] #745 closed

[2021-05-30 18:52] A-kriti opened #781 "New Year Filter"
**Is your feature request related to a problem? Please describe.**
Want to add New Year filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 18:53] A-kriti opened #782 "Math's Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Math's Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 18:54] A-kriti opened #783 "Ramadan Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Ramadan Festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 18:54] A-kriti opened #784 "Guru Nanak Jayanti Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Guru Nanak Jayanti filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 18:56] A-kriti opened #785 "Muharram Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Muharram Festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-30 18:57] A-kriti opened #786 "World Water Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Water Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 03:35] #786 closed

[2021-05-31 03:36] #747 closed

[2021-05-31 03:38] #749 closed

[2021-05-31 03:43] #748 closed

[2021-05-31 03:43] #709 closed

[2021-05-31 03:50] Komal-99 opened #796 "Bug report in Rainbow_filter"
**Describe the bug**
While detecting mouth using mouth.xml file and then pasting filter pic over it it is placing  the pic  next to right of nose.I am not able to identify. The coordinates reason but without that image it is detecting mouth correctly
**To Reproduce**
Steps to reproduce the behavior:
1.  Check coordinates of for loop
2. Correct the code

**Expected behavior**
That rainbow pic shoul

[2021-05-31 05:45] NEERAJAP2001 opened #807 "Face detection using Deep Dense"
A convolutional network for face detection. This work is based on "Multi-view Face Detection Using Deep Convolutional Neural Networks" by Farfade et al., although some implementation details differ.

[2021-05-31 05:49] NEERAJAP2001 opened #808 "Face Detection using Eigen Face Method"
Refer : https://www.cs.ucsb.edu/~mturk/Papers/mturk-CVPR91.pdf

[2021-05-31 05:51] NEERAJAP2001 opened #809 "Face Detection using KNN Algorithm"
harrcascade Creating training dataset using opencv and using it to detect the new face using KNN Algorithm

[2021-05-31 05:53] NEERAJAP2001 opened #810 "Face Recognition using Support Vector Machine"
kernel trick can be used to perform classification on non-linearly separable dataset

[2021-05-31 05:55] NEERAJAP2001 opened #811 "Face Recognition using caffe"
Caffe deep learning model, to classifies the test faces.

[2021-05-31 06:27] A-kriti opened #812 "Navratri Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Navratri Festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 06:27] A-kriti opened #813 "Rath Yatra Festival Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Rath Yatra Festival filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 06:28] A-kriti opened #814 "World Wildlife Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Wildlife Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 06:53] A-kriti opened #818 "Engineer's Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Engineer's Day Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 06:53] A-kriti opened #819 "Doctor's Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Doctor's Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 07:46] A-kriti opened #823 "Human Rights Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add Human Rights Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 12:03] NEERAJAP2001 opened #838 "Face Recognition with VGGFace2"
VGGFace2 model are  developed for face recognition, and developed by researchers at the Visual Geometry Group (VGG) at the University of Oxford

[2021-05-31 12:07] NEERAJAP2001 opened #839 "Face Recognition using One Shot Learning"
In one-shot learning, only one image per person is stored in the database which is passed through the neural network to generate an embedding vector. This embedding vector is compared with the vector generated for the person who has to be recognized.

[2021-05-31 12:07] NEERAJAP2001 opened #840 "Face Recognition using Triplet Loss Function"
Here we are using OpenFace pre-trained model for facial recognition. Without going into much details on how this neural network identify two same faces.

[2021-05-31 12:10] NEERAJAP2001 opened #841 "Face detection using probabilistic-modelling"
The goal of this project is to develop and train a face classification model using probabilistic modelling methods for the system.

[2021-05-31 12:12] NEERAJAP2001 opened #842 "Facial Recognition using Random Forest"
Random forests are an ensemble learning method for classification (and regression) that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes output by individual trees.

[2021-05-31 13:51] NEERAJAP2001 opened #849 "Face detection using Adaboost and haar feature extraction"
Adaboost is a congregation of weak classifiers (each having accuracy better than a random guess, greater than 0.5) to give one strong classifier.

[2021-05-31 16:00] Komal-99 commented on #735
I would like to work over this issue being a gssoc participant

[2021-05-31 17:01] ainy-123 commented on #735
Go ahead @Komal-99 . If you want, you can work . I am not working on this issue currently.

[2021-05-31 17:18] Komal-99 commented on #735
Ok thanks

[2021-05-31 17:48] A-kriti opened #861 "World Ozone Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Ozone Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 17:48] A-kriti opened #862 "International Literacy Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add International Literacy Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 17:49] A-kriti opened #863 "World Health Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Health Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 17:49] A-kriti opened #864 "World Sports Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Sports Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 17:50] A-kriti opened #866 "World Yoga Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Yoga  Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 17:50] A-kriti opened #867 "World Blood Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World Blood Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 18:23] A-kriti opened #878 "World No Alcohol Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World No Alcohol Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-05-31 18:23] A-kriti opened #879 "World No Tobacco Day Filter"
**Is your feature request related to a problem? Please describe.**
Want to add World No Tobacco Day filters to an image.

**Describe the solution you'd like**
Using python libraries to Implement this.

[2021-06-02 06:42] #841 closed

[2021-06-02 06:42] #776 closed

[2021-06-03 04:44] #879 closed

[2021-06-04 05:14] #878 closed

[2021-06-04 05:15] #867 closed

[2021-06-04 12:10] #861 closed

[2021-06-04 12:12] #839 closed

[2021-06-04 12:12] #838 closed

[2021-06-04 12:14] #849 closed

[2021-06-05 03:57] #842 closed

[2021-06-05 03:58] #840 closed

[2021-06-05 03:59] #809 closed

[2021-06-05 18:40] #866 closed

[2021-06-05 18:47] #807 closed

[2021-06-05 18:51] #735 closed

[2021-06-05 19:01] #811 closed

[2021-06-05 19:02] #810 closed

[2021-06-05 19:04] #808 closed

[2021-06-05 19:06] #812 closed

[2021-06-05 19:10] #785 closed

[2021-06-05 19:11] #781 closed

[2021-06-06 12:28] ras-29 opened #885 "Scarlet Witch filter"
**Is your feature request related to a problem? Please describe.**
To add Scarlet Witch( a famous fictional character aka Wanda from MCU) filter under Snapchat filters
![Screenshot (612)](https://user-images.githubusercontent.com/78521234/120924297-9c337200-c6f0-11eb-9653-475d6f91e0b8.png)

[2021-06-07 05:47] #885 closed

[2021-06-07 07:29] kuluruvineeth commented on #89
@akshitagupta15june i would like to enhance code part and readme part for face detection using MTCNN pictorially and pipeline for that algorithm.
so please assign the issue #89 to explore and enhance the face detection model.
Hope you shall do the needful,expeditiously.
Thank you
vineeth

[2021-06-08 08:18] #864 closed

[2021-06-08 08:18] #863 closed

[2021-06-08 08:20] #862 closed

[2021-06-08 08:20] #823 closed

[2021-06-08 08:20] #819 closed

[2021-06-08 08:20] #813 closed

[2021-06-08 08:20] #784 closed

[2021-06-08 08:21] #783 closed

[2021-06-08 08:21] #782 closed

[2021-06-08 08:21] #778 closed

[2021-06-08 08:21] #777 closed

[2021-06-08 08:24] #752 closed

[2021-06-08 08:24] #743 closed

[2021-06-08 08:24] #742 closed

[2021-06-08 08:24] #740 closed

[2021-06-08 08:24] #739 closed

[2021-06-08 08:24] #738 closed

[2021-06-08 08:24] #737 closed

[2021-06-08 08:24] #736 closed

[2021-06-08 08:24] #715 closed

[2021-06-08 08:25] #714 closed

[2021-06-08 08:25] #713 closed

[2021-06-08 08:25] #712 closed

[2021-06-08 08:25] #710 closed

[2021-06-08 08:25] #708 closed

[2021-06-08 08:25] #707 closed

[2021-06-08 08:32] akshitagupta15june commented on #89
ok @kuluruvineeth are a lgm-soc participant?

[2021-06-08 08:59] kuluruvineeth commented on #89
No @akshitagupta15june  but super passionate and have deep insight and knowledge about deep learning for computer vision...If I am not eligible to contribute I would be happy to know other options from your kind self and that you would be kindness of you.
Thank you
Vineeth

[2021-06-08 09:39] akshitagupta15june commented on #89
It's ok i was just asking as many participants are from different open source program so we have to allot labels in them.
Open source is for everyone, you can contribute in this repo.
Let me know what do you want to implement by creating a new issue

[2021-06-08 13:42] kuluruvineeth opened #887 "Feature request(Face detection using MTCNN)"
Wanted to add one more feature for face detection using MTCNN in the code part and enhance the readme with thorough pipeline for the algorithm pictorially and before and after pictures for two application of MTCNN algorithm.

[2021-06-08 14:28] akshitagupta15june commented on #887
it is already implemented https://github.com/akshitagupta15june/Face-X/tree/master/Face-Detection/Face%20Detection%20using%20MTCNN
you can enhance the readme

[2021-06-09 04:24] #887 closed

[2021-06-09 15:49] rudranshsharma123 commented on #543
Hello, I am a participant of LGMSOC. Can you give me a rundown on what exactly needs to be done and point me at resources that could help in this issue resolution. I would love to work on this one

[2021-06-09 15:56] rudranshsharma123 commented on #796
Hello, I would love to work on this issue. I am a participant of LGM-SOC. What exactly needs to be done here? From reading the content I could see that there is an issue with the placement of the faces? So, I would just need to fix the placement of the filter?

[2021-06-10 11:53] akshitagupta15june commented on #543
Hey @rudranshsharma123
@AdityaNikhil has already made an API that is not yet officially deployed to PyPi. you can work on it and for discussion you can discuss here https://github.com/akshitagupta15june/Face-X/discussions/323

[2021-06-11 03:15] sherin527 opened #893 "Image Pyramiding using opencv"
@akshitagupta15june ma'am, I want to implement Image pyramiding using OpenCV, pls assign this issue to me. I am an LGM-SOC'21 participant.

[2021-06-11 03:45] akshitagupta15june commented on #893
Can u tell me more about it?

[2021-06-11 05:05] sherin527 commented on #893
Image pyramiding is basically a pyramidical representation of the image. It's a kind of resizing or sub-sampling of an image where we can detect an object in that image. So basically it's called a pyramid because the images are arranged in decreasing order of their resolution with a square base.
There are 2 types of pyramids,I want to implement both of these
1.Laplacian pyramid
2.Gaussian pyramid

[2021-06-11 05:34] akshitagupta15june commented on #893
this repository focuses on operations on faces so it will be ok if you take faces image as input and provide your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations this folder contains all the operations that can be performed on faces so you can create a folder name "face-pyramiding" and add our implementation it.
Please provide a proper readme fi

[2021-06-11 06:31] 1anshu-56 commented on #89
I want to work on this issue as i have experience in OpenCV can you please assign it to me.

[2021-06-11 06:32] 1anshu-56 commented on #11
I want to work on this issue please assign it to me.

[2021-06-11 06:35] 1anshu-56 commented on #68
Hey, I am gssoc participant can you please assign this issue to me as I want to work on this issue.

[2021-06-11 06:37] 1anshu-56 commented on #335
I want to work on this issue can you please assign it to me as I have previous experience with OpenCV.

[2021-06-11 06:44] akshitagupta15june commented on #68
ok assigning

[2021-06-11 06:44] akshitagupta15june commented on #68
add your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Virtual_makeover

[2021-06-11 07:49] Komal-99 commented on #893
if @sherin527  is working on  its implementation can i go forward for creating readme for image pyramiding? @akshitagupta15june  as a LGMSOC participant

[2021-06-11 07:54] 1anshu-56 commented on #68
thanks @akshitagupta15june  for assigning

[2021-06-11 08:00] Komal-99 commented on #67
can you elaborate this issue a little?

[2021-06-11 12:40] akshitagupta15june commented on #893
i think @Komal-99 you can create a readme after @sherin527 has worked on it .
You can create a new issue after that stating readme

[2021-06-11 12:42] akshitagupta15june opened #894 "Add newly implemented algorithms comparison in the table present in readme"
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms

[2021-06-11 13:18] Komal-99 commented on #893
Okay 👍 @sherin527  is that fine with you

[2021-06-11 13:49] sherin527 commented on #893
@Komal-99 yes!

[2021-06-12 06:34] piyush4for opened #895 "Feature request"
The problem is that all project in this repo use python library that make it slow to recognize face sometime and it require to install library to run it first.

A clear solution is that using chrome API for face detection, we can do face detection easily without requiring any prerequisite to run or use this.

[2021-06-12 06:34] piyush4for commented on #895
allow me to add my PR to this issue

[2021-06-12 06:58] akshitagupta15june commented on #895
assigning you.
Add your implementation inside face-detection folder

[2021-06-12 07:33] abhishek2chikun commented on #335
I want to work on this issue under LGMSOC21. Please assign me.

[2021-06-12 08:08] akshitagupta15june commented on #335
as @1anshu-56 is already assigned an issue so I am assigning it to @abhishek2chikun

[2021-06-12 10:54] piyush4for commented on #895
mam can u plz check the pull request that i made
https://github.com/akshitagupta15june/Face-X/pull/896#issue-668839526

[2021-06-12 10:54] piyush4for commented on #895
plz assist me for any changes in it

[2021-06-12 13:44] KunalSharmaCoder opened #897 "Face Recognition Using JavaScript Under LGM-SOC'21"
I want to make a script of Face recognition which every one can use and test in there browser without any additional install.
@akshitagupta15june , Can you assign me this issue under LGM-SOC'21

[2021-06-12 15:40] Komal-99 opened #899 "Image pyramiding Readme.md"
**I want to add image pyramiding readme,md including both guasian and laplace  transformation.**
A clear and concise description of what the problem is.

**Describe the documentation you want to improved**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-12 15:47] #893 closed

[2021-06-12 15:48] akshitagupta15june commented on #899
assigning you to add your implementation here https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations/face-pyramiding

[2021-06-12 15:49] akshitagupta15june commented on #897
ok add your implementation inside face recognition folder

[2021-06-12 16:32] rudranshsharma123 commented on #796
I have fixed this issue please review this PR and let me know if I would be needing to anything else!

[2021-06-12 16:36] rudranshsharma123 commented on #66
Hello, I would love to add a few Snapchat filters. Should I wait for the assignment or should I begin working on them?

[2021-06-12 16:38] rudranshsharma123 commented on #352
Hello, I would love to work on this issue however I am a little confused. What exactly does this issue aim to deal with? Is it just a simple two-image mixer or something specific?

[2021-06-12 16:47] Komal-99 commented on #66
Start working it is open issue but keep in mind that you may not create already existing filter

[2021-06-12 16:51] piyush4for commented on #895
i added again plz check https://github.com/akshitagupta15june/Face-X/pull/901#issue-668909903

[2021-06-12 16:55] piyush4for commented on #897
I think I had done the same previously https://github.com/akshitagupta15june/Face-X/pull/901#issue-668909903.
So plz check, if not same sorry for bothering

[2021-06-12 17:24] #899 closed

[2021-06-12 18:48] #796 closed

[2021-06-13 05:59] #897 closed

[2021-06-13 16:04] sherin527 opened #903 "Christmas hat filter"
@akshitagupta15june ma'am, I want to Implement a Christmas hat filter, pls assign this issue to me. I am an LGM-SOC'21 participant

[2021-06-13 16:44] Umesh-01 opened #904 "Add links to the badges"
**Is your documentation request related to a problem? Please describe.**
The badges (see the below image) in the README.md file doesn't contain any link to the related web pages and without them they are of no use.

![image](https://user-images.githubusercontent.com/83420185/121815496-6b28e380-cc94-11eb-809a-10a15b06321a.png)

**Describe the documentation you want to be improved**
I want to  add l

[2021-06-13 16:44] Umesh-01 commented on #904
@akshitagupta15june mam should I work on this??

[2021-06-13 17:02] akshitagupta15june commented on #904
hi this is not required because we don't have a webpage to show.

[2021-06-13 17:02] akshitagupta15june commented on #903
hi this is already implemented inside festive filters

[2021-06-13 17:02] #903 closed

[2021-06-13 17:36] Umesh-01 commented on #904
@akshitagupta15june mam I think you didn't get what I was saying in this issue...
**For example, if I click on issue badge then it shouldn't take us to this--**

![image](https://user-images.githubusercontent.com/83420185/121816851-a1b62c80-cc9b-11eb-9afd-8985bbd593ae.png)

**Instead we can redirect to the issue web page (see the below image) on github not any external website...
You don't need an

[2021-06-13 17:40] akshitagupta15june commented on #904
oh ok yeah screenshots explain better assigning you

[2021-06-13 18:09] sherin527 opened #905 "Retro Image Filter"
@akshitagupta15june ma'am, I want to implement Retro Image Filter using opencv. pls, assign this issue to me. I am LGM-SOC'21 paticipant.

[2021-06-13 18:10] sherin527 commented on #903
ok ma'am

[2021-06-13 19:24] jayant766 commented on #904
Assign me plz.
LGM_SOC

[2021-06-14 05:59] Umesh-01 commented on #904
hello @akshitagupta15june mam, I have done the changes check it out and if u want me to add more badges like closed pr, closed issues, etc. then I will also do that...

Thanks 🙂

[2021-06-14 07:04] #904 closed

[2021-06-15 12:50] ras-29 opened #907 "Feature request - Iron man filter"
**Is your feature request related to a problem? Please describe.**
To include iron man filter under Snapchat filters

[2021-06-15 13:14] akshitagupta15june commented on #905
can you tell me more about it

[2021-06-15 17:56] Komal-99 commented on #231
![image](https://user-images.githubusercontent.com/74819092/122100491-e1624d00-ce30-11eb-88bb-88e2a088b09c.png)
 As you can see in image i guess their is some mistake in image pyramiding implementation why in lalace pyramiding guassian  is given similarly in guassian pyramiding.py file same code is written

[2021-06-16 05:36] sherin527 commented on #905
![girl](https://user-images.githubusercontent.com/54814231/122163149-531eb300-ce92-11eb-8bf7-72b09e934f68.jpg)
<img width="300"  height="300" alt="image" src="https://user-images.githubusercontent.com/54814231/122163169-59149400-ce92-11eb-91de-55525f9a22fe.PNG">

@akshitagupta15june ma'am I want to add the above filter to an image where the color space will be darker and give a retro feel.

[2021-06-16 06:07] Ayan-thecodeking opened #909 "Add Let'sGrowMore logo under 'Open Source Program' section"
Since this project is part of LGMSOC . I think it's good idea to showcase it in README.md file under Open Source Program section .
I will like to work on this issue under LGMSOC if maintainers agree

[2021-06-16 06:47] akshitagupta15june commented on #905
hi this filter is already implemented

[2021-06-16 06:47] #905 closed

[2021-06-16 18:31] ishitakapoor26 opened #910 "Add code of conduct in readme.md"
Add code of conduct in readme.md

[2021-06-16 18:31] ishitakapoor26 commented on #910
@akshitagupta15june pls assign this issue to me.

[2021-06-16 18:33] ishitakapoor26 opened #911 "Add licence section in readme.md"
Add licence section in readme.md

[2021-06-16 18:33] ishitakapoor26 commented on #911
@akshitagupta15june pls assign this issue to me.

[2021-06-16 18:34] psyduck1203 commented on #894
Hey, can I work on this issue?

[2021-06-16 18:48] ishitakapoor26 opened #912 "Documentation Improvement"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 18:48] ishitakapoor26 commented on #912
@akshitagupta15june pls assign this issue to me.

[2021-06-17 05:25] akshitagupta15june commented on #910
Hi its not required!

[2021-06-17 05:25] #910 closed

[2021-06-17 05:26] akshitagupta15june commented on #911
Hi its not required!

[2021-06-17 05:26] #911 closed

[2021-06-17 05:26] akshitagupta15june commented on #912
Hi its not required!

[2021-06-17 05:26] #912 closed

[2021-06-17 19:27] supzi-del opened #914 "Add LGM-SOC Levels-Scores table in readme"
**Is your documentation request related to a problem? Please describe.**
I would like to add a table indicating the scores given for corresponding levels in LGMSOC in readme.

**Describe the documentation you want to improved**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-18 05:40] akshitagupta15june commented on #914
it is not required

[2021-06-18 05:40] #914 closed

[2021-06-19 09:05] satwiksunnam19 opened #915 "Feature request"
**Problem Statement:** In this busy running world everyone is so busy from the start of the day until we hit the bed. If we take up a case like every day we will go for supermart for bringing up things we will make so fast for checking out things and when we come to our body or face products mainly facewash which we will pick up randomly and use them which leads unknowingly dermal problems so I wa

[2021-06-19 09:30] akshitagupta15june commented on #915
Ok so you can work on it , try thinking a good name to this implementation so that i can create a new folder and you can add your implementation inside that

[2021-06-19 09:50] satwiksunnam19 commented on #915
Face Products Recommender system is the name of the project
And I want a discussion form so that it's helpful for others to contribute
and discuss about project

On Sat, Jun 19, 2021, 3:00 PM AKSHITA GUPTA ***@***.***>
wrote:

[2021-06-19 10:26] satwiksunnam19 commented on #915
We can name this project as Face Product Recommender system and I want you to create a discussion form so that others can have active contributions

[2021-06-19 10:28] akshitagupta15june commented on #915
yeah sure will do the same here is the link of project folder where you can add your implementation by creating a new folder https://github.com/akshitagupta15june/Face-X/tree/master/Face-Product-Recommendation-System

[2021-06-19 10:28] #915 closed

[2021-06-19 10:29] akshitagupta15june opened #917 "Face-Product-Recommendation-System"
Join for discussion: https://github.com/akshitagupta15june/Face-X/discussions/916

[2021-06-20 09:42] #917 closed

[2021-06-23 07:32] kskrao219 opened #921 "Generate dataset from camera"
I want to add a feature in the "face detection with OpenCV" folder.
the code will allow the user to create a dataset of faces with the webcam or external USB camera.
captured images will be Grayscaled and cropped with only face in the frame.

[2021-06-23 08:11] #921 closed

[2021-07-01 15:12] Abhilash249 commented on #66
Hi, I would like to contribute in this issue

[2021-07-03 04:06] akshitagupta15june opened #922 "Readme Improvement in awesome face operations folder"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-07-03 04:09] akshitagupta15june opened #923 "Convert a facial image to a comic image"
https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify%20Image

![image](https://user-images.githubusercontent.com/57909583/124342591-8a0afd80-dbe2-11eb-835b-fc69e93bdde5.png)

[2021-07-03 17:49] devanshi-code commented on #922
@akshitagupta15june  what changes need to be done in readme , can you explain!

[2021-07-03 17:50] devanshi-code commented on #922
adding images , information or library or any unique idea

[2021-07-04 04:24] akshitagupta15june commented on #922
i want this readme to be short and crisp like lots of data is being available for all operations.

[2021-07-04 04:24] akshitagupta15june commented on #922
assigned u

[2021-07-04 04:25] akshitagupta15june commented on #894
yes you can

[2021-07-11 16:39] Prakash-Haldar opened #926 "Add a contributors section"
Add a contributors section in Readme , it will enhance the looks of GitHub  Project
@akshitagupta15june
it will Shows The profile pic of your Valuable Contributors

assign this as LGM SOC

[2021-07-12 05:28] akshitagupta15june commented on #926
ok

[2021-07-12 08:48] Prakash-Haldar commented on #909
Hey @akshitagupta15june  If no one is working on this , can you Assign this to me
p.s. LGM SOC

[2021-07-12 10:06] Prakash-Haldar commented on #926
@akshitagupta15june I have created The pull request . please see it.

[2021-07-12 12:51] #926 closed

[2021-07-13 04:09] akshitagupta15june opened #928 "Identify if photo has an any obstructions in face area (e.g.: mask, sunglasses, hand covering face)"
Identify if the photo has any obstructions in the face area (e.g.: mask, sunglasses, hand covering face)

classify them separately

[2021-07-13 04:11] akshitagupta15june opened #929 "Differentiate cartoon images from real human faces."
Differentiate cartoon images from real human faces.

add in cartoony folder

[2021-07-15 07:46] dilroseR commented on #923
i would like to work on this issue
kindly assign it to me

[2021-07-15 07:57] akshitagupta15june commented on #923
ok

[2021-07-16 22:15] soma2000-lang commented on #923
Can I workon this issue I will be doing it using open -cv
kindly assign

[2021-07-17 12:00] #923 closed

[2021-07-17 12:29] soma2000-lang commented on #929
@akshitagupta15june
I would like to work on this issue kindly assign me this

[2021-07-17 12:30] akshitagupta15june commented on #929
Ok

[2021-07-17 12:31] #895 closed

[2021-07-17 12:32] akshitagupta15june commented on #66
Anyone can contribute in this issue

[2021-07-19 05:12] akshitagupta15june opened #931 "Add Games that can be made or played using facial gesture, features and other facial characteristics."

[2021-07-19 05:15] akshitagupta15june opened #932 "Add some cool snapchat filters which are not already present in repo"
https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters

[2021-07-19 05:16] akshitagupta15june opened #933 "Report any bug in code, documentation in face-x repo"

[2021-07-19 05:18] akshitagupta15june opened #934 "Improve the facial biometric readme with proper outputs and content"

[2021-07-19 05:33] akshitagupta15june opened #935 "3D face reconstruction"
https://github.com/akshitagupta15june/Face-X/tree/master/Face%20Reconstruction

[2021-07-19 05:37] akshitagupta15june opened #936 "Add a virtual makeover"
![image](https://user-images.githubusercontent.com/57909583/126108187-e3cf14bf-58da-458f-b1a1-dd00691fc8f7.png)

[2021-08-05 07:50] akshitagupta15june opened #937 "improve the readme"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition/Smile%20Percentage%20Detection

[2021-08-06 06:15] akshitagupta15june opened #938 "Perform virtual makeover using opencv"
https://github.com/akshitagupta15june/Face-X/tree/master/Virtual_makeover

![image](https://user-images.githubusercontent.com/57909583/156117790-9c2f1dc9-bf2b-4098-8a50-580c87c1bce9.png)

[2021-08-17 09:27] kaiwalyakoparkar opened #939 "Suggestion for improving project"
Hey, Thanks for sharing. The project is great and I don't have much to suggest about but you can try adding a funding.yml file so that people can sponsor your project and your hard work. Hope this helps :)

[2021-08-17 09:30] akshitagupta15june commented on #939
Thankyou so much for the improvement issue!
I will surely see to it.

[2021-08-23 06:29] #939 closed

[2021-08-23 16:57] aryasoni98 commented on #937
could i work on this?

[2021-08-23 16:58] aryasoni98 commented on #922
could i work on this?

[2021-08-23 23:21] aryasoni98 opened #941 "3D Face Movements"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**

Controlling 3D character's Face Movements using OpenCV and Python 🐍

It's a python script to control a 3d character's face movements by capturing the user's face landmarks.

First time I am trying to build a 3D Pipeline-- Modeling, animat

[2021-08-24 16:46] aryasoni98 commented on #941
Can I start working on it !!!

[2021-08-24 17:03] akshitagupta15june commented on #941
Yes

[2021-08-25 06:09] #941 closed

[2021-08-25 07:06] unnati914 commented on #931
I can work on this

[2021-08-25 07:10] akshitagupta15june commented on #931
ok

[2021-08-25 07:11] akshitagupta15june commented on #931
assigning you

[2021-08-25 15:31] unnati914 commented on #931
hey @akshitagupta15june where to add the game?

[2021-08-25 16:24] akshitagupta15june commented on #931
you can add it here https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Gaming

[2021-08-25 16:45] unnati914 commented on #931
@akshitagupta15june i was not able to find the folder which you listed rn so I made a folder myself and committed the changes

[2021-08-25 16:46] unnati914 commented on #931
Please approve this or suggest any changes as I have to submit it for a task

[2021-09-01 20:29] anushkrishnav opened #948 "Thanks for sharing my article"
Hey, dropped by to say your project is really cool and very interesting !!
Thank you for sharing my Article
 [Winter or Summer, Take your baby steps into OpenSource Now !!](https://anush-venkatakrishna.medium.com/part-1-winter-or-summer-take-your-baby-steps-into-opensource-now-7d661235d7ff) with your community.

Good luck

[2021-09-02 05:24] akshitagupta15june commented on #948
It's my pleasure @anushkrishnav, a Wonderful article for beginners.

[2021-09-04 05:12] akshitagupta15june opened #949 "Implementation of an IncetionpResnet-v2 model for Face Recognition."

[2021-09-04 05:13] akshitagupta15june opened #950 "Identify if photo has an any obstructions in face area (e.g.: mask, sunglasses, hand covering face)"
Identify if photo has an any obstructions in face area (e.g.: mask, sunglasses, hand covering face)

[2021-09-07 04:26] akshitagupta15june opened #951 "Report any bug in the algorithms, documentation. Improvements required"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-09-07 04:26] akshitagupta15june opened #952 "Finding convenient way to reduce time consumptions on EfficientNets."
Finding a convenient ways to reduce time consumption on EfficientNets.

When running the eff-nets it takes 40 mins + to run just a single epoch.
Find any better approach to reduce time
https://github.com/akshitagupta15june/Face-X/tree/master/Recognition-Algorithms/Recognition%20using%20EfficientNetB2

[2021-09-24 04:21] akshitagupta15june opened #956 "Documentation Improvement in face-x readme"

[2021-09-25 03:28] akshitagupta15june opened #957 "Add a "what is the day" snapchat filter."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-09-25 03:29] akshitagupta15june opened #958 "Add age calculator in realtime filter."

[2021-09-30 17:45] #948 closed

[2021-10-02 09:19] noobkid2411 commented on #958
Hi I would like to contribute to this issue for hacktober 2021,please assign the same to me!

[2021-10-05 10:09] mehabhalodiya commented on #956
Hey @akshitagupta15june
Will you please let me know in detail?
I mean, in what way you want modification of the README file?
I would like to contribute.

[2021-10-05 12:28] akshitagupta15june commented on #956
Hi!
You can update the  readme with proper content and remove if any grammatical errors.
Add open source org pictures in which this project participated you can take help from labels.
Improve the contributors section if you have some new ideas you can implement. Just let me know

[2021-12-01 15:36] mihir1739 commented on #934
Can you please assign this to me?

[2021-12-01 15:40] akshitagupta15june commented on #934
ok

[2021-12-01 15:41] akshitagupta15june commented on #934
https://github.com/akshitagupta15june/Face-X/tree/master/Facial_Biometric

[2021-12-01 15:52] IdealisticINTJ commented on #949
Could you please assign this task to me?

[2021-12-02 13:03] khankhushi commented on #956
Hi Akshita, I want to solve this.

[2021-12-02 13:17] akshitagupta15june commented on #956
Please mention the open source program in which you are participating

[2021-12-02 13:18] SURABHI-GUPTA commented on #89
I would like to contribute to this thread.

[2021-12-02 13:21] akshitagupta15june commented on #89
Ok i am assigning you

[2021-12-02 17:21] akshitagupta15june commented on #949
Assigned

[2021-12-03 03:45] khankhushi commented on #956
Hello @akshitagupta15june I am participating in Script Winter of Code.

[2021-12-03 18:40] priyanka31-12 commented on #950
Hi, can you brief me about what all do I need to know to contribute in this issue?

[2021-12-04 03:02] C-Omkar commented on #956
Hi akshita I would like to contribute to this issue, a participant from Codepeak

[2021-12-04 04:40] akshitagupta15june commented on #956
as @khankhushi as commented first so i will assign this issue to her! you can look for other issues

[2021-12-04 04:43] akshitagupta15june commented on #950
yes means you to identify in a face image like what objects they are wearing like sunglasses so u should label them near the object

[2021-12-04 05:26] iaryangoyal commented on #958
Can i work on this?

[2021-12-04 05:42] akshitagupta15june commented on #958
Yes you can

[2021-12-04 10:02] PiyushDhirwani commented on #932
Hi ma'am,
may I go ahead to make some cool Snapchat filters
Thank you

[2021-12-04 10:40] akshitagupta15june commented on #932
Yes you can

[2021-12-04 12:57] C-Omkar commented on #89
I would like to contribute to this thread.

[2021-12-04 13:02] akshitagupta15june commented on #89
You can work on it look at above comments for more info

[2021-12-06 12:16] akshitagupta15june opened #983 "Add detection algorithms not present in repo"
face detection algos which are not been implemented yet

[2021-12-06 12:17] akshitagupta15june opened #984 "Website planning discussion issue"

[2021-12-06 12:18] akshitagupta15june opened #985 "Documentation Improvement in liveness detection"

[2021-12-06 13:48] Abhay-sandhu commented on #66
Hi, I would like to contribute in this issue. Please assign me .

[2021-12-06 13:50] akshitagupta15june commented on #66
You can work on it

[2021-12-06 16:25] hemanthraj2001 commented on #66
Hello, I'd like to contribute to this project. Please put me in charge.

[2021-12-06 16:25] sreemanjusha commented on #66
Hello Ma'am, I would like to work on this project . Please assign me Ma'am.

[2021-12-06 16:26] varshini901 commented on #66
hey there, I would like to contribute to this project. please assign me.

[2021-12-06 16:36] Komal-99 commented on #66
@hemanthraj2001 @sreemanjusha @varshini901  This is an open Issue You all can work on it But please make sure you make something different filter that has not been implemented yet.
Also, Tell the program you are part of under which you are contributing

[2021-12-06 17:23] KhushiChaudhary744 commented on #936
Hey, I am a participant of swoc21. May I take on this issue?

[2021-12-06 17:37] akshitagupta15june commented on #936
yes you can take this issue

[2021-12-07 06:27] pushkar2112 commented on #985
what improvements are to be made in the documentation?
pls specify

[2021-12-07 06:36] akshitagupta15june commented on #985
adding more specific information about liveness analysis like adding a flowchart how it works and some more description

[2021-12-07 06:39] pushkar2112 commented on #985
will the info be provided or we need to do gather it ourselves?

[2021-12-07 06:45] akshitagupta15june commented on #985
you can run the code which is present in this repo for knowing how it is working, and also you can gather resources yourself.

[2021-12-07 07:07] KhushiChaudhary744 commented on #936
Thanks!

[2021-12-07 07:25] pushkar2112 commented on #985
Please assign this issue to me. I will try my best.

[2021-12-07 07:30] akshitagupta15june commented on #985
Sure!

[2021-12-07 08:16] PiyushDhirwani commented on #932
Thanks, participant from codepeak

[2021-12-07 10:13] Abhay-sandhu commented on #932
Please assign this issue to me for the codepeak event

[2021-12-07 10:18] akshitagupta15june commented on #932
There is no need of assigning in this particular issue because multiple participant can work on it

[2021-12-07 10:20] Abhay-sandhu commented on #932
ok thanks.

[2021-12-07 17:49] akshitagupta15june opened #986 "Algorithms for 3d facial reconstruction"

[2021-12-11 16:30] hemanthraj2001 commented on #957
Hello @akshitagupta15june ,
what does the "what is the day" filter means?
I'm thinking of adding the day and time on the picture while using the filter? Am I correct?

[2021-12-11 16:35] akshitagupta15june commented on #957
you are thinking correct! that is what this issue means.

[2021-12-11 17:12] hemanthraj2001 commented on #957
could please assign me? I'll try my best to solve this issue!!

[2021-12-11 17:24] akshitagupta15june commented on #957
Ok

[2021-12-13 09:32] #11 closed

[2021-12-13 18:21] #957 closed

[2021-12-13 18:26] akshitagupta15june opened #993 "Add some cool animations (must be related to faces)"
Think of anything
Open for discussion
](https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Animation)

[2021-12-14 05:19] akshitagupta15june opened #994 "Generate 3D Face with the Smart Facial Animation"

[2021-12-14 05:19] akshitagupta15june opened #995 "Face Morph Using OpenCV"

[2021-12-14 07:30] hemanthraj2001 commented on #950
Hello, @akshitagupta15june
I would like to work on this issue! Please assign it to me!

[2021-12-14 07:51] akshitagupta15june commented on #950
ok

[2021-12-14 11:03] suyogkokaje commented on #995
Hello @akshitagupta15june I would like to work on this issue. Could you please assign this issue to me?

[2021-12-14 11:26] akshitagupta15june commented on #995
yes

[2021-12-14 14:02] yagyesh-bobde commented on #929
should I create a new folder in the main repo ?

[2021-12-14 14:05] akshitagupta15june commented on #929
add your folder inside this https://github.com/akshitagupta15june/Face-X/tree/master/Cartoonify-Image

[2021-12-14 14:07] yagyesh-bobde commented on #929
kk... thank you

[2021-12-16 10:22] SURABHI-GUPTA commented on #986
@akshitagupta15june I would like to take this issue.
Let me know how to proceed.

[2021-12-16 10:51] SURABHI-GUPTA commented on #950
@akshitagupta15june I would like to work on this.

[2021-12-16 13:50] akshitagupta15june commented on #986
ok

[2021-12-16 13:51] akshitagupta15june commented on #986
Firstly i will suggest you to go through the folder of 3d facial reconstruction present in this repo and some research papers are also available and then you can think of implementation

[2021-12-16 14:00] akshitagupta15june opened #997 "Implement face alignment"
https://github.com/akshitagupta15june/Face-X/tree/master/Awesome-face-operations

[2021-12-16 16:09] yagyesh-bobde commented on #929
can u help me a bit ? like how to approach this

[2021-12-16 16:15] akshitagupta15june commented on #929
i will give some resources to get started here are some research papers that you can read https://www.researchgate.net/publication/280978603_Distinguishing_Cartoons_Images_from_Real-Life_Images

[2021-12-16 16:16] akshitagupta15june commented on #929
like if we give some images of people as input along with a cartoon image then we have to differentiate

[2021-12-16 16:26] yagyesh-bobde commented on #929
kk i'll go through it ..... thank you

[2021-12-16 17:02] abhishek7997 commented on #66
Hi! I would like to address this issue as well.
Also, I am a participant of Script Winter of Code (SWOC 2021).

[2021-12-16 17:37] akshitagupta15june commented on #66
yes u can

[2021-12-16 18:58] akshitagupta15june commented on #950
assigning you @SURABHI-GUPTA

[2021-12-17 02:08] hemanthraj2001 commented on #936
Hello @akshitagupta15june, I want to work on this issue. could you please assign me?

[2021-12-17 04:46] akshitagupta15june commented on #936
Ok you can work on it

[2021-12-18 13:50] #995 closed

[2021-12-21 05:59] HassanRahim26 commented on #997
Hey @akshitagupta15june, I would like to work on this issue. Can you please tell me ways to get started?

[2022-01-07 09:28] divya-chhoriya commented on #932
Hello @akshitagupta15june
I would like to contribute (SWOC participant)
I will use minion glasses filter. Kindly assign me this issue.

[2022-01-07 10:15] akshitagupta15june commented on #932
U can work on it

[2022-01-18 05:50] SURABHI-GUPTA commented on #950
So, do we need to create annotations like bounding boxes for obstructions present in the image? If yes, on what dataset are we supposed to do that?

[2022-02-06 17:20] yagyesh-bobde commented on #985
can i do this

[2022-02-06 17:22] yagyesh-bobde commented on #985
i'm swoc participant
Participant ID : 1131

[2022-02-06 17:33] yagyesh-bobde commented on #958
May I take this ?
I'm swoc participant
Participant id : 1131

[2022-02-06 19:00] akshitagupta15june commented on #958
Yes

[2022-02-08 14:43] yagyesh-bobde commented on #936
can you share some resources for this

[2022-02-19 05:07] #958 closed

[2022-02-21 04:21] #985 closed

[2022-02-28 06:18] WhiteWolf47 commented on #66
@akshitagupta15june  Is there an existing file for this or do we have to make it from scratch?

[2022-02-28 06:20] WhiteWolf47 commented on #66
@akshitagupta15june i am participating in GSSOC'22, can i work on this ?

[2022-02-28 06:54] bhaktikarangale0201 commented on #986
Hello, @akshitagupta15june I'm excited to work on this issue. Can u please assign me for this issue!
So as u suggested above I'll go through it.

[2022-02-28 06:56] bhaktikarangale0201 commented on #986
I'm a GSSOC'21 participant.

[2022-02-28 06:58] bhaktikarangale0201 commented on #986
Hello, @akshitagupta15june I'm a GSSOC'22 participant. I'm excited to work on this issue. Can u please assign me for this issue!
So as u suggested above I'll go through it.

[2022-02-28 18:53] DURGESH716 opened #1071 "Feature request"
**Problem Description?**
The model is overfitting and requires good dataset, this amount of data is not efficient for your model to give accurate predictions. Apart from that Quality data matters a lot and gives 90% + predictions with accuracy.

**Alternative can be*
Adding good data taken from various platforms apart from Kaggle like open datasets and experiments will definitely helps the model

[2022-02-28 19:14] Sharanya-Prabhu commented on #66
This issue sounds so much fun! Can I please work on this? I'm a GSSOC'22 participant.

[2022-02-28 21:40] UdAyAn123 commented on #956
I am looking forward to this issue

[2022-03-01 06:28] akshitagupta15june commented on #1071
Which model you are looking for improvement?

[2022-03-01 06:31] akshitagupta15june commented on #986
ok i am assigning you

[2022-03-01 06:34] akshitagupta15june commented on #956
Assigning you @UdAyAn123

[2022-03-01 06:44] akshitagupta15june commented on #66
@WhiteWolf47 @Sharanya-Prabhu you all can work on this issue and this issue can be worked on by many participants but make sure to implement different filters which are not present in the repo. So please check the Snapchat filter folder once before implementing.

[2022-03-01 06:58] DURGESH716 commented on #1071
Face-Mask-Detection Model, as it will definitely increase its accuracy by 10%

[2022-03-01 07:02] harshitbansall commented on #66
Hey can I contribute to this issue under GSSoC’2022 @akshitagupta15june .

[2022-03-01 07:06] akshitagupta15june commented on #1071
ok cool you can work on it

[2022-03-01 07:07] akshitagupta15june commented on #66
yes you can @harshitbansall

[2022-03-01 07:07] akshitagupta15june commented on #66
Anyone can work on this issue, no assigning of participants required!

[2022-03-01 07:11] akshitagupta15june opened #1073 "Error in creating virtual environment"
**Describe the bug**

While setting the project virtual environment there is [Error while installing opencv-contrib-python]

**Error**

"no matching distribution found for opencv-contrib-python=4.4.0.44"

**Screenshots**
![image](https://user-images.githubusercontent.com/57909583/156121698-942dabb4-1203-423e-8d4f-ac56047db996.png)

[2022-03-01 07:14] akshitagupta15june commented on #1073
Error found by @[WhiteWolf47](https://github.com/WhiteWolf47)

[2022-03-01 07:20] DURGESH716 commented on #1071
**Fine Will Let You Know**

[2022-03-01 07:23] #956 closed

[2022-03-01 07:38] DURGESH716 opened #1076 "Documentation Improvement"
**Additional context**
I would like to add theses research papers to your documentations for reference purposes, as theses research papers contains explanation of each code, along with practical implementation. Also Results with perfect accuracy of 90% +.

The below is the link for research papers:
[Research Papers on Face Mask Detction](https://github.com/DURGESH716/Face-Mask-Detection-CNN/blob/m

[2022-03-01 08:06] akshitagupta15june commented on #1076
You can work on this issue
Try to add as many research papers as you can

[2022-03-01 08:08] DURGESH716 commented on #1076
ok

[2022-03-01 08:30] harshitbansall opened #1079 "Dlib not installing using pip"
# Describe the bug
Many Filters in the Snapchat folder are Using <code>dlib</code> module. When I Tried to Install the dlib module using pip, It returned an Error. <br>
![Error](https://user-images.githubusercontent.com/24206423/156135889-92bf72f2-6fef-4431-819c-2b7be36e2246.png)

## I searched it on [Stackoverflow](https://stackoverflow.com/questions/41912372/dlib-installation-on-windows-10).
It

[2022-03-01 08:56] karnikkanojia commented on #997
Hey, I would like to work on this issue. Can I do it?

[2022-03-01 09:00] akshitagupta15june commented on #997
Yes you can

[2022-03-01 09:02] akshitagupta15june commented on #1079
Cool some contributors will look at your issue

[2022-03-01 10:28] suvadityamuk commented on #1079
Hi, would like to give this a shot. Could you assign it to me?

Also, @harshitbansall I just replicated your process to install `dlib` and it worked for me.

I think its mainly because of the building stage, that it invoked an error. It was a pretty resource-intensive operation which nearly slowed down my computer, but it finally worked. I think its mainly because of some issue of running out of R

[2022-03-01 10:33] akshitagupta15june commented on #1079
Assigning to you @suvadityamuk

[2022-03-01 10:51] shreya024 commented on #894
I am a Contributor of GSSOC'22 .I would like to work on this issue.

[2022-03-01 11:08] #1073 closed

[2022-03-01 11:11] akshitagupta15june commented on #894
u can work on this

[2022-03-01 11:13] akshitagupta15june commented on #949
yeah! would u like to work on this issue?

[2022-03-01 11:13] suvadityamuk commented on #949
I would, sounds like a good task. Could you also check Discord for GSSOC 22 once?

[2022-03-01 11:17] akshitagupta15june commented on #1079
@harshitbansall I hope you will look at the solutions provided by @suvadityamuk

[2022-03-01 11:17] #1079 closed

[2022-03-01 11:26] suvadityamuk commented on #952
Hi, would like to work on it. Could you assign?

[2022-03-01 11:27] akshitagupta15june commented on #952
assigned

[2022-03-01 11:30] ktsrivastava29 commented on #983
I would like to work on this issue, can you please assign it to me?

[2022-03-01 11:37] akshitagupta15june commented on #949
assigned

[2022-03-01 11:37] akshitagupta15june commented on #983
assigned

[2022-03-01 11:39] PriyanshiSharma03 commented on #1076
I'd like to this issue up. Can I go ahead?
I am a GSSoC'22 contributor

[2022-03-01 11:42] akshitagupta15june commented on #1076
hey @PriyanshiSharma03, this issue is already taken you can look for other unassigned issues and also you can create new issues of features, improvement in documentation, as well as any bug if u find in algos.

[2022-03-01 11:44] RusJaI commented on #938
I would like to work on this issue for GSSOC-2022

[2022-03-01 11:49] akshitagupta15june commented on #938
you can work on this issue and there is no need to assigning as multiple people can contribute in this issue

[2022-03-01 11:50] RusJaI commented on #938
Thank you

[2022-03-01 11:55] PriyanshiSharma03 commented on #933
Hello! Can I take this up?

[2022-03-01 12:03] akshitagupta15june commented on #933
yes you can , this issue is open to all so need of assigning

[2022-03-01 12:09] WhiteWolf47 opened #1080 "Face-Mask-Detection using Tensorflow Object Detection Model - SSD MobileNet V2 FPN LITE"
Face Mask Detection using SSD MobileNet model of TFOD which is a very fast and fairly precise model.

[2022-03-01 12:11] yagyesh-bobde commented on #994
@akshitagupta15june how do I start with this??

[2022-03-01 12:12] akshitagupta15june commented on #1080
Assigning you

[2022-03-01 12:15] akshitagupta15june commented on #994
you can look for research papers like how to generate 3d faces from a 2d animation and look at pictures as well for reference

[2022-03-01 12:18] akshitagupta15june opened #1081 "Create any games that can be played using face expressions"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Gaming

[2022-03-01 15:22] adham-nasr opened #1082 "PCA improvement"
### optimization
I would like to change the linalg.eig() method to linalg.eigh()  method in  Recognition-Algorithms/Recognition using PCA/main.py file

**Details:**

"eigh guarantees you that the eigenvalues are sorted and uses a faster algorithm that takes advantage of the fact that the matrix is symmetric. If you know that your matrix is symmetric, use this function."
- source: https://stackover

[2022-03-01 15:33] akshitagupta15june commented on #1081
Ok assigning you

[2022-03-01 15:36] akshitagupta15june commented on #1082
Ok assigning you

[2022-03-01 16:41] salmeenessam commented on #950
I would like to be assigned to this issue

[2022-03-01 18:21] akshitagupta15june commented on #950
Assigning you

[2022-03-01 20:14] KIET7UKE commented on #1081
@akshitagupta15june I'm experienced in SparkAR, I think you should know about this. It's a platform in which we can create AR filters. So I would like to work on this.

[2022-03-02 02:50] yaswanth2802 commented on #935
I am a GSSOC'22 participant
I would like to contribute to this

[2022-03-02 04:07] #1082 closed

[2022-03-02 05:34] KIET7UKE commented on #1081
Ya, I also worked on developing AI games. Kindly assign me this, I'll love to work

[2022-03-02 13:07] akshitagupta15june commented on #994
You can work on this

[2022-03-02 18:38] KIET7UKE commented on #1081
Kidly assign me this.

[2022-03-02 23:05] karnikkanojia commented on #994
Hey, I also want to work on this issue too.

[2022-03-03 01:25] Basantloay commented on #929
Hello, I would like to work on this issue.

[2022-03-03 03:54] akshitagupta15june commented on #1081
ok assigning you @KIET7UKE

[2022-03-03 03:57] #952 closed

[2022-03-03 04:00] #997 closed

[2022-03-03 04:00] akshitagupta15june commented on #994
You can work on this @karnikkanojia

[2022-03-03 04:01] akshitagupta15june commented on #929
ok assigning you

[2022-03-03 04:07] Salaheldinyoussry commented on #929
Hi , I would like to work on this issue , I think a GAN discriminator model will perform well on this

[2022-03-03 04:16] akshitagupta15june commented on #929
Multiple participants can work on this issue so no need of assigning

[2022-03-03 13:39] dryash213 commented on #993
Hello there!
I would like to work on adding facial Animation using GAN's
Would like to connect
https://www.linkedin.com/in/yash-kushwaha-543786187/
Do assign me for this task!

[2022-03-03 13:45] sarah-nisar commented on #922
I would like to take up this issue.

[2022-03-03 16:21] akshitagupta15june commented on #922
ok assigning u

[2022-03-03 16:23] akshitagupta15june commented on #993
ok assigning u

[2022-03-03 16:28] #983 closed

[2022-03-04 02:30] yaswanth2802 commented on #935
hello, @akshitagupta15june  can you explain in brief what exactly I need to do in 3D face reconstruction

[2022-03-04 13:13] ADITYADAS1999 commented on #933
can i work on this issue?

[2022-03-04 18:11] KareemElozeiri commented on #929
I am a GSSOC22 participant, I would like to work on this!

[2022-03-05 09:42] akshitagupta15june opened #1092 "Add Face-gaming readme"
Add a proper readme explaining what all games exist in folder

[2022-03-05 09:47] akshitagupta15june commented on #929
you can work on it

[2022-03-05 10:28] KareemElozeiri commented on #929
Nice

[2022-03-06 10:46] 0ddoes commented on #1092
Hello, I am Izza. I would like to be assigned this issue as part of GSSoC. Please consider. Thanks!

[2022-03-06 13:15] akshitagupta15june commented on #1092
You can work on it

[2022-03-06 14:17] 0ddoes commented on #1092
Okay Thanks!

[2022-03-06 17:51] #922 closed

[2022-03-06 17:53] #1092 closed

[2022-03-06 17:54] #1080 closed

[2022-03-07 04:35] Sash002 commented on #68
Can I work on this?

[2022-03-07 05:07] akshitagupta15june commented on #68
Yes you can work on it

[2022-03-07 07:03] SoumyoNathTripathy commented on #994
Hello I want to work on this issue

[2022-03-07 07:16] akshitagupta15june commented on #994
You can work on it

[2022-03-07 07:18] SoumyoNathTripathy commented on #994
/assign

[2022-03-08 12:05] sarah-nisar commented on #994
I would like to work on this issue

[2022-03-09 06:31] DURGESH716 opened #1096 "Documentation Improvement"
**More required libraries are to be added in the requirements.txt file along with the existing libraries, for Face-X Implementation**

[2022-03-09 09:27] akshitagupta15june commented on #1096
U can add

[2022-03-09 11:50] bhaktikarangale0201 commented on #986
@akshitagupta15june For this can I work on  3D reconstruction from a single occluded face image.
![Face_with_mask](https://user-images.githubusercontent.com/86736389/157436312-a3cb810b-b1e0-45a4-874e-f4c2b5d2ea75.JPG)

[2022-03-10 07:16] DURGESH716 opened #1100 "Documentation Improvement"
your README.md file needs to be updated

[2022-03-10 18:18] akshitagupta15june commented on #1100
update this readme https://github.com/akshitagupta15june/Face-X/blob/master/Recognition-Algorithms/README.md

[2022-03-10 18:19] #1096 closed

[2022-03-10 18:20] akshitagupta15june commented on #994
anyone can work on it @SoumyoNathTripathy and @sarah-nisar no need of assigning

[2022-03-10 18:22] akshitagupta15june opened #1101 "Add any new feature related to face emotions which are not present in repo"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition

[2022-03-10 18:23] akshitagupta15june commented on #984
yes yes you can work on it
I am creating it as a discussion issue

[2022-03-10 18:24] akshitagupta15june opened #1103 "Face-X Website planning discussion issue"
https://github.com/akshitagupta15june/Face-X/discussions/1102

[2022-03-10 18:26] akshitagupta15june commented on #929
yes yes @shireenchand you can work on it! I am assigning you

[2022-03-11 10:24] KirtiGupta3101 opened #1105 "Face detection along with storing data like name of that person should be kept with use of concept of machine learning by user provided data at the time of first use ,so that whenever the same person use that app, website aur other stuff it detects face as well as name it was jst like instagram or Facebook tags features...this feature not only boost the level but also attracted people at most."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-03-11 16:21] akshitagupta15june commented on #1105
@KirtiGupta3101 you can add your implementation inside this folder https://github.com/akshitagupta15june/Face-X/tree/master/Facial%20Recognition%20Attendance%20Management%20System by creating a new folder with the name of your choice

[2022-03-12 06:09] #929 closed

[2022-03-13 15:36] shireenchand commented on #950
For this do we even consider specs as an obstruction?

[2022-03-14 14:20] Omarelsherif010 opened #1113 "Documentation Improvement Facial Biometric Tutorials"
**Describe the documentation you want to be improved**
I want to add a tutorials folder for OpenCV face recognition to guide me and everyone else during the implementation

This a [link ](https://docs.opencv.org/3.4/de/d27/tutorial_table_of_content_face.html)for one of them

[2022-03-14 20:14] Diishasing commented on #936
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot in this work.

[2022-03-14 20:15] Diishasing commented on #932
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot in this work.
@akshitagupta15june

[2022-03-14 20:37] hemhemoh commented on #1103
I am interested in being a part of the website planning, I am currently learning flask, so maybe that might be of help

[2022-03-14 20:40] hemhemoh commented on #89
Hi, I am interested in this issue. What face detection model do you think I should explore? VGGFace? Resnet?

[2022-03-14 21:17] hemhemoh commented on #936
Hi, I am also interested in this issue. Is there a way you can split it between @Diishasing and I?

[2022-03-15 13:04] akshitagupta15june commented on #936
No need of assigning

[2022-03-15 13:05] akshitagupta15june commented on #932
You can work on it

[2022-03-15 13:05] akshitagupta15june commented on #1113
Cool you can add them , assigning you

[2022-03-15 13:16] akshitagupta15june commented on #1103
ok cool, you can discuss your thoughts here too https://github.com/akshitagupta15june/Face-X/discussions/1102

[2022-03-16 15:23] RusJaI opened #1115 "Add python notebooks for jewellery placements on faces"
I would like to work on this for GSSOC22

[2022-03-16 20:13] ahmedtarek26 opened #1116 "Create website for face mask detection section using html and css"
There is no website for this project and I want to add a page for the mask detection section.

[2022-03-17 16:31] #1113 closed, assigned to Omarelsherif010

[2022-03-20 11:27] Vaishnavi879 opened #1118 "Add GUI app for face recognition in videos"
A GUI app accepts face image and video paths, which can be present in any location of the computer.
Image is added to saved images.
Using OpenCV, it goes through video in a window and forms a box around faces that match with saved images.
After completion of the video, a message box appears saying whether the latest added image is present in the video or not.

[2022-03-20 11:30] Vaishnavi879 commented on #1118
@akshitagupta15june I would like to work on this issue, please assign it to me.

[2022-03-21 14:20] Samhitha1912 commented on #1100
Hi! I'm Samhitha and GSSOC'22 contributor. I'd like to update the readme. Can you assign the issue to me?

[2022-03-21 15:36] DURGESH716 commented on #1100
But I think, I am doing that task

[2022-03-21 20:43] RusJaI commented on #1115
Created a PR for this under the issue #938

[2022-03-24 08:14] akshitagupta15june commented on #1118
ok u can work on it

[2022-03-24 08:14] akshitagupta15june commented on #1116
cool u can work on it

[2022-03-24 08:17] akshitagupta15june commented on #1116
create your folder inside this https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Web

[2022-03-24 08:17] akshitagupta15june commented on #1115
assigned

[2022-03-24 08:19] akshitagupta15june commented on #1100
@DURGESH716 i am assigning you as you are working on this issue initially

[2022-03-24 16:41] ahmedtarek26 commented on #1116
@akshitagupta15june  I created this issue in a session when I was explaining how contributors can create an issue if anyone is interested in web development and want to work on this issue assigns him

[2022-03-24 16:58] akshitagupta15june commented on #1116
Ok so u can guide the contributors
You can share this issue in discord too

[2022-03-25 03:36] yash37158 commented on #1101
I would to take up this issue. please assign it to me

[2022-03-25 04:12] dewanshiPaul commented on #1116
I want to work on it. Can I get assigned?

[2022-03-25 05:40] akshitagupta15june commented on #1101
U can work on it

[2022-03-25 05:40] akshitagupta15june commented on #1116
U can work on it

[2022-03-25 13:37] ahmedtarek26 opened #1120 "Temperature prediction using face recognition model"
Creating this model 'll be a good start at the facial biometric section in this project, so if any contributor want to work on this issue please read this [document](https://github.com/Vi1234sh12/Face-X/blob/master/Facial_Biometric/Readme.md)

[2022-03-27 00:59] shreya024 commented on #934
Hey @akshitagupta15june I would like to work on this issue.Kindly assign

[2022-03-27 08:21] akshitagupta15june commented on #934
ok assigning u

[2022-03-27 08:49] #1115 closed

[2022-03-27 17:18] abhishektyagi2912 commented on #1120
I want to work on this issue under gssoc'22

[2022-03-27 22:31] ahmedtarek26 opened #1122 "Create a backend for face mask detection page in Face-X website"
In this issue, you'll work with persons who work on issue #1116 after they create the front end for the page and start to create the backend.

prefer to work with a python platform Django or flask.

if you use another platform you can create the API using flask to interact with the face mask detection model.
**Note:**
create a folder for your work inside this https://github.com/akshitagupta15june/

[2022-03-28 04:13] learner2102 commented on #950
Anyone working on this issue?

[2022-03-29 06:52] #934 closed

[2022-03-29 07:29] abhijeetgupto commented on #1122
Hey, I'm a GSSoc contributor. Can you please assign this to me ?

[2022-03-29 07:36] akshitagupta15june commented on #1122
You can work on it

[2022-03-29 07:53] abhijeetgupto commented on #1122
Thanks !
Is the front-end already developed ?

[2022-03-30 07:18] akshitagupta15june commented on #1122
no that issue is also opened, some are working on it

[2022-04-01 06:17] shreya024 commented on #66
Hi @akshitagupta15june I would like to work on this issue

[2022-04-01 06:35] akshitagupta15june commented on #66
u can work on it

[2022-04-02 14:25] KomalSingh219 opened #1125 "Documentation Improvement"
Your document need to be improve!

[2022-04-02 15:00] ishabhthakur commented on #1120
hey @akshitagupta15june  i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!  _GOOD HANDS WITH THIS TYPES OF PROJECT RELATED TO OPENCV

[2022-04-02 15:04] ishabhthakur commented on #932
hey @akshitagupta15june  i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!
I have new solution regarding this issues

[2022-04-02 16:47] akshitagupta15june commented on #932
You can work on it

[2022-04-02 16:48] akshitagupta15june commented on #1120
You can work on it
If any help needed you can ask mentors in discord

[2022-04-02 16:48] akshitagupta15june commented on #1125
Which doc you want to improve?

[2022-04-03 03:03] akshitagupta15june commented on #1120
assigning you @ishabhthakur

[2022-04-03 07:39] shireenchand commented on #1118
@akshitagupta15june can I work on this issue?

[2022-04-03 08:05] komalswami opened #1126 "facial expression recognition"
**Describe the solution you'd like**
facial expression/emotion recognition using machine learning

[2022-04-03 18:39] shireenchand commented on #1118
I already have the whole code ready. Please assign me the issue so that I can make a PR

[2022-04-04 17:14] akshitagupta15june opened #1127 "add more tutorials related to facial biometric in the readme"
proper documentation required

[2022-04-04 17:19] akshitagupta15june commented on #1126
https://github.com/akshitagupta15june/Face-X/tree/master/Face-Emotions-Recognition have a look at these implementation if you want to add something new or you are using a different algo then let me know

[2022-04-06 09:52] Teju-g49 commented on #993
assign me issue

[2022-04-06 09:54] Teju-g49 commented on #66
please assign me issue i want to work on it

[2022-04-06 11:13] akshitagupta15june commented on #66
You can work on it

[2022-04-07 05:06] akshitagupta15june commented on #1118
ok so u can add

[2022-04-09 04:03] ADITYADAS1999 commented on #1127
can i work with this issue ?. I am GGSoC'22 contributor

[2022-04-09 04:47] akshitagupta15june opened #1132 "Implement Face Swapping"
In awesome face operation folder

[2022-04-09 04:52] akshitagupta15june commented on #1127
u can work on it

[2022-04-09 04:54] akshitagupta15june opened #1133 "add AR/VR animation on faces"
https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Animation

[2022-04-09 04:56] akshitagupta15june commented on #1126
@komalswami are u working on it?

[2022-04-09 04:56] akshitagupta15june commented on #1125
@KomalSingh219 ?????????

[2022-04-09 04:56] #1125 closed

[2022-04-09 05:44] komalswami commented on #1126
I would like to do posed and genuine facial expression recognition

[2022-04-09 07:52] akshitagupta15june commented on #1126
ok u can work on it

[2022-04-09 07:54] #1118 closed

[2022-04-09 07:57] akshitagupta15june opened #1135 "Report any bug in repository"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of how the code performed w.r.t expectations.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-04-09 13:11] ADITYADAS1999 commented on #1127
There are total eight points are mention to facial biometric in the readme , can you suggest how many points i can add with it?

[2022-04-09 16:28] akshitagupta15june commented on #1127
you can add tutorial links like some research papers or articles all separately mentioning the topics

[2022-04-09 17:32] ADITYADAS1999 commented on #1127
Okey

[2022-04-11 05:56] #1127 closed

[2022-04-11 13:56] ADITYADAS1999 commented on #1132
I worked before face swapping with images, can i work with this new issue?. Please assign me in this issue.

[2022-04-11 14:21] akshitagupta15june commented on #1132
u can work on it!

[2022-04-12 08:36] hemhemoh commented on #89
okay, @akshitagupta15june Just to let you know I have started working on the issues assigned to me. Sorry for the delay, was ill

[2022-04-12 17:55] Sumedha4 commented on #66
@akshitagupta15june  hey i would like to work on this

[2022-04-12 17:58] Sumedha4 commented on #932
@akshitagupta15june  hello can you assign me this issue under GSSOC'22. I will try to come up with something cool.

[2022-04-13 04:11] akshitagupta15june commented on #932
U can work on it

[2022-04-13 04:12] Sumedha4 commented on #932
On Wed, 13 Apr 2022 at 9:42 AM, AKSHITA GUPTA ***@***.***>
wrote:

Thankyou!!!

[2022-04-20 09:57] #1132 closed

[2022-04-28 04:31] Tanuj-rai commented on #1100
Can you please assign me this issue?

[2022-04-28 07:07] akshitagupta15june commented on #1100
yes you can work on it

[2022-04-30 16:29] #949 closed

[2022-05-04 08:22] ayushimanju opened #1147 "add games that can be played using human face( eyes, nose)"

[2022-05-18 17:51] navyasharma0203 commented on #1126
@akshitagupta15june Can I work on this issue??

[2022-05-19 14:50] Rishitha1234 opened #1148 "FACE DETECTION USING HARRCASCADES"
Want to detect the face using different harrcascade algorithms.

[2022-05-20 04:25] akshitagupta15june commented on #1148
u can work on it

[2022-05-20 09:42] Rishitha1234 commented on #1148
I couldn't clone the repository . could you help me?

[2022-06-06 04:53] Teju-g49 commented on #66
How much time you are giving to me???

On Mon, 6 Jun, 2022, 10:16 am AKSHITA GUPTA, ***@***.***>
wrote:

[2022-08-02 12:08] akshitagupta15june opened #1208 "Readme improvement in face-x readme"
I can see that some of the badges and images are not working please look at this issue

[2022-08-02 12:09] #1208 closed

[2022-09-14 14:18] akshitagupta15june opened #1213 "3D face reconstruction"
https://github.com/akshitagupta15june/Face-X/tree/master/Face%20Reconstruction

[2022-09-14 14:18] #935 closed

[2022-09-14 14:19] akshitagupta15june opened #1214 "Add some cool animations (must be related to faces)"
Think of anything
Open for [discussion](https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Animation)

[2022-09-14 14:19] #993 closed

[2022-09-14 14:20] akshitagupta15june opened #1215 "Documentation Improvement (3D-Face-Movements)"
https://github.com/akshitagupta15june/Face-X/tree/master/3D-Face-Movements#readme
Please add more information and a guided readme showing all implemented operations

[2022-09-14 14:24] akshitagupta15june opened #1216 "Add a implementation to add different virtual backgrounds across faces like in google meets, zoom etc."
add you work in awesome face operations folder by creating your implementation folder inside it

[2022-09-14 14:26] akshitagupta15june opened #1217 "Predict the human emotion from different emojis"
![image](https://user-images.githubusercontent.com/57909583/190182006-c22f92cb-312d-43e6-a929-223adc1b2a55.png)

[2022-09-14 15:47] akshitagupta15june commented on #51
@shubhagupta21april

[2022-09-24 05:17] akshitagupta15june opened #1222 "Add slop 2.0 logo in engaging and collaboration in readme file"
![image](https://user-images.githubusercontent.com/57909583/192081238-88466c68-afb5-481c-8edd-22f0d9ea4dea.png)

[2022-09-24 05:21] akshitagupta15june opened #1223 "Add hacktoberfest logo in engaging and collaboration in readme file"
![image](https://user-images.githubusercontent.com/57909583/192081377-e6fb4b35-4874-499c-b688-baeac77242cb.png)

[2022-09-24 17:10] cyrilckurian commented on #1223
hello ,i would like to work on this issue can you assign this to me @akshitagupta15june

[2022-09-24 17:12] cyrilckurian commented on #1222
hello ,i would like to work on this issue, can you assign this to me @akshitagupta15june

[2022-09-25 03:33] akshitagupta15june commented on #1223
ok

[2022-09-25 04:05] sceary-expert commented on #1223
Can you provide the link of the readme file you are talking about?

[2022-09-25 04:49] ArshErgon commented on #1223
@akshitagupta15june why that image was not good? #1224

[2022-09-25 04:50] akshitagupta15june commented on #1223
actually i already added the image in the issue if you have seen and also the picture you added was not aligned and was in wrong place it should be in engaging and collaboration

[2022-09-25 05:06] ArshErgon commented on #1223
@akshitagupta15june yeah I saw that, but I thought you have put that as a reference, and I put it on the top so that it will the first thing visible to the user because the engaging & coll, if way too down. Anyway no problem will make a new branch and will give you a PR for this issue #1222

[2022-09-25 05:07] ArshErgon commented on #1222
/assign

[2022-09-25 05:12] akshitagupta15june commented on #1222
as you are workin on hacktoberfest issue @ArshErgon i am assigning this issue to @cyrilckurian

[2022-09-25 05:13] akshitagupta15june commented on #1223
assigning you @ArshErgon

[2022-09-25 05:13] akshitagupta15june commented on #1223
@cyrilckurian i have assigned you the other issue

[2022-09-25 05:15] ArshErgon commented on #1223
@akshitagupta15june  I just saw that eng & coll using a single png file for displaying it inline, so I also have to edit that single png file and add the hacktoberfest logo inside that? or just add the logo inside the eng & coll with same height and width as others?

[2022-09-25 05:31] cyrilckurian commented on #1222
I am participating in hacktoberfest , will create PR after Oct 1st

[2022-09-27 04:28] akshitagupta15june opened #1227 "Frontend Improvements required in Face-X website"
Discussion opened to make the website

https://github.com/akshitagupta15june/Face-X/tree/master/Face-X-Web

[2022-09-27 04:35] akshitagupta15june opened #1228 "add a cool snapchat or insta filter for Diwali, Dussehra using opencv"
Makesure that the filter is not already available in this folder https://github.com/akshitagupta15june/Face-X/tree/master/Snapchat_Filters
![image](https://user-images.githubusercontent.com/57909583/192432974-a33127c9-7603-4a99-85a0-64193977dcc3.png)

[2022-09-27 04:36] akshitagupta15june opened #1229 "Add some motion animation filters for insta or snapchat using opencv"
For example crackers on the filters and many more

not specific to diwali only , make some motion filters

[2022-09-28 08:07] #1223 closed

[2022-10-01 06:50] Riddhiman-M commented on #1228
Hi! I would like to work on this enhancement issue, can you please assign this to me @akshitagupta15june ?

[2022-10-01 06:53] akshitagupta15june commented on #1228
Anyone can work on this no need of assigning

[2022-10-02 05:50] Anshul-13J commented on #1148
I would like to work on this project

[2022-10-02 05:55] akshitagupta15june commented on #1148
go for it @Anshul-13J

[2022-10-03 05:55] #1148 closed

[2022-10-03 11:09] akshitagupta15june commented on #1217
Fine go for it

[2022-10-03 11:09] akshitagupta15june commented on #1217
It's like if any emoji is shown through camera then emotions can be predicted

[2022-10-03 11:25] AvinashDwivedi commented on #1217
okay got it, Thank you thanks a lot

[2022-10-04 06:03] tiassap commented on #1213
Dear Mam, can I work on this? I am participating on hacktoberfest

[2022-10-05 11:19] MrNesli commented on #1229
Hey, I'd like to work on this issue as my first contribution to open source project. Can you assign this to me?

[2022-10-05 11:33] akshitagupta15june commented on #1229
U can work on it

[2022-10-06 02:32] akshitagupta15june commented on #936
https://github.com/akshitagupta15june/Face-X/tree/master/Virtual_makeover

[2022-10-06 04:11] Anuran12 commented on #1227
I would like to improve the frontend.

[2022-10-06 17:08] Rishyanth opened #1237 "Feature request"
**Is your feature request related to a problem? Please describe.**
Want to add a simple space escape game which works with face movement to the Face-X Games.

**Describe the solution you'd like**
Using python libraries to implement this.

[2022-10-07 02:34] akshitagupta15june commented on #1237
go for it

[2022-10-07 15:00] #1237 closed

[2022-10-08 14:32] hemanthraj2001 commented on #932
@akshitagupta15june I want to work on this issue for hacktober fest. Could you please assign this to me?

[2022-10-09 07:07] #1227 closed

[2022-10-09 08:50] Aarthy153 opened #1243 "Add a Blur Filter for the directory /Snapchat_Filters"
Blur Filter is used by many of us in day to today primarily for retouching images—to soften, haze, cloud, fuzz, or distort specific areas of a picture. Can you assign this issue to me @akshitagupta15june?

[2022-10-09 09:03] Aarthy153 opened #1244 "Add Negative (invert) filter in the /Snapchat_Filters directory."
Use the negative filter to invert the colors of your picture in less than a minute. Can you assign this issue to me? @akshitagupta15june

[2022-10-10 06:40] #1222 closed

[2022-10-11 12:18] #1243 closed

[2022-10-11 14:18] ParnaviKulkarni commented on #1216
I can work on this. Please assign this issue to me.

[2022-10-11 14:39] Anshul-13J commented on #1126
I would like to work on this

[2022-10-11 14:50] Aarthy153 commented on #66
I want to add a filter called Obama- which converts photos into a poster-like look. Can you assign this to me? @akshitagupta15june

[2022-10-11 15:10] Aarthy153 commented on #1216
I have created a Real-Time Background Replacement using OpenCV and CVzone. Please assign this to me. I will give a PR for a review. @akshitagupta15june. Working on this for hacktoberfest and SLoP 2.0

[2022-10-11 15:22] #1116 closed

[2022-10-11 15:47] Aarthy153 commented on #1244
@akshitagupta15june Please add hacktoberfest and SLoP 2.0 label to this issue

[2022-10-11 21:15] Sumedha4 commented on #1228
Hi! I would like to work on this. I wanted to ask if its necessary that the filters must be diwali related?

[2022-10-11 21:15] Sumedha4 commented on #1228
Hi! I would like to work on this. I wanted to ask if its necessary that the filters must be diwali related? @akshitagupta15june

[2022-10-13 09:25] Sumedha4 commented on #66
Hello i would like to contribute to this repo under Hacktoberfest. Please assign this to me

[2022-10-13 16:02] #1244 closed

[2022-10-14 08:21] MrNesli commented on #1216
Was this one already implemented? Or should I work on it?

[2022-10-14 15:07] disha100 commented on #1100
@akshitagupta15june  I wanna work on this issue
can you assign me this ?

[2022-10-16 16:24] Aarthy153 commented on #1133
I can work on this, kindly assign this to me!

[2022-10-23 14:23] eziorobinhood commented on #66
Hai, I would like to contribute to this repo for hacktoberfest. Can you please assign this to me.

[2022-10-25 09:08] KuberaPrijesh commented on #66
I want to add some filters cowboy, convert face without mask into with mask and thug life filter, - which converts photos into a man with a cowboy hat, and(thug life) filter which put a cool glass on face and some colours in the background. Can you assign this to me? I want to work on this for Hacktoberfest. @akshitagupta15june

[2022-10-27 05:18] KuberaPrijesh commented on #938
I like to work on this issue.

[2022-10-27 06:15] muditchoudhary commented on #938
@KuberaPrijesh I see someone already made a pr for this. I think it should be closed now. @akshitagupta15june should this issue be closed?

[2022-10-27 06:23] akshitagupta15june commented on #938
True

[2022-10-27 06:23] #938 closed

[2022-10-27 06:26] KuberaPrijesh commented on #936
Hi @akshitagupta15june where can I add my filters in this project

[2022-10-27 06:30] KuberaPrijesh commented on #66
Hi @akshitagupta15june

[2022-10-27 06:35] akshitagupta15june commented on #936
Folder is given in above comment

[2022-10-27 10:19] KuberaPrijesh commented on #936
Ok thank you

[2022-11-05 13:18] Aarthy153 opened #1265 "Add a Face-Super Resolution module in the Awesome-Face-Operations folder"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-11-06 06:26] Aarthy153 opened #1266 "Add a Face-to-Avatar converter in the awesome-face-operation directory."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-11-07 15:32] #1266 closed

[2022-11-07 17:00] akshitagupta15june commented on #1265
can u describe what u want to implement

[2022-11-07 17:13] Aarthy153 commented on #1265
Super- Resolution is the process of converting low-resolution images to high-resolution images. The approach is to provide super-resolution images with the concept of Deep learning. With this approach, you can perform super-resolution without affecting image quality. For this, the approach is named SRGAN, which is a generative adversarial network for single-image super-resolution. It uses a percep

[2022-11-12 10:46] #1265 closed

[2022-11-18 05:00] Aarthy153 opened #1278 "Add a Face - Generation GAN to the Awesome-"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-11-18 05:02] Aarthy153 opened #1279 "Add a Face - Generation GAN to the Awesome-Face operations directory."
For face generation GAN I am using PyTorch, OpenCV, Matplotlib, and NumPy.
Results will be :

- random faces.
- generator vs discriminator graph.

[2022-11-18 05:24] #1278 closed

[2022-11-18 05:26] Aarthy153 opened #1280 "Add a educational Kids face gesture game to the Face-X gaming directory."
I need to add an Educational Kids' game that uses facial gestures to classify eatable and not-eatable fruits. I am using, CVzone, media pipe, face mesh module, and cv2 to do the game.

[2022-11-21 14:06] #1279 closed

[2022-11-21 16:11] Aarthy153 opened #1285 "Add a 3D head tracking car movement using Computer vision and Unity"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-11-22 12:03] Aarthy153 opened #1297 "Add a Camera Application using tkinter to the Face-X GUI directory."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2022-11-22 16:39] #1297 closed

[2022-11-22 16:57] #1285 closed

[2022-11-22 16:58] #1280 closed